# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# PEP 582
__pypackages__/

app/assets/preview/card*
backups/
config/
fonts/
front/node_modules/
front/
frontend/
front_nui/
modules/.objects/
node_modules/
yml/
*._*
*.prof
.DS_Store
missing.yml
preferences.yml
