# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# PEP 582
__pypackages__/

app/
config/
docs/
source/
logs/
fonts/
modules/.objects/
node_modules/
yaml/
yml/
*._*
*2.py
*.prof
.DS_Store