# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# PEP 582
__pypackages__/

backend/app/assets/preview/card*
backend/modules/.objects/
backups/
config/
fonts/
frontend/cypress/results/
frontend/cypress/screenshots/
frontend/node_modules/
frontend/.next/
yml/
*._*
*.prof
.DS_Store
.env
missing.yml
preferences.yml
temp*.jpg
uv.lock
