[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
regex = "==2023.3.23"
num2words = "==0.5.12"
pyyaml = "==6.0"
requests = "==2.31.0"
titlecase = "==2.4"
tqdm = "==4.65.0"
fonttools = "==4.40.0"
plexapi = "==4.14.0"
tenacity = "==8.2.2"
tinydb = "==4.7.1"
schedule = "==1.2.0"
tmdbapis = "==1.2.0"
"ruamel.yaml" = "==0.17.21"
imagesize = "*"

[dev-packages]

[requires]
python_version = "3.9"
