[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
regex = "==2022.10.31"
num2words = "==0.5.12"
pyyaml = "==6.0"
requests = "==2.28.1"
titlecase = "==2.4"
tqdm = "==4.64.1"
fonttools = "==4.38.0"
plexapi = "==4.13.2"
tenacity = "==8.1.0"
tinydb = "==4.7.0"
schedule = "==1.1.0"
tmdbapis = "==1.1.0"
"ruamel.yaml" = "*"
uvicorn = "*"
fastapi = "*"
sqlalchemy = "*"
python-multipart = "*"
jinja2 = "*"
pydantic = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.9"
