/* Override width of all sync cards */
.ui.card {
  max-width: 250px !important;
}

/* Thematically color each connection card */
.card {
  --_connection-color: var(--connection-color, rgba(34,36,38,.12));
  box-shadow: -2px 2px 3px var(--_connection-color) !important;
}
#emby-syncs .card {
  --connection-color: #4CAF50;
}
#jellyfin-syncs .card {
  --connection-color: rgb(108,119,199);
}
#plex-syncs .card {
  --connection-color: rgb(226,179,61);
}
#sonarr-syncs .card {
  --connection-color: rgb(92,201,250);
}

/* Custom add card */
.add.card {
  display: inline-block !important;
  position: absolute;
  background: transparent !important;
  box-shadow: none !important;
}
.add.card > .content {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

/* Show hover icon on all Sync buttons */
.card .content i.icon {
  cursor: pointer;
}

/* Color edit Sync icon on hover  */
.card .content i.edit.icon:hover {
  color: #2ecc40;
}

/* Color Sync now icon on hover */
i.sync.icon:hover {
  color: #2185d0;
  /* size: 110%; */
}
