#search-results .card {
  /* Cap height at poster height */
  max-height: 225px;
  /* Scroll very long descriptions */
  overflow: scroll;
}

.disabled.card img {
  filter: grayscale(50%) blur(0.8px);
}

.card [data-action="blacklist-blueprint"]:hover {
  color: #db2828 !important;
}

/* Scroll very long Blueprint descriptions */
.card .content .description {
  max-height: 150px;
  overflow-y: scroll;
}

.card .multi.image {
  /* Make sure multi image backgrounds are scaled down */
  background-size: 100% 100% !important;
  max-height: 225px;
}
.card .multi.image * {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* For multi-image cards, tilt the image when hovered */
.card .multi.image:hover img {
  rotate: -2deg;
  -webkit-transform: translate(-2%);
  transform: translate(-2%);
  /* filter: blur(1px); /* grayscale(70%) blur(1px); */
}