/* Add vertical padding around button */
form > *:last-child {
  /* padding-top: 1em !important; */
}

/* Reduce margin between adjacent user fields */
#auth-settings .fields {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

/* Blur private input fields when not selected or hovered */
input.private:not(:hover,:focus) {
  color: transparent !important;
  text-shadow: 0 0 8px rgba(0,0,0,0.5);
}

/* The first (enable) checkbox needs additional margin */
.connection-form .checkbox:first-child {
  margin-bottom: 1em;
}

/* Ensure the Sonarr libraries info message is compact */
.visible.compact.message {
  display: inline-block !important;
}

/* Equal padding on Sonarr library fields */
.dropdown ~ .dropdown {
  margin-top: 4px !important;
}

/* Right-float spans inside accordion titles */
.accordion > .title {
  display: flex;
  justify-content: space-between;
}
.accordion > .title > .right.floated {
  flex: 1;
  text-align: right;
  /* Reduce opacity of right floated text */
  opacity: 50%;
}