/* Style series cards */
.series-name {
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ui.cards > .card {
  min-width: 100px;
  width: 10%;
  max-width: 150px
}

/* Force the aspect ratio for all posters */
.card img {
  aspect-ratio: 1 / 1.5;
}

/* Make unmonitored posters grayscale/blur */
.card img.unmonitored {
  filter: grayscale(100%) blur(4px);
  /* filter: blur(4px); */
}

/* Do not round edges of progress bars */
.card .ui.progress {
  border-radius: 0;
}

/* Remove minimum width on progress bar */
.card .ui.progress.attached .bar {
  min-width: 0;
}

/* Mobile formatting */
@media (max-width: 768px) {
  /* Hide statistics */
  #statistics {
    display: none !important;
  }

  /* Show 3 cards/row */
  .ui.cards .card {
    min-width: unset;
    width: calc(33% - 1em);
  }

}

/* Pulse cards on hover - alternate */
.ui.cards > .card:hover {
  animation: pulse 0.75s 1; 
}
@keyframes pulse {
  0%, 
  100% {
    animation-timing-function: ease-in;
  }
  50% {
    transform: scale(1.03);
  }
}

/* Pulse the add series button on hover */
#add-series:hover {
  animation: pulse 2s infinite;
}

#toolbar {
  position: fixed;
  z-index: 11; /* Z index of the blur shadow overlay on posters is 10 */
  line-height: 50px; /* Center text vertically inside the div */
  /* Start the toolbar on the right side of the screen, move left */
  display: inline-block;
  right: 30px;
}

#toolbar > .menu {
  margin-left: 10px;
}

/* Add drop shadow to all children of the toolbar */
#toolbar > * {
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.3),0 2px 10px 0 rgba(34,36,38,.40);
}

/* Rotate toolbar icons when pressed */
#toolbar >* i.icon {
  transform: rotate(0deg);
        transition: transform 0.5s ease-in-out;
}
#toolbar >* i.icon.rotate {
  transform: rotate(180deg);
}

/* Ensure sidebar starts on the right of the statistics */
#statistics {
  display: inline-block; 
  margin-bottom: 10px;
}

/* Add spacing between pagination menu and series cards */
#pagination {
  margin-top: 25px;
}

/* START OF TEST */
:root {
  --layer-size: 9em;
  --moveup-distance: 2em; /* 1em */
  --x-rotation: 57deg; /* 50deg */
  --inter-layer-margin: 3.5em;
}
/**
 * Create the loop delay with
 * the extra keyframes
 */
@keyframes moveup {
  0%, 60%, 100% {
    transform: rotateX(var(--x-rotation)) rotateY(0deg) rotateZ(45deg) translateZ(0);
  }
  25% {
    transform: rotateX(var(--x-rotation)) rotateY(0deg) rotateZ(45deg) translateZ(var(--moveup-distance));
  }
}
@keyframes movedown {
  0%, 60%, 100% {
    transform: rotateX(var(--x-rotation)) rotateY(0deg) rotateZ(45deg) translateZ(0);
  }
  25% {
    transform: rotateX(var(--x-rotation)) rotateY(0deg) rotateZ(45deg) translateZ(calc(-1 * var(--moveup-distance)));
  }
}
/**
 * Square layer styles
 */
.container .layer {
  display: block;
  position: absolute;
  height: var(--layer-size);
  width: var(--layer-size);
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.2); /* 3px 3px 2px rgba(0, 0, 0, 0.2); */
  transform: rotateX(var(--x-rotation)) rotateY(0deg) rotateZ(45deg);
  background-color: rgba(29, 29, 29, 0.9);
}
.container .layer:nth-of-type(1) {
  border: 1.25em solid var(--tcm-blue-color);
  margin-top: var(--inter-layer-margin); /* 1.5em; */
  -webkit-animation: movedown 1.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.9s infinite normal;
          animation: movedown 1.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.9s infinite normal;
}
.container .layer:nth-of-type(2) {
  border: 1.25em solid white;
  margin-top: calc(var(--inter-layer-margin) / 2.0); /* 0.75em; */
}
.container .layer:nth-of-type(3) {
  border: 1.25em solid var(--tcm-blue-color);
  -webkit-animation: moveup 1.8s cubic-bezier(0.39, 0.575, 0.565, 1) infinite normal;
          animation: moveup 1.8s cubic-bezier(0.39, 0.575, 0.565, 1) infinite normal;
}
/* .container .layer:nth-of-type(3)::after {
  content: "";
  position: absolute;
  bottom: 0.75em;
  right: 0.75em;
  clip-path: url(#clip);
  border-right: 5em solid white;
  border-bottom: 5em solid transparent;
  border-left: 5em solid transparent;
} */

/* Stage and link styles */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}