/* Override card width for poster */
.ui.card {
  width: auto;
}

#poster {
  min-height: 200px;
}

#card-count > span {
  /* Indicate stats can be clicked to refresh */
  cursor: pointer;
  /* Pulsate once when refreshing */
  animation: pulsate 800ms cubic-bezier(.46,.03,.52,.96) 1;
}
@keyframes pulsate {
  0%, 100% { 
    opacity: 1.0;
  }
  50% { 
    opacity: 0;
  }
}

#action-buttons .divider[data-interface="Emby"] span[data-value="interface-type"] {
  color: #4CAF50;
}
#action-buttons .divider[data-interface="Jellyfin"] span[data-value="interface-type"] {
  color: rgb(108,119,199);
}
#action-buttons .divider[data-interface="Plex"] span[data-value="interface-type"] {
  color: rgb(226,179,61);
}

/* Remove minimum width on progress bar */
#card-progress .bar {
  min-width: 0;
}

/* Reduce margin between extra fields */
.field[data-value="extras"] .field {
  margin-bottom: 0.3em;
}

/* Add field buttons appear transparent */
.add-field.button {
  background: transparent;
}

/* Inine fields need to flex and align content in the middle of their div */
#new-episode-form .inline.field {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
#new-episode-form .number.input {
  width: 85px;
}
#new-episode-form .text.input {
  width: 100%;
  overflow-wrap: break-word;
}

/* Add top padding above the delete button for each episode */
.tab[data-tab="episode-data"] .negative.button {
  margin-top: 5px;
}

/* Fix width of new episode modal */
#new-episode-modal {
  width: 500px !important;
}
/* Use right-aligned inline labels */
#new-episode-form label {
  flex: 0 0 125px;
  display: flex;
  margin-right: 10px;
  justify-content: flex-end;
  text-align: right;
}

/* Position table header below page header drop shadow */
.table thead {
  z-index: 3;
}

/* Fade any indetermine status icons */
.table .question.icon {
  opacity: 30%;
}

/* Show the icon is clickable by changing the cursor on hover */
.table .ui.icon:hover {
  cursor: pointer;
}
.table td.center.aligned input {
  text-align: center !important;
}

/* Set default width of input fields */
.table .transparent.id.input input,
.table .transparent.number.input input,
.table .transparent.short.input input {
  width: 8ch;
}
/* IMDB ID inputs are slightly larger */
.table .transparent.id.input input[name="imdb_id"] {
  width: 10ch;
}

#episode-data-table .ui.multiple.dropdown {
  padding: unset;
}

/* Desktop only formatting */
@media (min-width: 768px) {
  /* Limit card size to 33% */
  .tab[data-tab="files"] .accordion .image,
  .tab[data-tab="files"] .cards .card {
    max-width: calc(32% - 1em);
  }
}

/* Show cursor on all file card icons, and images in tmdb modal */
#source-images .card .icon,
#browse-tmdb-modal .image.content .images a,
#browse-tmdb-logo-modal .image.content .images a,
#card-previews img {
  cursor: pointer;
}

/* File search icon should color semantic blue on hover */
#source-images .card i[data-action="search"]:hover {
  color: #2185d0;
}

/* Upload file icon should color semantic green on hover */
#source-images .card i[data-action="upload"]:hover {
  color: #21ba45;
}

/* The TMDb logo should be 14px high */
img[data-action="browse-tmdb"] {
  height: 14px;
  padding-right: 3px;
}

/* Add padding between images on TMDb image browser */
#browse-tmdb-modal .image.content .images a,
#browse-tmdb-logo-modal .image.content .images a {
  display: inline-block;
  margin: 0 .25rem 0.5rem;
}

/* Add border around TMDb logos */
#browse-tmdb-logo-modal .image.content .images a {
  border: 2px dashed #ffffff3d;
  padding: 10px;
}

/* Limit height of logo and backdrop images */
#logo, #backdrop {
  object-fit: contain;
  max-height: 450px;
}

.card .multi.image {
  /* Make sure multi image backgrounds are scaled down */
  background-size: 100% 100% !important;
}
.card .multi.image * {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* For multi-image cards, tilt the image when hovered */
.card .multi.image:hover img {
  rotate: -2deg;
  -webkit-transform: translate(-2%);
  transform: translate(-2%);
  /* filter: blur(1px); /* grayscale(70%) blur(1px); */
}