/* Excluded card types have reduced opacity, strikethrough and italic effects */
#excluded-card-types .menu .active.item {
  opacity: 30%;
  text-decoration: line-through;
  font-style: italic;
}

/* Change coloring of slider labels in dark mode */
.inverted.slider .labels .label {
  color: #ccc;
}

#settings .horizontal.card {
  width: 100%;
}
.ui.card.horizontal > .image, .ui.horizontal.cards > .card > .image {
  width: 400px;
  max-width: 400px;
}

/* Reduce opacity of system info labels */
.system.info .label:not(.inverted) {
  background-color: color-mix(in srgb, #2185d0, transparent) !important;
}
.system.info .inverted.label {
  background-color: color-mix(in srgb, #54c8ff, transparent) !important;
}