/* Logo colors */
.emby {
    color: #4CAF50
}
.jellyfin {
    color: rgb(108,119,199);
}
.plex {
    color: rgb(226,179,61);
}

/* Generic icon colors */
.green {
    color: #4cae4f
}
.red {
    color: #ef5552
}