<!DOCTYPE html>
<html lang="en">

<head>
  <title>Add Series - TitleCardMaker</title>
  {% include "./html_boilerplate.html" %}

  <script type="text/javascript">
    {% include "./js/addSeries.js" %}
  </script>

  <link rel="stylesheet" type="text/css" href="/templates/css/addSeries.css"/>

  <template id="search-result-template">
    <div class="ui horizontal fluid link card transition hidden"> <!-- Start hidden so object can be transitioned in -->
      <div class="image">
        <img onerror="this.onerror=null; this.src='/internal_assets/placeholder.jpg'" loading="lazy">
      </div>
      <div class="content">
        <div data-value="name" class="header">{Series Name}</div>
        <div class="meta">
          <span data-value="year">{Year}</span>
          <span data-value="ongoing">{Ongoing}</span>
          <span class="right floated">
            <button data-action="quick-add" class="ui compact green button">
              <i class="plus icon"></i>
              Quick-Add
            </button>
          </span>
        </div>
        <div data-value="overview" class="description">
          <p>{description}</p>
        </div>
      </div>
    </div>
  </template>

  <template id="result-placeholder-template">
    <div class="ui fluid placeholder">
      <div class="image header">
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="paragraph">
        <div class="medium line"></div>
        <div class="short line"></div>
      </div>
    </div>
  </template>

  <template id="blueprint-placeholder-template">
    <div class="ui horizontal card">
      <div class="image">
        <div class="ui placeholder">
          <div class="square image"></div>
        </div>
      </div>
      <div class="content">
        <div class="ui placeholder">
          <div class="header">
            <div class="very short line"></div>
            <div class="medium line"></div>
          </div>
          <div class="paragraph">
            <div class="short line"></div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <template id="blueprint-template">
    <div class="ui raised card">
      <div class="image">
        <img loading="lazy">
      </div>
      <div class="content">
        <div data-value="creator" class="header">{author}</div>
        <div class="meta">
          <span data-value="font-count"><b>{x}</b> Named Font</span>
          <span data-value="template-count"><b>{x}</b> Template</span>
          <span data-value="episode-count"><b>{x}</b> Episode Overrides</span>
          <span data-value="file-count"><b>{x}</b> Source Files</span>
          <div class="ui mini uninvertible popup">
            <div class="header">Imported Source Files</div>
            <div class="content"></div>
          </div>
        </div>
        <div data-value="description" class="description"><!-- <p>Description</p> --></div>
      </div>
      <div class="extra content">
        <a data-action="import-blueprint" class="left floated">
          <i class="cloud download alternate icon"></i>
          Import Series and Blueprint
        </a>
      </div>
    </div>
  </template>

  <template id="all-blueprint-template">
    <div class="ui raised card transition hidden"> <!-- Start hidden so object can be transitioned in -->
      <div class="image">
        <img loading="lazy">
      </div>
      <div class="content">
        <div data-value="series_full_name" class="header">{series_name} ({series_year})</div>
        <div class="meta">
          <span><i>by</span><span data-value="creator">{author}</span></i>
          <span data-value="font-count"><b>{x}</b> Named Font</span>
          <span data-value="template-count"><b>{x}</b> Template</span>
          <span data-value="episode-count"><b>{x}</b> Episode Overrides</span>
          <span data-value="file-count"><b>{x}</b> Source Files</span>
          <div class="ui mini uninvertible popup">
            <div class="header">Imported Source Files</div>
            <div class="content"></div>
          </div>
        </div>
        <div data-value="description" class="description"><!-- <p>Description</p> --></div>
      </div>
      <div class="extra content">
        <a data-action="import-blueprint" class="left floated">
          <i class="cloud download alternate icon"></i>
          Import Series and Blueprint
        </a>
        <a data-action="blacklist-blueprint" class="right floated" data-tooltip="Do not show this Blueprint on this Page">
          <i class="eye slash outline icon"></i>
          Hide Blueprint
        </a>
      </div>
    </div>
  </template>
</head>

<body onload="initAll();">
  <div class="pusher">
    <!-- Static header and sidebar -->
    <div id="page-header">
      {% include "./header.html" %}
    </div>
    <div id="nav-menu">
      {% include "./home_sidebar.html" %}
    </div>

    <!-- Actual page content -->
    <div id="main-content" class="article">
      <h1 class="ui header">Add Series or Blueprint</h1>

      <!-- Series Name -->
      <h4 class="ui horizontal left aligned divider header">
        <i class="search icon"></i>
        Browse Series
      </h4>

      <div class="ui blue right action left icon input">
        <i class="search icon"></i>
        <input id="search-query" type="text" placeholder="Search" autofocus>
        <div id="search-source" class="ui basic floating dropdown button" data-tooltip="Which connection to search">
          <input id="search-interface" type="hidden">
          <div class="default text"></div>
          <i class="dropdown icon"></i>
          <div class="menu"><!-- Added asynchronously --></div>
        </div>
      </div>
      <button id="startSearch" class="ui primary button" onclick="querySeries();">Search</button>

      <div id="search-results" class="ui raised segment"><!-- Added asynchronously --></div>
      <div class="ui info message">
        <div class="header">Quick-Adding</div>
        Quick-adding a Series uses the <i>last selected</i> Library and Templates.
      </div>

      <!-- Blueprints -->
      <h4 class="ui horizontal left aligned divider header">
        <i class="sitemap icon"></i>
        Browse Blueprints
      </h4>

      <div class="ui action input">
        <select data-value="order_by" class="ui compact selection dropdown">
          <option value="date" selected="">Order by Date</option>
          <option value="name">Order by Name</option>
        </select>
        <button class="ui green button" onclick="queryAllBlueprints();">
          <!-- <i class="search icon"></i> -->
          Browse Blueprints
        </button>
      </div>
      <br><br>
      <div class="ui two fields">
        <div data-value="include_missing_series" class="ui checkbox field">
          <label>Only include existing Series</label>
          <input type="checkbox" name="include_missing_series">
          <p class="help">Exclude Blueprints for Series not in TitleCardMaker</p>
        </div>
        <br>
        <div data-value="included_imported" class="ui checkbox checkbox">
          <label>Include previously imported</label>
          <input type="checkbox" name="included_imported">
          <p class="help">Include Blueprints that have been previously imported</p>
        </div>
      </div>

      <!-- <button class="ui green tertiary button" onclick="queryAllBlueprints();">
        <i class="search icon"></i>
        Search for Blueprints
      </button> -->
      <div class="ui raised segment">
        <div id="all-blueprint-results" class="ui three stackable raised cards"><!-- Added asynchronously --></div>
      </div>
      <div id="blueprint-pagination" class="ui centered pagination menu"><!-- Pagination added later --></div>
    </div>

    <!-- Modals -->
    <div id="add-series-modal" class="ui large scrolling modal">
      <i class="close icon"></i>
      <div data-value="series-name-header" class="header">Add Series</div>
      <div class="scrolling content">
        <form class="ui form">
          <h4 class="ui dividing header">Library</h4>
          <div class="three fields">
            {% if preferences.use_emby %}
            <div class="ui field">
              <label>Emby Library</label>
              <div data-value="emby_library_name" class="ui selection clearable dropdown">
                <input data-value="emby_library_name" name="emby_library_name" type="hidden">
                <div class="default text">None</div>
                <i class="dropdown icon"></i>
                <div class="menu"><!-- Added asynchronously --></div>
              </div>
            </div>
            {% endif %}

            {% if preferences.use_jellyfin %}
            <div class="ui field">
              <label>Jellyfin Library</label>
              <div data-value="jellyfin_library_name" class="ui selection clearable dropdown">
                <input data-value="jellyfin_library_name" name="jellyfin_library_name" type="hidden">
                <div class="default text">None</div>
                <i class="dropdown icon"></i>
                <div class="menu"><!-- Added asynchronously --></div>
              </div>
            </div>
            {% endif %}

            {% if preferences.use_plex %}
            <div class="ui field">
              <label>Plex Library</label>
              <div data-value="plex_library_name" class="ui selection clearable dropdown">
                <input data-value="plex_library_name" name="plex_library_name" type="hidden">
                <div class="default text">None</div>
                <i class="dropdown icon"></i>
                <div class="menu"><!-- Added asynchronously --></div>
              </div>
            </div>
            {% endif %}
          </div>

          <h4 class="ui dividing header">Card Configuration</h4>
          <div class="field">
            <label>Templates</label>
            <div data-value="template_ids" class="ui compact clearable search selection multiple dropdown">
              <input data-value="template_ids" name="template_ids" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">None</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
          </div>

          <h4 class="ui dividing header">Blueprints</h4>
          <button data-action="search-blueprints" class="ui green tertiary button">
            <i class="search icon"></i>
            Search for Blueprints
          </button>
          <div class="ui floating hidden warning icon message">
            <i class="exclamation icon"></i>
            <div class="content">
              <div class="header">No Blueprints Available</div>
              <span>There are no Blueprints available on <a href="https://github.com/CollinHeist/TitleCardMaker-Blueprints/" target="_blank">GitHub</a>.</span>
              <span>Feel free to submit your own.</span>
            </div>
          </div>
          <div id="blueprint-results" class="ui two stackable raised cards"><!-- Added asynchronously --></div>
        </form>
      </div>
      <div class="actions">
        <button class="ui cancel button">Cancel</button>
        <button data-action="add-series" class="ui green right labeled icon button">
          <i class="plus icon"></i>
          Add
        </button>
      </div>
    </div>
  </div>
</body>
</html>