<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TitleCardMaker</title>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/internal_assets/favicon//apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/internal_assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/internal_assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/internal_assets/favicon/site.webmanifest">

  <!-- Formantic UI -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.js"></script>

  <!-- JS Files -->
  <script type="text/javascript" src="/templates/loadStaticContent.js"></script>
  <script type="text/javascript" src="/templates/loadCardTypes.js"></script>
  <script type="text/javascript" src="/templates/theme.js"></script>
  <script type="text/javascript" src="/templates/helper.js"></script>
  <script type="text/javascript" src="/templates/messages.js"></script>

  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="/templates/style.css">
  <style>
    /* Style series cards */
    .series-name {
      text-align: center;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .ui.cards > .card {
      min-width: 100px;
      width: 10%;
      max-width: 150px
    }
    .card img {
      aspect-ratio: 1 / 1.5;
    }

    /* On mobile, show 3 cards/row */
    @media (max-width: 768px) {
      .ui.cards .card {
        min-width: unset;
        width: calc(33% - 1em);
      }
    }

    /* Pulse cards on hover - alternate */
    .ui.cards > .card:hover {
      animation: pulse 0.75s 1; 
    }
    @keyframes pulse {
      0%, 
      100% {
        animation-timing-function: ease-in;
      }
      50% {
        transform: scale(1.03);
      }
    }

    /* Pulse the add series button on hover */
    #add-series:hover {
      animation: pulse 2s infinite;
    }

    #toolbar {
      position: fixed;
      z-index: 11; /* Z index of the blur shadow overlay on posters is 10 */
      line-height: 50px; /* Center text vertically inside the div */
      /* Start the toolbar on the right side of the screen, move left */
      display: inline-block;
      right: 30px;
    }

    #toolbar > .menu {
      margin-left: 10px;
    }
    
    /* Add drop shadow to all children of the toolbar */
    #toolbar > * {
      box-shadow: 0 2px 4px 0 rgba(34,36,38,.3),0 2px 10px 0 rgba(34,36,38,.40);
    }

    /* Rotate toolbar icons when pressed */
    #toolbar >* i.icon {
      transform: rotate(0deg);
			transition: transform 0.5s ease-in-out;
    }
    #toolbar >* i.icon.rotate {
      transform: rotate(180deg);
    }

    /* Ensure sidebar starts on the right of the statistics */
    #statistics {
      display: inline-block; 
      margin-bottom: 10px;
    }

    /* Add spacing between pagination menu and series cards */
    #pagination {
      margin-top: 25px;
    }
  </style>

  <!-- Scripts -->
  <script>
    // Get all series and load their cards into HTML
    async function getAllSeries(page=1) {
      // Get associated sort query param
      const sortState = window.localStorage.getItem('series-sort-order') || 'a-z';
      const sortParam = {
        'id-asc': 'id',
        'id-desc': 'reverse-id',
        'a-z': 'alphabetical',
        'z-a': 'reverse-alphabetical',
        'year-asc': 'year',
        'year-desc': 'reverse-year',
      }[sortState];

      // Get this page of Series data
      let allSeriesData = await fetch(`/api/series/all?order_by=${sortParam}&size=100&page=${page}`).then(resp => resp.json());
      let allSeries = allSeriesData.items;

      // Create Series cards
      const template = document.querySelector('#series-template');
      let allSeriesCards = allSeries.map(series => {
        const clone = template.content.cloneNode(true);
        const topDiv = clone.querySelector('div');
        topDiv.setAttribute('data-series-id', series.id);
        topDiv.setAttribute('data-series-sort-name', series.sort_name);
        topDiv.setAttribute('data-series-year', series.year);
        const img = clone.querySelector('img');
        img.src = series.small_poster_url; img.alt = `Poster for ${series.name}`;
        const as = clone.querySelectorAll('a');
        as[0].href = `/series/${series.id}`;
        as[1].href = `/series/${series.id}`;
        const title = clone.querySelector('.series-name');
        title.setAttribute('title', `${series.name} (${series.year})`);
        title.innerText = series.name;

        return clone;
      });
      document.getElementById('series-list').replaceChildren(...allSeriesCards);

      // Update pagination
      updatePagination({
        paginationElementId: 'pagination',
        navigateFunction: getAllSeries,
        page: allSeriesData.page,
        pages: allSeriesData.pages,
        amountVisible: 5,
        hideIfSinglePage: true,
      });

      $('.ui.cards .image').dimmer({
        on: 'ontouchstart' in document.documentElement ? 'click' : 'hover'
      });

      // Refresh theme for any newly added HTML
      refreshTheme();
    }

    // Get all statistics and load them into HTML
    async function getAllStatistics() {
      const statistics = await fetch('/api/statistics').then(resp => resp.json());
      const statisticsElement = document.getElementById('statistics');
      const template = document.querySelector('#statistic-template');
      statistics.forEach(({value_text, unit, description}) => {
        const clone = template.content.cloneNode(true);
        clone.querySelector('.statistic').title = description;
        clone.querySelector('.value').innerText = value_text;
        clone.querySelector('.label').innerText = unit;
        statisticsElement.appendChild(clone);
      });
    }

    // Get libraries and update dropdown in add series modal
    async function getLibraries() {
      // Only make API request if the library element is loaded/present
      if (document.getElementById('#emby-library') !== undefined) {
        const embyLibraries = await fetch('/api/available/libraries/emby').then(resp => resp.json());
        const values = 
        $('#emby-library').dropdown({
          values: embyLibraries.map(name => {
            return {name: name, value: name};
          }),
        });
      }

      if (document.getElementById('#jellyfin-library') !== undefined) {
        const jellyfinLibraries = await fetch('/api/available/libraries/jellyfin').then(resp => resp.json());
        const values = 
        $('#jellyfin-library').dropdown({
          values: jellyfinLibraries.map(name => {
            return {name: name, value: name};
          }),
        });
      }

      if (document.getElementById('#plex-library') !== undefined) {
        const plexLibraries = await fetch('/api/available/libraries/plex').then(resp => resp.json());
        $('#plex-library').dropdown({
          values: plexLibraries.map(name => {
            return {name: name, value: name};
          }),
        });
      }
    }

    // Get all templates and add to new series modal
    async function getTemplates() {
      if (document.getElementById('#templates') !== undefined) {
        const templates = await fetch('/api/templates/all').then(resp => resp.json());
        $('#templates').dropdown({
          values: getActiveTemplates(null, templates),
        });
      }
    }

    async function initAll() {
      getAllStatistics();
      getLibraries();
      getTemplates();
    }
  </script>

  <!-- Templates -->
  <template id="series-template">
    <div class="ui raised card">
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <a>
                <div class="ui inverted button">View</div>
              </a>
            </div>
          </div>
        </div>
        <img loading="lazy">
      </div>
      <div class="content">
        <a>
          <div class="series-name ui tiny header"></div>
        </a>
      </div>
    </div>
  </template>

  <template id="statistic-template">
    <div class="ui statistic">
      <div class="value">VALUE</div>
      <div class="label">LABEL</div>
    </div>
  </template>
</head>

<body onload="initAll();">
  <div>
    <!-- Static header and sidebar loaded by external script -->
    <div id="page-header"></div>
    <div id="nav-menu"></div>

    <!-- Actual page content -->
    <div id="main-content" class="article">
      <div id="statistics" class="ui small statistics"><!-- Added asynchrously --></div>

      <div id="toolbar">
        <!-- Add new Series -->
        <div id="add-series" class="ui compact blue inverted menu" title="Add a new series">
          <a class="blue item">
            <i class="plus icon"></i>
            New Series
          </a>
        </div>

        <!-- Sort buttons -->
        <div class="ui compact blue inverted menu">
          <a class="item" title="Sort titles by ID" onclick="sortSeries(this, 'id')">
            <i id="sort-by-id" class="sort icon"></i>
          </a>
          <a class="item" title="Sort titles alphabetically" onclick="sortSeries(this, 'title')">
            <i id="sort-by-az" class="sort alphabet down icon"></i>
          </a>
          <a class="item" title="Sort titles by release year" onclick="sortSeries(this, 'year')">
            <i id="sort-by-year" class="sort numeric down icon"></i>
          </a>
        </div>
      </div>

      <!-- Actual series content, added asynchronously -->
      <div id="series-list" class="ui cards"></div>

      <div id="pagination" class="ui centered pagination menu"><!-- Pagination added later --></div>
    </div>

    <!-- Add series modal -->
    <div id="add-series-modal" class="ui mini modal">
      <i class="close icon"></i>
      <div class="header">Add New Series</div>
      <div class="content">
        <form id="new-series-form" class="ui form">
          <!-- Series name/year -->
          <div class="ui grid">
            <div class="ten wide required field">
              <label>Series Title</label>
              <input type="text" name="name" tabindex="0">
            </div>
            <div class="six wide required field">
              <label>Year</label>
              <input type="number" name="year" min="1900" placeholder="2023" tabindex="1">
            </div>
          </div>

          <!-- Templates -->
          <div class="compact field">
            <label>Templates</label>
            <div id="templates" class="ui multiple selection clearable dropdown">
              <input name="template_ids" type="hidden" tabindex="2">
              <i class="dropdown icon"></i>
              <div class="default text">None</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
          </div>

          <!-- Libraries -->
          {% if preferences.enabled_media_servers %}
          <div class="ui equal width grid">
            {% if 'Emby' in preferences.enabled_media_servers %}
            <div class="column field">
              <label>Emby Library</label>
              <div id="emby-library" class="ui clearable selection dropdown">
                <input name="emby_library_name" type="hidden" tabindex="3">
                <i class="dropdown icon"></i>
                <div class="default text">None</div>
                <div class="menu"><!-- Added asynchronously --></div>
              </div>
            </div>
            {% endif %}
            {% if 'Jellyfin' in preferences.enabled_media_servers %}
            <div class="column field">
              <label>Jellyfin Library</label>
              <div id="jellyfin-library" class="ui clearable selection dropdown">
                <input name="jellyfin_library_name" type="hidden" tabindex="4">
                <i class="dropdown icon"></i>
                <div class="default text">None</div>
                <div class="menu"><!-- Added asynchronously --></div>
              </div>
            </div>
            {% endif %}
            {% if 'Plex' in preferences.enabled_media_servers %}
            <div class="column field">
              <label>Plex Library</label>
              <div id="plex-library" class="ui clearable selection dropdown">
                <input name="plex_library_name" type="hidden" tabindex="5">
                <i class="dropdown icon"></i>
                <div class="default text">None</div>
                <div class="menu"><!-- Added asynchronously --></div>
              </div>
            </div>
            {% endif %}
          </div>
          {% endif %}

          <!-- Error message shown on form validation -->
          <div class="ui error message"></div>
        </form>
      </div>
      <div class="center aligned actions">
        <button id="new-series-button" class="ui green right labeled icon button" type="submit" form="new-series-form">
          Add
          <i class="plus icon"></i>
        </button>
      </div>
    </div>
    
  </div>

  <script>
    $('.ui.modal')
      .modal({blurring: true})                        // Blur background when shown
      .modal('attach events', '#add-series', 'show')  // Show modal on add buton press
      .modal('setting', 'transition', 'fade up')      // Fade up modal on reveal

    // Dim series posters on hover
    $('.ui.cards .image').dimmer({
      on: 'ontouchstart' in document.documentElement ? 'click' : 'hover'
    });

    // Validate new series form
    $('#new-series-form')
      .form({
        on: 'blur',
        fields: {
          name: {
            identifier: 'name',
            rules: [{type: 'minLength[1]', prompt: 'Series title is required'}]
          }, year: {
            identifier: 'year',
            rules: [{type: 'integer[1900..2050]', prompt: 'Valid year is required'}]
          },
        }
      });
      
    // Handle form submission
    $('#new-series-form').on('submit', (event) => {
      // Prevent default event form handler
      event.preventDefault();
      if (!$('#new-series-form').form('is valid')) { return; }
      // Change button to loading while submitting request
      $('#new-series-button').toggleClass('loading', true);

      // Get form data, remove blanks
      let form = new FormData(event.target);
      let template_ids = [];
      for (const [key, value] of [...form.entries()]) {
        if (key === 'template_ids' && value !== '') { template_ids = value.split(','); }
        if (value === '') { form.delete(key); }
      }

      // Submit API request to add series
      $.ajax({
        type: 'POST',
        url: '/api/series/new',
        data: JSON.stringify({...Object.fromEntries(form.entries()), template_ids: template_ids}),
        contentType: "application/json",
        success: (response) => {
          getAllSeries();
          $.toast({
            class: 'blue info',
            title: `Added series "${response.name}"`,
            showDuration: 'auto',
          });
          // Refresh episode data for the newly added series
          $.ajax({
            type: 'POST',
            url: `/api/episodes/${response.id}/refresh`,
            success: () => {
              $.toast({
                class: 'blue info',
                title: `Refreshed episode data for "${response.name}"`,
                showDuration: 'auto',
              });
            }, error: (response2) => {
              $.toast({
                class: 'error',
                title: `Error refreshing episode data for "${response.name}"`,
                message: response2.responseJSON.message,
                showDuration: 'auto',
              })
            }
          });
        }, error: (response) => {
          $.toast({
            class: 'error',
            title: `Error Adding series`,
            message: response,
            showDuration: 'auto',
          });
        }, complete: () => {
          setTimeout(() => $('#new-series-button').toggleClass('loading', false), 750);
        },
      });
    });

    // Sort series different ways
    let sortStates = {
      'id': {state: 0, allStates: [{icon: 'sort icon', sortState: 'id-desc'}, {icon: 'sort icon', sortState: 'id-asc'}]},
      'title': {state: 0, allStates: [{icon: 'sort alphabet down icon', sortState: 'a-z'}, {icon: 'sort alphabet down alternate icon', sortState: 'z-a'}]},
      'year': {state: 0, allStates: [{icon: 'sort numeric down icon', sortState: 'year-asc'}, {icon: 'sort numeric down alternate icon', sortState: 'year-desc'}]},
    }

    function sortSeries(elem, sortBy) {
      // Get all card elements
      let cardList = $(".card");
      let {state, allStates} = sortStates[sortBy];
      let {sortState} = allStates[state];

      cardList.sort((a, b) => {
        switch (sortState) {
          case 'id-asc': return $(a).data('series-id')-$(b).data('series-id');
          case 'id-desc': return $(b).data('series-id')-$(a).data('series-id');
          case 'a-z': return String($(a).data('series-sort-name')).localeCompare(String($(b).data('series-sort-name')));
          case 'z-a': return String($(b).data('series-sort-name')).localeCompare(String($(a).data('series-sort-name')));
          case 'year-asc': return $(a).data('series-year')-$(b).data('series-year');
          case 'year-desc': return $(b).data('series-year')-$(a).data('series-year');
          default: return 0;
        }
      });
      // Return newly sorted list
      $("#series-list").append(cardList);

      // Rotate icon
      document.getElementById(elem.firstElementChild.id).classList.toggle('rotate');

      // Wait for rotation to finish, then change icon state
      setTimeout(() => {
        sortStates[sortBy].state = (sortStates[sortBy].state + 1) % 2;
        let {icon} = sortStates[sortBy].allStates[sortStates[sortBy].state];
        elem.firstElementChild.className = icon;
        // Update local storage for sort setting
        window.localStorage.setItem('series-sort-order', sortState);
			}, 500); // Timeout set to match the transition duration
    }

    // Get all Series
    allSeries = getAllSeries();
  </script>
</body>

</html>