<!DOCTYPE html>
<html lang="en">

<head>
  <title>Templates - TitleCardMaker</title>
  {% include "./html_boilerplate.html" %}

  <script type="text/javascript">
    {% include "./js/cardTemplates.js" %}
  </script>

  <link rel="stylesheet" type="text/css" href="/templates/css/cardTemplates.css"/>

  <template id="filter-template">
    <div class="ui three fields">
      <div class="ui field">
        <div data-value="filter-arguments" class="ui clearable selection dropdown">
          <input name="argument" type="hidden">
          <i class="dropdown icon"></i>
          <div class="default text">Select Argument</div>
          <div class="menu"><!-- Added asynchrously --></div>
        </div>
      </div>
      <div class="ui field">
        <div data-value="filter-operators" class="ui clearable selection dropdown">
          <input name="operation" type="hidden">
          <i class="dropdown icon"></i>
          <div class="default text">Select Operation</div>
          <div class="menu"><!-- Added asynchrously --></div>
        </div>
      </div>
      <div class="ui field">
        <div class="ui input">
          <input data-value="filter-reference" name="reference" type="text" placeholder="Reference Value">
        </div>
      </div>
    </div>
  </template>

  <template id="extra-template">
    <div class="ui field">
      <div class="ui left labeled action input">
        <div class="ui dropdown long search scrolling label" data-value="extra_keys">
          <input type="hidden" name="extra_keys">
          <div class="default text">Extra</div>
          <i class="dropdown icon"></i>
          <div class="menu"></div>
        </div>
        <div class="ui icon input">
          <input name="extra_values" type="text" placeholder="Extra Value..">
          <i class="question circle outline link icon"></i>
          <div class="ui fixed wide uninvertible popup">
            <div class="header">{header}</div>
            <div class="description">{description}</div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <template id="translation-template">
    <span class="ui text">
      Translate
      <div data-value="language_code" class="ui inline scrolling clearable dropdown">
        <input name="language_code" type="hidden">
        <div class="text">French</div>
        <i class="dropdown icon"></i>
        <div class="menu"><!-- Added asynchronously --></div>
      </div>
      titles into 
      <div data-value="data_key" class="ui inline user-additions search clearable dropdown">
        <input name="data_key" type="hidden">
        <div class="text"></div>
        <i class="dropdown icon"></i>
        <div class="menu"><!-- Added asynchronously --></div>
      </div>
    </span>
    <br>
  </template>

  <template id="template">
    <div class="ui styled fluid accordion">
      <div class="title">
        <i class="dropdown icon"></i>
        TEMPLATE NAME
      </div>
      <div class="content">
        <div class="ui stackable grid">
          <!-- Template Settings -->
          <div class="eight wide column">
            <form class="ui form">
              <div class="field">
                <label>Template Name</label>
                <input name="name" type="text">
              </div>

              <h4 class="ui horizontal middle aligned divider header">Filters</h4>

              <div class="ui field">
                <div class="ui floating visible info small message">
                  <span class="ui text">Filters restrict when a Template is active for a Series or Episode.</span>
                  <ul class="list">
                    <li class="ui text">All Filter conditions must be <b>TRUE</b> for the Template to be active.</span>
                    <li class="ui text">Text-comparison is done case-<i>insensitively</i>.</li>
                    <li class="ui text">The <code>matches</code> and <code>does not match</code> conditions allow <a href="https://regex101.com/" target="_blank">Regex</a> inputs.</li>
                    <li class="ui text">Airdate reference values should be entered as <code>YYYY-MM-DD</code>, e.g. <code>2023-01-01</code>.</li>
                  </ul>
                </div>
                <div data-value="conditions">
                  
                </div>
                <div data-add-field="condition" class="ui circular mini icon add-field button">
                  <i class="plus square outline icon"></i>
                  Add Condition
                </div>
              </div>
              
              <h4 class="ui horizontal middle aligned divider header">Card Settings</h4>

              <div class="two fluid fields">
                <div class="field">
                  <label>Card Type</label>
                  <div data-value="card-types" class="ui long selection search clearable dropdown">
                    <input name="card_type" type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">Global Default</div>
                    <div class="down menu"><!-- Options added asynchronously --></div>
                  </div>
                </div>
  
                <div class="field">
                  <label>Font</label>
                  <div data-value="font-dropdown" class="ui long selection search clearable dropdown">
                    <input name="font_id" type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="default text">Card Default</div>
                    <div class="menu"><!-- Elements added asynchrously --></div>
                  </div>
                </div>
              </div>

              <div class="two fluid fields">
                <div class="field">
                  <label>Watched Episode Style</label>
                  <div data-value="watched-style" class="ui long selection clearable dropdown">
                    <span class="default text">Server Default</span>
                    <input name="watched_style" type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="menu"><!-- Added asynchronously --></div>
                  </div>
                </div>

                <div class="field">
                  <label>Unwatched Episode Style</label>
                  <div data-value="unwatched-style" class="ui long  selection clearable dropdown">
                    <span class="default text">Server Default</span>
                    <input name="unwatched_style" type="hidden">
                    <i class="dropdown icon"></i>
                    <div class="menu"><!-- Added asynchronously --></div>
                  </div>
                </div>
              </div>

              <h4 class="ui horizontal middle aligned divider header">Season and Episode Text</h4>

              <div class="ui field">
                <label>Hide Season Titles</label>
                <div data-value="hide_season_text" class="ui compact selection clearable dropdown" data-tooltip="Omit season text" data-position="right center">
                  <input name="hide_season_text" type="hidden">
                  <i class="dropdown icon"></i>
                  <div class="default text">Default</div>
                  <div class="menu"></div>
                </div>
              </div>

              <div data-value="season-titles" class="ui field">
                <label>
                  Season Titles
                  <i class="ui blue question circle outline icon"></i>
                </label>
                <div class="two fields">
                  <div data-value="season-title-range" class="three wide right aligned field">
                    <label>Range</label>
                    <!-- <input name="season_title_ranges" data-value="season-titles" type="text"> -->
                  </div>
                  <div data-value="season-title-value" class="eight wide field">
                    <label>Title</label>
                    <!-- <input name="season_title_values" type="text"> -->
                  </div>
                </div>
                <div data-value="add-title" class="ui circular mini icon add-field button">
                  <i class="plus square outline icon"></i>
                  Add Title
                </div>
              </div>

              <div class="ui field">
                <label>Hide Episode Text</label>
                <div data-value="hide_episode_text" class="ui compact selection clearable dropdown" data-tooltip="Omit episode text" data-position="right center">
                  <input name="hide_episode_text" type="hidden">
                  <i class="dropdown icon"></i>
                  <div class="default text">Default</div>
                  <div class="menu"></div>
                </div>
              </div>

              <div data-value="episode-text-format" class="field">
                <label>Episode Text Format</label>
                <input name="episode_text_format" type="text" placeholder="Card Default">
              </div>

              <div class="ui visible floating warning message">
                <i class="exclamation triangle icon"></i>
                Custom season titles and episode text are not reflected in live preview.
              </div>

              <h4 class="ui horizontal middle aligned divider header">Non-Card Settings</h4>

              <div class="ui field">
                <label>Ignored Localized Images</label>
                <div data-value="skip_localized_images" class="ui compact selection clearable dropdown">
                  <input name="skip_localized_images" type="hidden">
                  <i class="dropdown icon"></i>
                  <div class="default text">Default</div>
                  <div class="menu"></div>
                </div>
              </div>

              <div class="field">
                <label>Episode Data Source</label>
                <div class="ui compact selection clearable dropdown" data-value="episode-data-source">
                  <input name="episode_data_source" type="hidden">
                  <i class="dropdown icon"></i>
                  <div class="default text">Global Default</div>
                  <div class="menu"><!-- Added asynchronously --></div>
                </div>
              </div>

              <div class="ui field">
                <label>Sync Specials</label>
                <div data-value="sync_specials" class="ui compact selection clearable dropdown">
                  <input name="sync_specials" type="hidden">
                  <i class="dropdown icon"></i>
                  <div class="default text">Default</div>
                  <div class="menu"></div>
                </div>
              </div>

              <h4 class="ui horizontal middle aligned divider header">Miscellaneous</h4>

              <div class="ui field">
                <label>Translations</label>
                <div data-value="translations" class="ui segment">
                  <!-- Added asynchrously -->
                </div>
                <div data-add-field="translation" class="ui circular mini icon add-field button">
                  <i class="plus square outline icon"></i>
                  Add Translation
                </div>
              </div>

              <div class="ui field" data-value="extras">
                <label>Extras</label>
                <!-- Added later -->
              </div>
              <div data-value="add-extra" class="ui circular mini icon add-field button">
                <i class="plus square outline icon"></i>
                Add Extra
              </div>
              <br>

              <!-- Buttons -->
              <button button-type="submit" class="ui primary animated button" type="submit">
                <div class="visible content">Save Changes</div>
                <div class="hidden content">
                  <i class="right arrow icon"></i>
                </div>
              </button>
              <button button-type="delete" class="ui negative animated button">
                <div class="visible content">Delete</div>
                <div class="hidden content">
                  <i class="trash icon"></i>
                </div>
              </button>
              <div class="'ui error message"></div>
            </form>
          </div>

          <!-- Preview Cards -->
          <div class="eight wide column">
            <button data-action="refresh" class="ui blue tertiary compact button">
              <i class="redo icon"></i>
              Refresh Previews
            </button>
            <h3 class="ui header">Watched Content</h3>
            <div content-type="watched" class="ui fluid card">
              <div class="content">
                <img content-type="watched" alt="Preview Watched Title Card" src="/internal_assets/blank.png">
              </div>
            </div>

            <h3 class="ui header">Unwatched Content</h3>
            <div content-type="unwatched" class="ui fluid card">
              <div class="content">
                <img content-type="unwatched" alt="Preview Unwatched Title Card" src="/internal_assets/blank.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>  
</head>

<body onload="initAll();">
  <div class="pusher">
    <!-- Static header and sidebar loaded by external script -->
    <div id="page-header"></div>
    <div id="nav-menu"></div>

    <!-- Actual page content -->
    <div id="main-content" class="article">
      <!-- Page title -->
      <h1 class="ui header">Templates</h1>
      <button class="ui primary tertiary button" onlick="addTemplate();">
        Create New Template
      </button>

      <!-- Templates -->
      <div id="templates"><!-- Elements added asynchronously --></div>

      <div class="ui compact floating info message">
        <div class="header">What are Templates?</div>
        <ul class="list">
          <li>A Template defines a set of custom settings or configurations that can be applied to a Series or Episode.</li>
          <li>Templates have higher priority over global defaults, but can be overwritten per-Series or Episode.</li>
          <li>Multiple Templates can be assigned to a Series or Episode. The effective Template will be the first Template whose Filter conditions are all satisfied.</li>
        </ul>
      </div>

      <!-- Popup for season title specification -->
      <div id="season-title-popup" class="ui flowing popup right">
        <div class="ui list content">
          <div class="item">
            A number indicates an entire season - e.g. <span class="ui red text">1</span> for <span class="ui red text">season 1</span>.
          </div>
          <div class="item">
            A season and episode range indicates a portion of a season - e.g. <span class="ui blue text">s1e2-s1e5</span> for <span class="ui blue text">season 1, episodes 2-5</span>.
          </div>
          <div class="item">
            A numerical episode range indicates a range of absolute episode numbers - e.g. <span class="ui green text">5-10</span> for (absolute) <span class="ui green text">episodes 5-10</span>.
          </div>
        </div>
      </div>
        
    </div>

    <!-- Delete Template Modal -->
    <div id="delete-template-modal" class="ui basic modal">
      <div class="ui icon header">
        <i class="trash icon"></i>
        Delete Template?
      </div>
      <div class="center aligned scrolling content">
        <span class="ui blue text">This action cannot be undone.</span>
        <br>
        <span class="ui blue text">This Template is linked to the following Series:</span>
        <ul class="ui list" data-value="series-list"></ul>
      <div class="center aligned actions">
        <div class="ui green ok basic inverted button">
          <i class="remove icon"></i>
          No
        </div>
        <div data-action="delete-template" class="ui red ok inverted button">
          <i class="trash alternate outline icon"></i>
          Yes
        </div>
      </div>
    </div>

  </div>
</body>

</html>