<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Templates - TitleCardMaker</title>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">

  <!-- Formantic UI -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.js"></script>
  
  <!-- JS Files -->
  <script type="text/javascript" src="/templates/loadStaticContent.js"></script>
  <script type="text/javascript" src="/templates/loadCardTypes.js"></script>
  <script type="text/javascript" src="/templates/theme.js"></script>

  <!-- Global styles -->
  <link rel="stylesheet" type="text/css" href="/templates/style.css"/>
  <style>
    /* Ensure preview card images don't overflow their div */
    img {
      max-width: 100%;
    }

    /* Make sure card loader is below the search bar */
    .ui.loading.card::before {
      z-index: 10;
    }

    /* Add field buttons appear transparent */
    .add-field.button {
      background: transparent;
    }
  </style>

  <template id="translation-template">
    <span class="ui text">
      Translate
      <div data-value="language_code" class="ui inline scrolling clearable dropdown">
        <input name="language_code" type="hidden">
        <div class="text">French</div>
        <i class="dropdown icon"></i>
        <div class="menu"><!-- Added asynchronously --></div>
      </div>
      titles into 
      <div data-value="data_key" class="ui inline user-additions search clearable dropdown">
        <input name="data_key" type="hidden">
        <div class="text"></div>
        <i class="dropdown icon"></i>
        <div class="menu"><!-- Added asynchronously --></div>
      </div>
    </span>
    <br>
  </template>

  <template id="template">
    <div class="ui styled fluid accordion">
      <div class="title">
        <i class="dropdown icon"></i>
        TEMPLATE NAME
      </div>
      <div class="content">
        <div class="ui grid">
          <!-- Template Settings -->
          <div class="eight wide column">
            <form class="ui form">
              <div class="field">
                <label>Template Name</label>
                <input name="name" type="text" minlength="1">
              </div>

              <h4 class="ui horizontal middle aligned divider header">Card Settings</h4>

              <div class="field">
                <label>Card Type</label>
                <div data-value="card-types" class="ui long compact selection clearable dropdown">
                  <input name="card_type" type="hidden">
                  <i class="dropdown icon"></i>
                  <div class="default text">Global Default</div>
                  <div class="down menu">
                    <!-- Options added asynchronously -->
                  </div>
                </div>
              </div>

              <div class="field">
                <label>Font</label>
                <div data-value="font-dropdown" class="ui very long compact clearable selection dropdown">
                  <input name="font_id" type="hidden">
                  <i class="dropdown icon"></i>
                  <div class="default text">Card Default</div>
                  <div class="menu">
                    <!-- Elements added asynchrously -->
                  </div>
                </div>
              </div>

              <div class="field">
                <label>Watched Episode Style</label>
                <div data-value="watched-style" class="ui long compact selection clearable dropdown">
                  <span class="default text">Server Default</span>
                  <input name="watched_style" type="hidden">
                  <i class="dropdown icon"></i>
                  <div class="menu"><!-- Added asynchronously --></div>
                </div>
              </div>

              <div class="field">
                <label>Unwatched Episode Style</label>
                <div data-value="unwatched-style" class="ui long compact selection clearable dropdown">
                  <span class="default text">Server Default</span>
                  <input name="unwatched_style" type="hidden">
                  <i class="dropdown icon"></i>
                  <div class="menu"><!-- Added asynchronously --></div>
                </div>
              </div>

              <h4 class="ui horizontal middle aligned divider header">Season and Episode Text</h4>

              <div data-value="hide-seasons" class="ui right aligned checkbox field">
                <input name="hide_season_text" type="checkbox" class="hidden">
                <label>Hide Season Titles</label>
              </div>

              <div data-value="season-titles" class="ui field">
                <label>Season Titles</label>
                <div class="two fields">
                  <div data-value="season-title-range" class="three wide right aligned field">
                    <label>Range</label>
                    <!-- <input name="season_title_ranges" data-value="season-titles" type="text"> -->
                  </div>
                  <div data-value="season-title-value" class="eight wide field">
                    <label>Title</label>
                    <!-- <input name="season_title_values" type="text"> -->
                  </div>
                </div>
                <div data-value="add-title" class="ui circular mini icon add-field button">
                  <i class="plus square outline icon"></i>
                  Add Title
                </div>
              </div>

              <div data-value="hide-episode-text" class="ui right aligned checkbox field">
                <input name="hide_episode_text" type="checkbox" class="hidden">
                <label>Hide Episode Text</label>
              </div>

              <div data-value="episode-text-format" class="field">
                <label>Episode Text Format</label>
                <input name="episode_text_format" type="text" placeholder="Card Default">
              </div>

              <div class="ui visible floating warning message">
                Custom season titles and episode text are not reflected in live preview.
              </div>

              <h4 class="ui horizontal middle aligned divider header">Non-Card Settings</h4>

              <div class="ui right aligned checkbox field">
                <input name="skip_localized_images" type="checkbox">
                <label>Ignore Localized Images</label>
              </div>

              <div class="field">
                <label>Episode Data Source</label>
                <div class="ui compact selection clearable dropdown" data-value="episode-data-source">
                  <input name="episode_data_source" type="hidden">
                  <i class="dropdown icon"></i>
                  <div class="default text">Global Default</div>
                  <div class="menu">
                    <!-- Added asynchronously -->
                  </div>
                </div>
              </div>

              <div class="field">
                <label>Image Source Priority</label>
                todo
              </div>

              <div class="ui right aligned checkbox field">
                <input name="sync_specials" type="checkbox">
                <label>Sync Specials</label>
              </div>

              <h4 class="ui horizontal middle aligned divider header">Miscellaneous</h4>

              <div class="ui field">
                <label>Translations</label>
                <div data-value="translations" class="ui segment">
                  <!-- Added asynchrously -->
                </div>
                <div data-add-field="translation" class="ui circular mini icon add-field button">
                  <i class="plus square outline icon"></i>
                  Add Translation
                </div>
              </div>

              <div class="ui field">
                <label>Extras</label>
                <div class="two fields">
                  <div data-value="extra-key" class="four wide right aligned field">
                    <label>Key</label>
                    <!-- <input name="extra_keys" type="text"> -->
                  </div>
                  <div data-value="extra-value" class="four wide field">
                    <label>Value</label>
                    <!-- <input name="extra_values" type="text"> -->
                  </div>
                </div>
                <div data-value="add-extra" class="ui circular mini icon add-field button">
                  <i class="plus square outline icon"></i>
                  Add Extra
                </div>
              </div>

              <!-- Buttons -->
              <button button-type="submit" class="ui primary animated button" type="submit">
                <div class="visible content">Save Changes</div>
                <div class="hidden content">
                  <i class="right arrow icon"></i>
                </div>
              </button>
              <button button-type="delete" class="ui negative animated button">
                <div class="visible content">Delete</div>
                <div class="hidden content">
                  <i class="trash icon"></i>
                </div>
              </button>
              <div class="'ui error message"></div>
            </form>
          </div>

          <!-- Preview Cards -->
          <div class="eight wide column">
            <h3 class="ui header">Watched Content</h3>
            <div content-type="watched" class="ui fluid card">
              <div class="content">
                <img content-type="watched" alt="Preview Watched Title Card" src="/assets/blank.png">
              </div>
            </div>

            <h3 class="ui header">Unwatched Content</h3>
            <div content-type="unwatched" class="ui fluid card">
              <div class="content">
                <img content-type="unwatched" alt="Preview Unwatched Title Card" src="/assets/blank.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <script>
    async function reloadPreview(watchStatus, formElement, cardElement, imgElement) {
      let form = new FormData(formElement);
      let listData = {extra_keys: [], extra_values: []};
      if (watchStatus === 'watched' && form.get(`watched_style`) === '') {
        form.set('style', '{{preferences.default_watched_style}}');
      } else if (watchStatus === 'unwatched' && form.get('unwatched_style') === '') {
        form.set('style', '{{preferences.default_unwatched_style}}');
      } else if (form.get(`${watchStatus}_style`).includes('blur')) {
        form.set('blur', true);
      } else if (form.get(`${watchStatus}_style`).includes('grayscale')) {
        form.set('grayscale', true);
      }
      
      for (let [key, value] of [...form.entries()]) {
        if (key === 'extra_keys') { listData.extra_keys.push(value); }
        if (key === 'extra_values') { listData.extra_values.push(value); }
        if (value === '') { form.delete(key); }
      }

      const previewCard = {
        card_type: "{{preferences.default_card_type.lower()}}",
        style: form.get(`${watchStatus}_style`),
        ...Object.fromEntries(form.entries()),
        extra_keys: listData.extra_keys,
        extra_values: listData.extra_values,
      };
      cardElement.classList.add('loading');
      $.ajax({
        type: 'POST',
        url: '/api/cards/preview',
        data: JSON.stringify(previewCard),
        contentType: 'application/json',
        success: (response) => {
          imgElement.src = `${response}?${new Date().getTime()}`;
        },
        error: (response) => {
          $.toast({
            class: 'error',
            title: 'Error Creating Preview Card',
            message: response,
          });
        }, complete: () => {
          cardElement.classList.remove('loading');
        }
      });
    }
  </script>
  
</head>

<body onload="initAll();">
  <script>
    async function getAllTemplates() {
      const allCardTypes = await fetch('/api/available/card-types').then(resp => resp.json());
      const allFonts = await fetch('/api/fonts/all').then(resp => resp.json());
      const allStyles = await fetch('/api/available/styles').then(resp => resp.json());
      const allTemplates = await fetch('/api/templates/all').then(resp => resp.json());
      const allEpisodeDataSources = await fetch('/api/available/episode-data-sources').then(resp => resp.json());
      const allTranslations = await fetch('/api/available/translations').then(resp => resp.json());
      const elements = allTemplates.map(templateObj => {
        // Clone template
        const base = document.querySelector('#template').content.cloneNode(true);
        base.querySelector('.accordion').id = `template-id${templateObj.id}`;
        // Set accordion title and title input
        base.querySelector('.title').innerHTML = `<i class="dropdown icon"></i>${templateObj.name}`;
        const nameElem = base.querySelector('input[name="name"]');
        nameElem.placeholder = templateObj.name; nameElem.value = templateObj.name;
        // Card type set later
        // Font set later
        // Unwatched and Watched style set later
        // Hide season checkbox
        if (templateObj.hide_season_text) {
          base.querySelector('input[name="hide_season_text"]').setAttribute('checked', '');
          base.querySelector('.field[data-value="season-titles"]').className = 'ui disabled field';
        }
        // Season titles
        if (Object.entries(templateObj.season_titles).length > 0) {
          const rangeDiv = base.querySelector('.field[data-value="season-title-range"]');
          const valueDiv = base.querySelector('.field[data-value="season-title-value"]');
          for (const [range, value] of Object.entries(templateObj.season_titles)) {
            const rangeElem = document.createElement('input');
            rangeElem.name = 'season_title_ranges'; rangeElem.setAttribute('data-value', 'season-titles');
            rangeElem.type = 'text'; rangeElem.value = range;
            rangeDiv.appendChild(rangeElem);
            const valueElem = document.createElement('input');
            valueElem.name = 'season_title_values'; valueElem.type = 'text'; valueElem.value = value;
            valueDiv.appendChild(valueElem);
          }
        }
        if (templateObj.hide_episode_text) {
          base.querySelector('input[name="hide_episode_text"]').setAttribute('checked', '');
          base.querySelector('.field[data-value="episode-text-format"]').className = 'ui disabled field';
        }
        // Episode text format
        base.querySelector('input[name="episode_text_format"]').value = templateObj.episode_text_format;
        // Ignore localized
        if (templateObj.skip_localized_images) {
          base.querySelector('input[name="skip_localized_images"]').setAttribute('checked', '');
        }
        // Episode data source set later
        // Image source priority set later
        // Translations added later
        // Extras
        if (Object.entries(templateObj.extras).length > 0) {
          const labelDiv = base.querySelector('.field[data-value="extra-key"]');
          const inputDiv = base.querySelector('.field[data-value="extra-value"]');
          for (const [key, value] of Object.entries(templateObj.extras)) {
            const label = document.createElement('input');
            label.name = 'extra_keys'; label.type = 'text'; label.value = key;
            labelDiv.appendChild(label);
            const valueElem = document.createElement('input');
            valueElem.name = 'extra_values'; valueElem.type = 'text'; valueElem.value = value;
            inputDiv.appendChild(valueElem)
          }
        }
        // Update card preview(s)
        const form = base.querySelector('form');
        const watchedCard = base.querySelector('.card[content-type="watched"]'),
            unwatchedCard = base.querySelector('.card[content-type="unwatched"]');
        const watchedImg = base.querySelector('img[content-type="watched"]'),
            unwatchedImg = base.querySelector('img[content-type="unwatched"]');
        form.onchange = () => {
          reloadPreview('watched', form, watchedCard, watchedImg);
          reloadPreview('unwatched', form, unwatchedCard, unwatchedImg);
        }
        return base;
      });
      document.getElementById('templates').replaceChildren(...elements);
      $('.ui.accordion').accordion();
      $('.ui.checkbox').checkbox();

      // Fill in fancy values
      allTemplates.forEach(templateObj => {
        // Card type
        loadCardTypes({
          element: `#template-id${templateObj.id} >* .dropdown[data-value="card-types"]`,
          isSelected: (identifier) => identifier === templateObj.card_type,
          dropdownArgs: {
            placeholder: 'Global Default',
          }
        });
        // Font
        $(`#template-id${templateObj.id} >* .dropdown[data-value="font-dropdown"]`).dropdown({
          values: allFonts.map(({id, name}) => {
            return {name: name, value: id, selected: id === templateObj.font_id};
          }), placeholder: 'Card Default',
        });
        // Watched style
        $(`#template-id${templateObj.id} >* .dropdown[data-value="watched-style"]`).dropdown({
          values: [
            {name: 'Art Variations', type: 'header'},
            ...allStyles.filter(({style_type}) => style_type === 'art').map(({name, value}) => {
              return {name: name, value: value, selected: value === templateObj.watched_style};
            }),
            {name: 'Unique Variations', type: 'header'},
            ...allStyles.filter(({style_type}) => style_type === 'unique').map(({name, value}) => {
              return {name: name, value: value, selected: value === templateObj.watched_style};
            }),
          ], placeholder: 'Global Default',
        });
        // Unwatched style
        $(`#template-id${templateObj.id} >* .dropdown[data-value="unwatched-style"]`).dropdown({
          values: [
            {name: 'Art Variations', type: 'header'},
            ...allStyles.filter(({style_type}) => style_type === 'art').map(({name, value}) => {
              return {name: name, value: value, selected: value === templateObj.unwatched_style};
            }),
            {name: 'Unique Variations', type: 'header'},
            ...allStyles.filter(({style_type}) => style_type === 'unique').map(({name, value}) => {
              return {name: name, value: value, selected: value === templateObj.unwatched_style};
            }),
          ], placeholder: 'Global Default',
        });
        // Attach disabled toggle to hide season button
        $(`#template-id${templateObj.id} >* .checkbox[data-value="hide-seasons"]`).checkbox({
          onChecked: () => {
            $(`#template-id${templateObj.id} >* .field[data-value="season-titles"]`).toggleClass('disabled', true);
          }, onUnchecked: () => {
            $(`#template-id${templateObj.id} >* .field[data-value="season-titles"]`).toggleClass('disabled', false);
          },
        });
        // Add new fields to add title button
        $(`#template-id${templateObj.id} >* .button[data-value="add-title"]`).on('click', () => {
          const newRange = document.createElement('input');
          newRange.name = 'season_title_ranges'; newRange.type = 'text';
          newRange.setAttribute('data-value', 'season-titles');
          const newTitle = document.createElement('input');
          newTitle.name = 'season_title_values'; newTitle.type = 'text';
          $(`#template-id${templateObj.id} >* .field[data-value="season-title-range"]`).append(newRange);
          $(`#template-id${templateObj.id} >* .field[data-value="season-title-value"]`).append(newTitle);
          $('input[data-value="season-titles"]').popup({
            popup: '#season-title-popup',
            position: 'right center',
          });
        });
        // Attach disabled toggle to hide episode text button
        $(`#template-id${templateObj.id} >* .checkbox[data-value="hide-episode-text"]`).checkbox({
          onChecked: () => {
            $(`#template-id${templateObj.id} >* .field[data-value="episode-text-format"]`).toggleClass('disabled', true);
          }, onUnchecked: () => {
            $(`#template-id${templateObj.id} >* .field[data-value="episode-text-format"]`).toggleClass('disabled', false);
          },
        });
        // Episode data source
        $(`#template-id${templateObj.id} >* .dropdown[data-value="episode-data-source"]`).dropdown({
          values: allEpisodeDataSources.map(({name, value}) => {
            return {name: name, value: value, selected: value === templateObj.episode_data_source};
          }), placeholder: 'Global Default',
        });
        if (templateObj.translations.length > 0) {
          const translationSegment = $(`#template-id${templateObj.id} [data-value="translations"]`);
          for (const translation of templateObj.translations) {
            // Create new translation entry, add to translation segment
            const newTranslation = document.querySelector('#translation-template').content.cloneNode(true);
            translationSegment.append(newTranslation);
            // Initialize dropdowns
            $(`#template-id${templateObj.id} .dropdown[data-value="language_code"]`).last().dropdown({
              values: [
                {name: 'Language', type: 'header'},
                ...allTranslations.map(({language_code, language}) => {
                  return {name: language, value: language_code, selected: translation.language_code === language_code};
                })
              ],
            });
            const extraValue = [];
            if (translation.data_key !== 'preferred_title' && translation.data_key !== 'kanji') {
              extraValue.push({name: translation.data_key, value: translation.data_key, selected: true});
            }
            $(`#template-id${templateObj.id} .dropdown[data-value="data_key"]`).last().dropdown({
              allowAdditions: true,
              values: [
                {name: 'Key', type: 'header'},
                {name: 'Preferred title', text: 'the preferred title', value: 'preferred_title', selected: translation.data_key === 'preferred_title'},
                {name: 'Kanji', text: 'kanji', value: 'kanji', selected: translation.data_key === 'kanji'},
                ...extraValue,
              ]
            });
          }
        }
        // Add new field with add translation button
        $(`#template-id${templateObj.id} .button[data-add-field="translation"]`).on('click', () => {
          const newTranslation = document.querySelector('#translation-template').content.cloneNode(true);
          $(`#template-id${templateObj.id} [data-value="translations"]`).append(newTranslation);
          // Language code dropdown
          $(`#template-id${templateObj.id} .dropdown[data-value="language_code"]`).last().dropdown({
            values: [
              {name: 'Language', type: 'header'},
              ...allTranslations.map(({language_code, language}) => {
                return {name: language, value: language_code};
              })
            ],
          });
          // Translation data key dropdown
          $(`#template-id${templateObj.id} .dropdown[data-value="data_key"]`).last().dropdown({
            allowAdditions: true,
            values: [
              {name: 'Key', type: 'header'},
              {name: 'Preferred title', text: 'the preferred title', value: 'preferred_title'},
              {name: 'Kanji', text: 'kanji', value: 'kanji'},
            ]
          });
        });
        // Add new fields with add extra button
        $(`#template-id${templateObj.id} .button[data-value="add-extra"]`).on('click', () => {
          const newKey = document.createElement('input');
          newKey.name = 'extra_keys'; newKey.type = 'text';
          const newValue = document.createElement('input');
          newValue.name = 'extra_values'; newValue.type = 'text';
          $(`#template-id${templateObj.id} >* .field[data-value="extra-key"]`).append(newKey);
          $(`#template-id${templateObj.id} >* .field[data-value="extra-value"]`).append(newValue);
        });
        
        // Update via API
        $(`#template-id${templateObj.id} >* form`).on('submit', (event) => {
          event.preventDefault();
          let form = new FormData(event.target);
          let listData = {
            extra_keys: [], extra_values: [],
            season_title_ranges: [], season_title_values: [],
            language_code: [], data_key: [],
          };
          for (const [key, value] of [...form.entries()]) {
            if (Object.keys(listData).includes(key)) { listData[key].push(value); }
            if (value === '') { form.delete(key); }
          }
          let translations = [];
          listData.language_code.forEach((val, index) => {
            if (val !== '') {
              translations.push({language_code: val, data_key: listData.data_key[index]});
            }
          })

          $.ajax({
            type: 'PATCH',
            url: `/api/templates/${templateObj.id}`,
            data: JSON.stringify({
              ...Object.fromEntries(form.entries()),
              ...listData,
              translations: translations,
            }),
            contentType: 'application/json',
            success: (response) => {
              $.toast({
                class: 'blue info',
                title: `Updated Template "${templateObj.name}"`,
              });
            }, error: (response) => {
              $.toast({
                class: 'error',
                title: 'Error Updating Template',
                message: response.responseJSON.detail,
              });
            }, complete: () => {}
          });
        });
        // Delete via API
        $(`#template-id${templateObj.id} >* button[button-type="delete"]`).on('click', (event) => {
          event.preventDefault();
          $(`#template-id${templateObj.id} >* button[button-type="delete"]`).addClass('loading', true);
          $.ajax({
            type: 'DELETE',
            url: `/api/templates/${templateObj.id}`,
            cache: false,
            contentType: false,
            processData: false,
            success: function(response) {
              $.toast({
                class: 'blue info',
                title: `Deleted Template "${templateObj.name}"`,
              });
              getAllTemplates();
            }, error: function(response) {
              $.toast({
                class: 'error',
                title: 'Error Deleting Template',
                message: response.responseJSON.detail,
              });
            }
          });
        });
      });

      // Enable accordion/dropdown/checkbox elements
      $('.ui.accordion').accordion();
      $('input[data-value="season-titles"]').popup({
        popup: '#season-title-popup',
        position: 'right center',
      });

      // Refresh theme for any newly added HTML
      refreshTheme();
    }

    async function initAll() {
      getAllTemplates();
    }
  </script>
  <div class="pusher">
    <!-- Static header and sidebar loaded by external script -->
    <div id="page-header"></div>
    <div id="nav-menu"></div>

    <!-- Actual page content -->
    <div id="main-content" class="article">
      <!-- Page title -->
      <h1 class="ui header">Templates</h1>

      <button id="new-template" class="ui primary tertiary button">Create a New Template</button>

      <div id="templates">
        <!-- Elements added asynchronously -->
      </div>

      <div id="season-title-popup" class="ui fluid popup right">
        <div class="ui list content">
          <div class="item">
            A number indicates an entire season - e.g. <span class="ui red text">1</span> for <span class="ui red text">season 1</span>.
          </div>
          <div class="item">
            A season and episode range indicates a portion of a season - e.g. <span class="ui blue text">s1e2-s1e5</span> for <span class="ui blue text">season 1, episodes 2-5</span>.
          </div>
          <div class="item">
            A numerical episode range indicates a range of absolute episode numbers - e.g. <span class="ui green text">5-10</span> for (absolute) <span class="ui green text">episodes 5-10</span>.
          </div>
        </div>
      </div>
        
    </div>

  </div>

  <script>
    // Create new (blank) template on button click
    $('#new-template').on('click', () => {
      $.ajax({
        type: 'POST',
        url: '/api/templates/new',
        data: JSON.stringify({name: 'Blank Template'}),
        contentType: 'application/json',
        success: (response) => {
          $.toast({
            class: 'blue info',
            title: `Created Template #${response.id}`,
          });
          getAllTemplates();
        }, error: (response) => {
          $.toast({
            class: 'error',
            title: 'Error Creating Template',
            message: response.responseJSON.detail,
          });
        }
      });
    })
    
  </script>
</body>

</html>