<!DOCTYPE html>
<html lang="en">

<head>
  <title>Connections - TitleCardMaker</title>
  {% include "./html_boilerplate.html" %}

  <script type="text/javascript">
    {% include "./js/connections.js" %}
  </script>

  <link rel="stylesheet" type="text/css" href="/templates/css/connections.css"/>

  <template id="sync-volume">
    <div class="two wide library field">
      <label>Library</label>
      <input type="text" placeholder="Library Name">
    </div>
    <div class="four wide field">
      <label>Path</label>
      <input type="text" placeholder="Library Path">
    </div>
  </template>
  
</head>

<body onload="initAll();">
  <div class="pusher">
    <!-- Static header and sidebar loaded by external script -->
    <div id="page-header"></div>
    <div id="nav-menu"></div>

    <!-- Actual page content -->
    <div id="main-content" class="article">
      <!-- Page title -->
      <h1 class="ui header">Connections</h1>

      <!-- Authentication -->
      <h2 class="ui dividing header">Authentication</h2>
      <div class="connection-form">
        <!-- Enable button -->
        <div data-value="require_auth" class="ui left aligned checkbox field" data-tooltip="Whether to require a username and password for TCM">
          <input type="checkbox">
          <label>Require Authentication</label>
        </div>

        <form id="auth-settings" class="ui fluid form">
          <div class="ui two fields">
            <div class="ui four wide field">
              <label>Username</label>
              <input name="username" type="text">
            </div>

            <div class="ui four wide field">
              <label>Password</label>
              <input name="password" type="password" placeholder="hunter2">
            </div>
          </div>

          <div class=field>
            <button class="ui primary animated button">
              <div class="visible content">Save Changes</div>
              <div class="hidden content">
                <i class="right arrow icon"></i>
              </div>
            </button>
          </div>
        </form>
      </div>

      <!-- Emby Connections -->
      <h2 class="ui dividing header">Emby Media Server</h2>
      <div id="emby-connection" class="connection-form">
        <!-- Enable button -->
        {% if preferences.use_emby %}
        <div id="enable-emby" class="ui left aligned checked checkbox field">
          <input type="checkbox" checked="">
        {% else %}
        <div id="enable-emby" class="ui left aligned checkbox field">
          <input type="checkbox" >
        {% endif %}
          <label for="enable-emby-checkbox">Enable Emby</label>
        </div>

        <form id="emby-settings" class="ui fluid form">
          <div class="ui disabled required eight wide field" data-tooltip="Host URL to communicate with Emby">
            <label>URL</label>
            <input name="url" type="text" value="{{preferences.emby_url}}">
          </div>

          <div class="ui disabled required eight wide field" data-tooltip="API key to authenticate communication with Emby">
            <label>API Key</label>
            <input name="api_key" type="text" class="private" value="{{preferences.emby_api_key}}">
          </div>

          <div class="ui disabled required field" data-tooltip="Username of the Emby user to query watch statuses from">
            <label>Username</label>
            <div data-value="emby_username" class="ui compact selection dropdown">
              <input type="hidden" name="username">
              <i class="dropdown icon"></i>
              <div class="default text">{{preferences.emby_username}}</div>
              <div class="menu"></div>
            </div>
          </div>

          <div class="ui left aligned disabled checkbox field" data-tooltip="Connect with HTTPS instead of HTTP">
            {% if preferences.emby_use_ssl %}
            <input name="use_ssl" type="checkbox" checked="">
            {% else %}
            <input name="use_ssl" type="checkbox">
            {% endif %}
            <label for="emby-use-ssl-checkbox">Use SSL</label>
          </div>

          <div class="ui disabled field">
            <label>Filesize Limit</label>
            <div class="ui fields">
              <div class="two wide field" data-tooltip="Maximum file size of assets to upload to Emby">
                <input name="filesize_limit_number" type="number" min="0" value="{{preferences.emby_filesize_limit_number}}">
              </div>
              <div class="three wide field">
                <div data-value="emby_filesize_limit_unit" class="ui selection dropdown">
                  <input name="filesize_limit_unit" type="hidden">
                  <i class="dropdown icon"></i>
                  <div class="default text"></div>
                  <div class="menu"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="ui error message"></div>
          <div class=field>
            <button id="submit-emby" class="ui primary animated button" type="submit">
              <div class="visible content">Save Changes</div>
              <div class="hidden content">
                <i class="right arrow icon"></i>
              </div>
            </button>
          </div>
        </form>
      </div>

      <!-- Jellyfin Connections -->
      <h2 class="ui dividing header">Jellyfin Media Server</h2>
      <div id="jellyfin-connection" class="connection-form">
        <!-- Enable button -->
        {% if preferences.use_jellyfin %}
        <div id="enable-jellyfin" class="ui left aligned checked checkbox field">
          <input id="enable-jellyfin-checkbox" type="checkbox" checked="">
        {% else %}
        <div id="enable-jellyfin" class="ui left aligned checkbox field">
          <input id="enable-jellyfin-checkbox" type="checkbox" >
        {% endif %}
          <label for="enable-jellyfin-checkbox">Enable Jellyfin</label>
        </div>

        <form id="jellyfin-settings" class="ui fluid form">
          <div class="ui disabled required eight wide field" data-tooltip="Host URL to communicate with Jellyfin">
            <label>URL</label>
            <input name="url" type="text" value="{{preferences.jellyfin_url}}">
          </div>

          <div class="ui disabled required eight wide field" data-tooltip="API key to authenticate communication with Jellyfin">
            <label>API Key</label>
            <input name="api_key" type="text" class="private" value="{{preferences.jellyfin_api_key}}">
          </div>

          <div class="ui disabled required field" data-tooltip="Username of the Jellyfin user to query watch statuses from">
            <label>Username</label>
            <div data-value="jellyfin_username" class="ui compact selection dropdown">
              <input type="hidden" name="username">
              <i class="dropdown icon"></i>
              <div class="default text">{{preferences.jellyfin_username}}</div>
              <div class="menu"></div>
            </div>
          </div>

          <div class="ui left aligned disabled checkbox field" data-tooltip="Connect with HTTPS instead of HTTP">
            {% if preferences.jellyfin_use_ssl %}
            <input name="use_ssl" type="checkbox" checked="">
            {% else %}
            <input name="use_ssl" type="checkbox">
            {% endif %}
            <label for="emby-use-ssl-checkbox">Use SSL</label>
          </div>

          <div class="ui disabled field">
            <label>Filesize Limit</label>
            <div class="ui fields">
              <div class="two wide field" data-tooltip="Maximum file size of assets to upload to Jellyfin">
                <input name="filesize_limit_number" type="number" min="0" placeholder="{{preferences.jellyfin_filesize_limit_number}}" value="{{preferences.jellyfin_filesize_limit_number}}">
              </div>
              <div class="three wide field">
                <div data-value="jellyfin_filesize_limit_unit" class="ui selection dropdown">
                  <input name="filesize_limit_unit" type="hidden">
                  <i class="dropdown icon"></i>
                  <div class="default text"></div>
                  <div class="menu"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="ui error message"></div>
          <div class=field>
            <button id="submit-jellyfin" class="ui primary animated button" type="submit">
              <div class="visible content">Save Changes</div>
              <div class="hidden content">
                <i class="right arrow icon"></i>
              </div>
            </button>
          </div>
        </form>
      </div>

      <!-- Plex Connections -->
      <h2 class="ui dividing header">Plex Media Server</h2>
      <div id="plex-connection" class="connection-form">
        <!-- Enable button -->
        <div id="enable-plex" class="ui left aligned checkbox field">
          {% if preferences.use_plex %}
          <input type="checkbox" checked="">
          {% else %}
          <input type="checkbox">
          {% endif %}
          <label>Enable Plex</label>
        </div>

        <form id="plex-settings" class="ui fluid form">
          <div class="ui disabled required eight wide field" data-tooltip="Host URL to communicate with Plex">
            <label>URL</label>
            <input name="url" type="text" value="{{preferences.plex_url}}">
          </div>
          
          <div class="ui disabled eight wide field" data-tooltip="Token to authenticate communication with Plex">
            <label>Token <a href="https://support.plex.tv/articles/204059436-finding-an-authentication-token-x-plex-token/" target="_blank"><i class="external alternate small icon"></i></a></label>
            <input name="token" type="text" class="private" value="{{preferences.plex_token}}">
          </div>

          {% if preferences.plex_use_ssl %}
          <div class="ui left aligned disabled checked checkbox field" data-tooltip="Connect with HTTPS instead of HTTP">
            <input name="use_ssl" type="checkbox" checked="">
          {% else %}
          <div class="ui left aligned disabled checkbox field" data-tooltip="Connect with HTTPS instead of HTTP">                  
            <input name="use_ssl" type="checkbox">
          {% endif %}
            <label>Use SSL</label>
          </div>
          <br>

          {% if preferences.plex_integrate_with_pmm %}
          <div class="ui left aligned disabled checked checkbox field" data-tooltip="Whether to reset PMM overlays when applying title cards">
            <input name="integrate_with_pmm" type="checkbox" checked="">
          {% else %}
          <div class="ui left aligned disabled checkbox field" data-tooltip="Whether to reset PMM overlays when applying title cards">
            <input name="integrate_with_pmm"type="checkbox">
          {% endif %}
            <label>Integrate with Plex Meta Manager</label>
          </div>

          <div data-value="plex_filesize_limit" class="ui disabled field">
            <label>Filesize Limit</label>
            <div class="ui fields">
              <div class="two wide field" data-tooltip="Maximum file size of assets to upload to Plex">
                <input name="filesize_limit_number" type="number" min="1" value="{{preferences.plex_filesize_limit_number}}">
              </div>
              <div class="three wide field">
                <div data-value="plex_filesize_limit_unit" class="ui selection dropdown">
                  <input name="filesize_limit_unit" type="hidden">
                  <i class="dropdown icon"></i>
                  <div class="default text"></div>
                  <div class="menu"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Filesize warning -->
          {% if (preferences.plex_filesize_limit or 0) > 10485760 %}
          <div id="plex-filesize-warning" class="ui compact visible warning message">
          {% else %}
          <div id="plex-filesize-warning" class="ui compact warning message">
          {% endif %}
            <i class="exclamation triangle icon"></i>
            <b>Warning</b> Plex will reject images larger than <code>10 MB</code>
          </div>

          <div class="ui error message"></div>
          <button id="submit-plex" class="ui primary animated button" type="submit">
            <div class="visible content">Save Changes</div>
            <div class="hidden content">
              <i class="right arrow icon"></i>
            </div>
          </button>
        </form>
      </div>

      <!-- Sonarr Connections -->
      <h2 class="ui dividing header">Sonarr</h2>
      <div id="sonarr-connection" class="connection-form">
        <!-- Enable button -->
        <div id="enable-sonarr" class="ui left aligned checkbox field">
          {% if preferences.use_sonarr %}
          <input type="checkbox" name="enable_sonarr" checked="">
          {% else %}
          <input type="checkbox" name="enable_sonarr">
          {% endif %}
          <label>Enable Sonarr</label>
        </div>

        <form id="sonarr-settings" class="ui fluid form">
          <div class="ui disabled required eight wide field" data-tooltip="Host URL to communicate with Sonarr">
            <label>URL</label>
            <input type="text" name="url" value="{{preferences.sonarr_url}}">
          </div>

          <div class="ui disabled required eight wide field" data-tooltip="API Key to authenticate communication with Sonarr">
            <label>API Key <a href="https://github.com/CollinHeist/TitleCardMaker/wiki/Sonarr-Attributes#sonarr-api-key" target="_blank"><i class="external alternate small icon"></i></a></label>
            <input name="api_key" type="text" class="private" value="{{preferences.sonarr_api_key}}">
          </div>

          {% if preferences.sonarr_use_ssl %}
          <div class="ui left aligned disabled checked checkbox field" data-tooltip="Connect with HTTPS instead of HTTP">
            <input name="use_ssl" type="checkbox" checked="">
          {% else %}
          <div class="ui left aligned disabled checkbox field" data-tooltip="Connect with HTTPS instead of HTTP">                  
            <input name="use_ssl" type="checkbox">
          {% endif %}
            <label>Use SSL</label>
          </div>
          <br>
          {% if preferences.sonarr_downloaded_only %}
          <div class="ui left aligned disabled checked checkbox field" data-tooltip="Whether to ignore Episodes that are not downloaded">
            <input name="downloaded_only" type="checkbox" checked="">
          {% else %}
          <div class="ui left aligned disabled checkbox field" data-tooltip="Whether to ignore Episodes that are not downloaded">                  
            <input name="downloaded_only" type="checkbox">
          {% endif %}
            <label>Query Downloaded Episodes Only</label>
          </div>
          <br>

          <div class="ui disabled field">
            <label>Library Paths</label>
            <div class="ui compact floating visible info message">
              <i class="exclamation icon"></i>
              Only required if <a href="/sync">syncing</a> from Sonarr
            </div>
            <div class="fields">
              <div id="sonarr-libraries-library-names" class="two wide library field">
                <label>Library Name</label> 
                <!-- Added asynchronously -->
              </div>
              <div id="sonarr-libraries-library-paths" class="four wide field">
                <label>Path</label>
                <!-- Added asynchronously -->
              </div>
            </div>
            <div class="circular ui icon mini button" onclick="addSonarrLibrary()">
              <i class="plus square outline icon"></i>
              Add Library
            </div>
            <div class="circular ui icon mini button" onclick="querySonarrLibraries()" data-tooltip="Attempt to detect any Sonarr libraries ">
              <i class="search icon"></i>
              Auto-fill Libraries
            </div>
          </div>

          <div class="ui error message"></div>
          <div class="ui compact warning message">
            <i class="exclamation triangle icon"></i>
            These Library names and paths are <b>best guesses</b> from your Sonarr root folders.
            Double check their validity before saving.
          </div>
          <button id="submit-sonarr" class="ui primary animated button" type="submit">
            <div class="visible content">Save Changes</div>
            <div class="hidden content">
              <i class="right arrow icon"></i>
            </div>
          </button>
        </form>
      </div>

      <!-- Tautulli Integration -->
      <h2 class="ui dividing header">Tautulli</h2>
      <button id="tautulli-agent-button" class="ui labeled icon blue button">
        <i class="bell icon"></i>
        Create Notification Agent
      </button>

      <!-- TMDb Connections -->
      <h2 class="ui dividing header">TheMovieDatabase</h2>
      <div id="tmdb-connection" class="connection-form">
        <!-- Enable button -->
        <div id="enable-tmdb" class="ui left aligned checkbox field">
          {% if preferences.use_tmdb %}
          <input type="checkbox" name="enable_tmdb" checked="">
          {% else %}
          <input type="checkbox" name="enable_tmdb">
          {% endif %}
          <label>Enable TMDb</label>
        </div>

        <form id="tmdb-settings" class="ui fluid form">
          <!-- Input fields -->
          <div class="ui disabled required eight wide field" data-tooltip="API Key to authenticate communication with TMDb">
            <label>API Key <a href="https://developers.themoviedb.org/3/getting-started/introduction" target="_blank"><i class="external alternate small icon"></i></a></label>
            <input name="api_key"type="text" class="private" placeholder="{{preferences.tmdb_api_key}}" value="{{preferences.tmdb_api_key}}">
          </div>

          <div class="two fields">
            <div class="two wide field" data-tooltip="Minimum required width of images to gather from TMDb">
              <label>Minimum Width</label>
              <input name="minimum_width" type="number" value="{{preferences.tmdb_minimum_width}}">
            </div>
            <div class="two wide field" data-tooltip="Minimum required height of images to gather from TMDb">
              <label>Minimum Height</label>
              <input name="minimum_height" type="number" value="{{preferences.tmdb_minimum_height}}">
            </div>
          </div>

          <div class="ui left aligned checkbox field" data-tooltip="Whether to ignore images with assigned languages">
            {% if preferences.tmdb_skip_localized %}
            <input name="skip_localized" type="checkbox" checked="">
            {% else %}
            <input name="skip_localized" type="checkbox" >
            {% endif %}
            <label>Ignore Localized Images</label>
          </div>

          <br>
          <div class="ui left aligned checkbox field" data-tooltip="Whether to download logos automatically">
            {% if preferences.tmdb_download_logos %}
            <input name="download_logos" type="checkbox" checked="">
            {% else %}
            <input name="download_logos" type="checkbox">
            {% endif %}
            <label>Download Logos</label>
          </div>

          <div class="field">
            <label>Logo Language Priority</label>
            <div data-value="tmdb_logo_language_priority" class="ui compact multiple selection dropdown">
              <input name="logo_language_priority" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text"></div>
              <div class="menu"><!-- Added asynchronousely --></div>
            </div>
          </div>

          <div class="ui error message"></div>
          <button id="submit-tmdb" class="ui primary animated button" type="submit">
            <div class="visible content">Save Changes</div>
            <div class="hidden content">
              <i class="right arrow icon"></i>
            </div>
          </button>
        </form>
      </div>
    </div>

    <div id="tautulli-agent-modal" class="ui small modal">
      <i class="close icon"></i>
      <div class="header">Tautulli Notification Agent</div>
      <div class="content">
        <div class="ui compact raised segment">
          <span>TitleCardMaker can create a Notification Agent on Tautulli to immediately update Title Cards for newly added or recently watched Episodes.</span>
        </div>
        <form id="tautulli-agent-form" class="ui form">
          <div class="ui field">
            <label>Tautulli URL</label>
            <input name="tautulli_url">
          </div>
          
          <div class="ui field">
            <label>Tautulli API Key</label>
            <input name="tautulli_api_key" type="password">
          </div>

          <div class="ui left aligned checkbox field">
            <input name="tautulli_use_ssl" type="checkbox" checked="">
            <label>Use SSL for Secure Connections</label>
          </div>

          <div class="ui field">
            <label>Notification Agent Name</label>
            <input name="tautulli_agent_name" value="Update TitleCardMaker" placeholder="Update TitleCardMaker">
          </div>
          <div class="ui info message"></div>
        </form>
      </div>
      <div class="actions">
        <button form="tautulli-agent-form" class="ui right labeled icon blue button">
          Create Agent
          <i class="checkmark icon"></i>
        </button>
      </div>
    </div>
  </div>
</body>

</html>