<!DOCTYPE html>
<html lang="en">

<head>
  <title>Connections - TitleCardMaker</title>
  {% include "./html_boilerplate.html" %}

  <script type="text/javascript">
    {% include "./js/connections.js" %}
  </script>

  <link rel="stylesheet" type="text/css" href="/templates/css/connections.css?v={{preferences.current_version}}"/>

  <template id="interface-dropdown-template">
    <div data-value="interface_id" class="ui selection dropdown">
      <input type="hidden" name="interface_id" required>
      <i class="dropdown icon"></i>
      <div class="default text"></div>
      <div class="menu"></div>
    </div>
  </template>

  <template id="emby-connection-template">
    <div class="title">
      <i class="dropdown icon"></i>
      New Connection
      <span class="right floated">New</span>
    </div>
    <div class="content">
      <form class="ui fluid form" form-type="emby">
        <div data-value="enabled" class="ui left aligned checkbox field">
          <input name="enabled" type="checkbox" checked="">
          <label>Enabled</label>
        </div>

        <div class="ui required eight wide field">
          <label>Connection Name</label>
          <input name="name" type="text" value="Server">
          <p class="help">Name of this Connection within TCM.</p>
        </div>

        <div class="ui required eight wide field">
          <label>URL</label>
          <input name="url" type="text" placeholder="http://192.168.0.1:8000/">
          <p class="help">Host URL or IP Address of the server (including the port number).</p>
        </div>

        <div class="ui required eight wide field">
          <label>API Key</label>
          <input name="api_key" type="text" class="private">
          <p class="help">API key to authenticate communication.</p>
        </div>

        <div class="ui required field" data-value="username">
          <label>Username</label>
          <div data-value="username" class="ui compact selection dropdown">
            <input type="hidden" name="username">
            <i class="dropdown icon"></i>
            <div class="default text"></div>
            <div class="menu"></div>
          </div>
          <p class="help">Username of the user to query Episode watched statuses from.</p>
        </div>

        <div data-value="use_ssl" class="ui left aligned checkbox field">
          <label>Use SSL</label>
          <input name="use_ssl" type="checkbox" checked="">
          <p class="help">Connect with HTTPS instead of HTTP.</p>
        </div>

        <div class="ui eight wide field">
          <label>Filesize Limit</label>
          <input name="filesize_limit" type="text" value="5 Megabytes">
          <p class="help">
            Maximum file size of Title Cards to upload.
            <br>
            Title Cards larger than this will be compressed.
          </p>
        </div>

        <div class="ui error message"></div>
        <button class="ui primary animated button" type="submit" data-action="save">
          <div class="visible content">Save Changes</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </button>
        <button class="ui negative animated button" data-action="delete">
          <div class="visible content">Delete</div>
          <div class="hidden content">
            <i class="trash icon"></i>
          </div>
        </button>
      </form>
    </div>
  </template>

  <template id="plex-connection-template">
    <div class="title">
      <i class="dropdown icon"></i>
      New Connection
      <span class="right floated">New</span>
    </div>
    <div class="content">
      <form class="ui fluid form" form-type="plex">
        <div data-value="enabled" class="ui left aligned checkbox field">
          <label>Enabled</label>
          <input name="enabled" type="checkbox" checked="">
          <p class="help">Disabled Connections cannot be interacted with by TitleCardMaker.</p>
        </div>

        <div class="ui required eight wide field">
          <label>Connection Name</label>
          <input name="name" type="text" value="Plex">
          <p class="help">Name of this Connection within TCM.</p>
        </div>

        <div class="ui required eight wide field">
          <label>URL</label>
          <input name="url" type="text" placeholder="http://localhost:32400/">
          <p class="help">Host URL or IP Address of the server (including the port number).</p>
        </div>

        <div class="ui required eight wide field">
          <label>Token <a href="https://support.plex.tv/articles/204059436-finding-an-authentication-token-x-plex-token/" target="_blank"><i class="external alternate small icon"></i></a></label>
          <input name="api_key" type="text" class="private" placeholder="Token">
          <p class="help">X-Plex-Token to authenticate communication.</p>
        </div>

        <div data-value="use_ssl" class="ui left aligned checkbox field"">
          <label>Use SSL</label>
          <input name="use_ssl" type="checkbox" checked="">
          <p class="help">Connect with HTTPS instead of HTTP.</p>
        </div>
        <br>

        <div data-value="integrate_with_kometa" class="ui left aligned checkbox field">
          <label>Integrate with Kometa</label>
          <input name="integrate_with_kometa" type="checkbox">
          <p class="help">
            Whether to remove the <b>Overlay</b> label after uploading Title Cards.
            <br>
            This also prevents TCM from grabbing Source Images with overlays applied.
          </p>
        </div>

        <div class="ui eight wide field">
          <label>Filesize Limit</label>
          <input name="filesize_limit" type="text" value="5 Megabytes">
          <p class="help">
            Maximum file size of Title Cards to upload.
            <br>
            Title Cards larger than this will be compressed.
            <br>
            Plex rejects all images larger than 10 Megabytes.
          </p>
        </div>

        <div class="ui field">
          <label>Tautulli Agent</label>
          <button class="ui green animated button" data-action="tautulli" type="button">
            <div class="visible content">Create Notification Agent</div>
            <div class="hidden content">
              <i class="right arrow icon"></i>
            </div>
          </button>
          <p class="help">
            Create a Notification Agent in Tautulli.
            <br>
            Once created, this does not need to be re-created unless this Connection is deleted.
          </p>
        </div>

        <div class="ui error message"></div>
        <button class="ui primary animated button" type="submit" data-action="save">
          <div class="visible content">Save Changes</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </button>
        <button class="ui negative animated button" data-action="delete">
          <div class="visible content">Delete</div>
          <div class="hidden content">
            <i class="trash icon"></i>
          </div>
        </button>
      </form>
    </div>
  </template>

  <template id="sonarr-connection-template">
    <div class="title">
      <i class="dropdown icon"></i>
      New Connection
      <span class="right floated">New</span>
    </div>
    <div class="content">
      <form class="ui fluid form" form-type="sonarr">
        <div data-value="enabled" class="ui left aligned checkbox field">
          <label>Enabled</label>
          <input name="enabled" type="checkbox" checked="">
        </div>

        <div class="ui required eight wide field">
          <label>Connection Name</label>
          <input name="name" type="text" value="Sonarr">
          <p class="help">Name of this Connection within TCM.</p>
        </div>

        <div class="ui required eight wide field">
          <label>URL</label>
          <input name="url" type="text" placeholder="http://localhost:8989/">
          <p class="help">Host URL or IP Address of the server (including the port number).</p>
        </div>

        <div class="ui required eight wide field">
          <label>API Key</label>
          <input name="api_key" type="text" class="private" placeholder="API Key">
          <p class="help">API key to authenticate communication.</p>
        </div>

        <div data-value="use_ssl" class="ui left aligned checkbox field">
          <label>Use SSL</label>
          <input name="use_ssl" type="checkbox" checked="">
          <p class="help">Connect with HTTPS instead of HTTP.</p>
        </div>
        <br>

        <div data-value="downloaded_only" class="ui left aligned checkbox field">
          <label>Query Downloaded Episodes Only</label>
          <input name="downloaded_only" type="checkbox" checked="">
          <p class="help">Only add Episodes which are downloaded.</p>
        </div>

        <div class="ui eight wide field" data-value="libraries">
          <label>Library Paths</label>
          <p class="help">
            How to interpret Sonarr's paths when auto-assigning Libraries.
            <br>
            Only required if Syncing from Sonarr.
          </p>
          <div class="ui compact floating visible warning message">
            <i class="exclamation icon"></i>
            Libraries must be added after the Connection is created.
          </div>
          <div class="ui visible warning message">
            <i class="close icon"></i>
            <div class="header">
              Triple check your library definitions!
            </div>
            There is no easy way to bulk-remove these once assigned.
          </div>
          <div class="ui segment">
            <div class="three equal width fields">
              <div class="ui required library field" data-value="media_server">
                <label>Media Server</label>
                <p class="help">Associated server.</p>
                <!-- Added asychronously -->
              </div>
  
              <div class="library field" data-value="library_name">
                <label>Library Name</label>
                <p class="help">Name of the library to assign.</p>
                <!-- Added asynchronously -->
              </div>
              
              <div class="library field" data-value="library_path">
                <label>Path</label>
                <p class="help">Root directory of this library.</p>
                <!-- Added asynchronously -->
              </div>
            </div>
            <div class="circular ui icon mini button" data-action="add-library">
              <i class="plus square outline icon"></i>
              Add Library
            </div>
            <div class="circular ui icon mini button" data-action="query-libraries" data-tooltip="Attempt to auto-detect Sonarr libraries">
              <i class="search icon"></i>
              Auto-fill Libraries
            </div>
          </div>
        </div>

        <div class="ui error message"></div>
        <button class="ui primary animated button" type="submit" data-action="save">
          <div class="visible content">Save Changes</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </button>
        <button class="ui negative animated button" data-action="delete">
          <div class="visible content">Delete</div>
          <div class="hidden content">
            <i class="trash icon"></i>
          </div>
        </button>
      </form>
    </div>
  </template>
  
  <template id="tmdb-connection-template">
    <div class="title">
      <i class="dropdown icon"></i>
      New Connection
      <span class="right floated">New</span>
    </div>
    <div class="content">
      <form class="ui fluid form" form-type="plex">
        <div data-value="enabled" class="ui left aligned checkbox field">
          <label>Enabled</label>
          <input name="enabled" type="checkbox" checked="">
        </div>

        <div data-value="name" class="ui required eight wide field">
          <label>Connection Name</label>
          <input name="name" type="text" value="TMDb">
          <p class="help">Name of this Connection within TCM.</p>
        </div>

        <div data-value="api_key" class="ui required eight wide field">
          <label>API Key <a href="https://developers.themoviedb.org/3/getting-started/introduction" target="_blank"><i class="external alternate small icon"></i></a></label>
          <input name="api_key" type="text" class="private">
          <p class="help">Key to submit API requests to TMDb.</p>
        </div>

        <div data-value="minimum_dimensions" class="ui required four wide field">
          <label>Minimum Image Dimensions</label>
          <input name="minimum_dimensions" type="text" value="800x400">
          <p class="help">
            Minimum image resolution for Source Images from TMDb (in pixels) - enter as <b>width</b>x<b>height</b>.
          </p>
        </div>

        <div data-value="skip_localized" class="ui left aligned checkbox field">
          <label>Ignore Localized Images</label>
          <input name="skip_localized" type="checkbox" checked="">
          <p class="help">
            Whether to ignore images with assigned Languages (i.e. images with text).
            <br>
            Can be overwritten per-Series.
          </p>
        </div>

        <div data-value="language_priority" class="ui required field">
          <label>Language Priority</label>
          <div data-value="language_priority" class="ui compact multiple search selection dropdown">
            <input type="hidden" name="language_priority">
            <i class="dropdown icon"></i>
            <div class="default text"></div>
            <div class="menu"></div>
          </div>
          <p class="help">Order of languages to search for posters and logos.</p>
        </div>

        <div class="ui error message"></div>
        <button class="ui primary animated button" type="submit" data-action="save">
          <div class="visible content">Save Changes</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </button>
        <button class="ui negative animated button" data-action="delete">
          <div class="visible content">Delete</div>
          <div class="hidden content">
            <i class="trash icon"></i>
          </div>
        </button>
      </form>
    </div>
  </template>

  <template id="tvdb-connection-template">
    <div class="title">
      <i class="dropdown icon"></i>
      New Connection
      <span class="right floated">New</span>
    </div>
    <div class="content">
      <form class="ui fluid form" form-type="plex">
        <div data-value="enabled" class="ui left aligned checkbox field">
          <label>Enabled</label>
          <input name="enabled" type="checkbox" checked="">
        </div>

        <div data-value="name" class="ui required eight wide field">
          <label>Connection Name</label>
          <input name="name" type="text" value="TVDb">
          <p class="help">Name of this Connection within TCM.</p>
        </div>

        <div data-value="api_key" class="ui required eight wide field">
          <label>API Key <a href="https://thetvdb.com/api-information" target="_blank"><i class="external alternate small icon"></i></a></label>
          <input name="api_key" type="text" class="private">
          <p class="help">Key to submit API requests to TVDb.</p>
        </div>

        <div data-value="include_movies" class="ui left aligned checkbox field">
          <label>Include Movies</label>
          <input name="include_movies" type="checkbox">
          <p class="help">Whether to include Episodes which are marked as movies.</p>
        </div>

        <div data-value="minimum_dimensions" class="ui required four wide field">
          <label>Minimum Image Dimensions</label>
          <input name="minimum_dimensions" type="text" value="400x200">
          <p class="help">
            Minimum image resolution for Source Images from TVDb (in pixels) - enter as <b>width</b>x<b>height</b>.
          </p>
        </div>

        <div data-value="language_priority" class="ui required field">
          <label>Language Priority</label>
          <div data-value="language_priority" class="ui compact multiple search selection dropdown">
            <input type="hidden" name="language_priority">
            <i class="dropdown icon"></i>
            <div class="default text"></div>
            <div class="menu">
              <div class="item" data-value="ara">Arabic</div>
              <div class="item" data-value="ces">Czech</div>
              <div class="item" data-value="dan">Danish</div>
              <div class="item" data-value="deu">German</div>
              <div class="item" data-value="ell">Greek</div>
              <div class="item" data-value="eng">English</div>
              <div class="item" data-value="fra">French</div>
              <div class="item" data-value="ita">Italian</div>
              <div class="item" data-value="kor">Korean</div>
              <div class="item" data-value="nld">Dutch</div>
              <div class="item" data-value="pol">Polish</div>
              <div class="item" data-value="por">Portuguese</div>
              <div class="item" data-value="pt">Portuguese (Portugal)</div>
              <div class="item" data-value="rus">Russian</div>
              <div class="item" data-value="spa">Spanish</div>
              <div class="item" data-value="swe">Swedish</div>
              <div class="item" data-value="tur">Turkish</div>
              <div class="item" data-value="zho">Chinese</div>
              <div class="item" data-value="zhtw">Chinese (Traditional)</div>
            </div>
          </div>
          <p class="help">Order of languages to search for posters and logos.</p>
        </div>

        <div class="ui required field" data-value="episode_ordering">
          <label>Episode Ordering</label>
          <div data-value="episode_ordering" class="ui compact selection dropdown">
            <input type="hidden" name="episode_ordering">
            <i class="dropdown icon"></i>
            <div class="default text"></div>
            <div class="menu">
              <div class="item" data-value="absolute">Absolute</div>
              <div class="item" data-value="alternate">Alternate (Story)</div>
              <div class="item" data-value="default">Default</div>
              <div class="item" data-value="dvd">DVD</div>
              <div class="item" data-value="official">Official</div>
              <div class="item" data-value="regional">Regional</div>
            </div>
          </div>
          <p class="help">Which order of episodes to utilize. Not all Series have all orderings.</p>
        </div>

        <div class="ui error message"></div>
        <button class="ui primary animated button" type="submit" data-action="save">
          <div class="visible content">Save Changes</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </button>

        <button class="ui negative animated button" data-action="delete">
          <div class="visible content">Delete</div>
          <div class="hidden content">
            <i class="trash icon"></i>
          </div>
        </button>
      </form>
    </div>
  </template>
</head>

<body onload="initAll();">
  <div class="pusher">
    <!-- Static header and sidebar -->
    <div id="page-header">
      {% include "./header.html" %}
    </div>
    <div id="nav-menu">
      {% include "./settings_sidebar.html" %}
    </div>

    <!-- Actual page content -->
    <div id="main-content" class="article">
      <!-- Page title -->
      <h1 class="ui header">Connections</h1>

      <!-- Authentication -->
      <h2 class="ui dividing header">Authentication</h2>
      <div class="connection-form">
        <!-- Enable button -->
        <div data-value="require_auth" class="ui left aligned checkbox field">
          <label>Require Authentication</label>
          <input type="checkbox">
          <p class="help">
            Whether to require a username and password to access TCM.
            {% if not preferences.require_auth %}
            <br>
            When first enabled a temporary username (<b>admin</b>) and password (<b>password</b>) will be created.
            {% endif %}
          </p>
        </div>

        <form id="auth-settings" class="ui fluid form">
          <div class="ui two fields">
            <div class="ui four wide field">
              <label>Username</label>
              {% if active_username is none %}
              <input name="username" type="text">
              {% else %}
              <input name="username" type="text" value="{{active_username}}">
              {% endif %}
            </div>

            <div class="ui four wide field">
              <label>Password</label>
              <input name="password" type="password" class="private">
            </div>
          </div>

          <div class=field>
            <button class="ui primary animated button">
              <div class="visible content">Save Changes</div>
              <div class="hidden content">
                <i class="right arrow icon"></i>
              </div>
            </button>
          </div>
        </form>
      </div>

      <!-- Emby Connections -->
      <h2 class="ui dividing header">Emby</h2>
      <button class="ui blue tertiary add-connection button" onclick="addConnection('emby');">
        Add Connection
      </button>
      <div id="emby-connections" class="ui styled fluid accordion"><!-- Added later --></div>

      <!-- Jellyfin Connections -->
      <h2 class="ui dividing header">Jellyfin</h2>
      <button class="ui blue tertiary add-connection button" onclick="addConnection('jellyfin');">
        Add Connection
      </button>
      <div id="jellyfin-connections" class="ui styled fluid accordion"><!-- Added later --></div>

      <!-- Plex Connections -->
      <h2 class="ui dividing header">Plex</h2>
      <button class="ui blue tertiary add-connection button" onclick="addConnection('plex');">
        Add Connection
      </button>
      <div id="plex-connections" class="ui styled fluid accordion"><!-- Added later --></div>

      <!-- Sonarr Connections -->
      <h2 class="ui dividing header">Sonarr</h2>
      <button class="ui blue tertiary add-connection button" onclick="addConnection('sonarr');">
        Add Connection
      </button>
      <div id="sonarr-connections" class="ui styled fluid accordion"><!-- Added later --></div>

      <!-- TMDb Connections -->
      <h2 class="ui dividing header">TheMovieDatabase</h2>
      <button class="ui blue tertiary add-connection button" onclick="addConnection('tmdb');">
        Add Connection
      </button>
      <div id="tmdb-connections" class="ui styled fluid accordion"><!-- Added later --></div>

      <!-- TVDb Connections -->
      <h2 class="ui dividing header">TVDb</h2>
      <button class="ui blue tertiary add-connection button" onclick="addConnection('tvdb');">
        Add Connection
      </button>
      <div id="tvdb-connections" class="ui styled fluid accordion"><!-- Added later --></div>

    </div>

    <!-- Modals -->

    <div id="tautulli-agent-modal" class="ui small modal">
      <i class="close icon"></i>
      <div class="header">Tautulli Notification Agent</div>
      <div class="content">
        <div class="ui compact floating visible info message">
          <ul class="list">
            <li>A Tautulli Notification Agent can be used to immediately update Title Cards for newly added or recently watched Episodes.</li>
            <li>This bypasses the Scheduler, and is recommended for Plex users.</li>
          </ul>
        </div>
        <form id="tautulli-agent-form" class="ui form">
          <div class="ui two fields">
            <div class="ui required field">
              <label>Tautulli URL</label>
              <input name="url" placeholder="http://localhost:8181/">
            </div>
            
            <div class="ui required field">
              <label>Tautulli API Key</label>
              <input name="api_key" type="password" placeholder="abcdef">
            </div>
          </div>

          <div class="ui left aligned checkbox field">
            <label>Use SSL</label>
            <input name="use_ssl" type="checkbox" checked="">
          </div>

          <div class="ui divider"></div>

          <div class="ui two fields">
            <div class="ui field">
              <label>Notification Agent Name</label>
              <input name="agent_name" value="TitleCardMaker" placeholder="TitleCardMaker">
            </div>
  
            <div class="ui field">
              <label>TitleCardMaker URL</label>
              <input name="tcm_url" placeholder="Default">
              <p class="help">Root TitleCardMaker URL - typically only required when using a reverse proxy.</p>
            </div>
          </div>

          <!-- <div class="ui divider"></div> -->

          <div class="ui left aligned checkbox field">
            <label>Trigger on Recently Watched</label>
            <input name="trigger_watched" type="checkbox" checked="">
            <p class="help">If enabled, a separate Agent will be created to update TitleCardMaker when an Episode has been watched.</p>
          </div>

          <div class="ui field">
            <label>Plex Username</label>
            <input name="username" placeholder="All Users">
            <p class="help">If left blank, all users will trigger TitleCardMaker.</p>
          </div>

          <div class="ui info message"></div>
        </form>
      </div>
      <div class="actions">
        <button form="tautulli-agent-form" class="ui right labeled icon blue button">
          Create Agent
          <i class="checkmark icon"></i>
        </button>
      </div>
    </div>
  </div>
</body>

</html>