<!DOCTYPE html>
<html lang="en">

<head>
  <title>Connections - TitleCardMaker</title>
  {% include "./html_boilerplate.html" %}

  <script type="text/javascript">
    {% include "./js/connections.js" %}
  </script>

  <link rel="stylesheet" type="text/css" href="/templates/css/connections.css"/>

  <template id="interface-dropdown-template">
    <div data-value="interface_id" class="ui selection dropdown">
      <input type="hidden" name="interface_id">
      <i class="dropdown icon"></i>
      <div class="default text"></div>
      <div class="menu"></div>
    </div>
  </template>

  <template id="emby-connection-template">
    <div class="title">
      <i class="dropdown icon"></i>
      New Connection
    </div>
    <div class="content">
      <form class="ui fluid form" form-type="emby">
        <div data-value="enabled" class="ui left aligned checkbox field">
          <input name="enabled" type="checkbox">
          <label>Enabled</label>
        </div>

        <div class="ui required eight wide field">
          <label>Connection Name</label>
          <input name="name" type="text" placeholder="Server">
          <p class="help">Name of this Connection within TCM.</p>
        </div>

        <div class="ui required eight wide field">
          <label>URL</label>
          <input name="url" type="text" placeholder="http://192.168.0.1:8000/">
          <p class="help">Host URL or IP Address of the server (including the port number).</p>
        </div>

        <div class="ui required eight wide field">
          <label>API Key</label>
          <input name="api_key" type="text" class="private">
          <p class="help">API key to authenticate communication.</p>
        </div>

        <div class="ui required field" data-value="username">
          <label>Username</label>
          <div data-value="username" class="ui compact selection dropdown">
            <input type="hidden" name="username">
            <i class="dropdown icon"></i>
            <div class="default text"></div>
            <div class="menu"></div>
          </div>
          <p class="help">Username of the user to query Episode watched statuses from.</p>
        </div>

        <div data-value="use_ssl" class="ui left aligned checkbox field">
          <label>Use SSL</label>
          <input name="use_ssl" type="checkbox">
          <p class="help">Connect with HTTPS instead of HTTP.</p>
        </div>

        <div class="ui eight wide field">
          <label>Filesize Limit</label>
          <input name="filesize_limit" type="text" value="5 Megabytes">
          <p class="help">Compress Title Cards larger than this when uploading.</p>
        </div>

        <div class="ui error message"></div>
        <button class="ui primary animated button" type="submit" data-action="save">
          <div class="visible content">Save Changes</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </button>
        <button class="ui negative animated button" data-action="delete">
          <div class="visible content">Delete</div>
          <div class="hidden content">
            <i class="trash icon"></i>
          </div>
        </button>
      </form>
    </div>
  </template>

  <template id="plex-connection-template">
    <div class="title">
      <i class="dropdown icon"></i>
      New Connection
    </div>
    <div class="content">
      <form class="ui fluid form" form-type="plex">
        <div data-value="enabled" class="ui left aligned checkbox field">
          <label>Enabled</label>
          <input name="enabled" type="checkbox">
        </div>

        <div class="ui required eight wide field">
          <label>Connection Name</label>
          <input name="name" type="text" placeholder="Server">
          <p class="help">Name of this Connection within TCM.</p>
        </div>

        <div class="ui required eight wide field">
          <label>URL</label>
          <input name="url" type="text" placeholder="http://localhost:32400/">
          <p class="help">Host URL or IP Address of the server (including the port number).</p>
        </div>

        <div class="ui required eight wide field">
          <label>Token <a href="https://support.plex.tv/articles/204059436-finding-an-authentication-token-x-plex-token/" target="_blank"><i class="external alternate small icon"></i></a></label>
          <input name="api_key" type="text" class="private" placeholder="Token">
          <p class="help">X-Plex-Token to authenticate communication.</p>
        </div>

        <div data-value="use_ssl" class="ui left aligned checkbox field"">
          <label>Use SSL</label>
          <input name="use_ssl" type="checkbox">
          <p class="help">Connect with HTTPS instead of HTTP.</p>
        </div>
        <br>

        <div data-value="integrate_with_pmm" class="ui left aligned checkbox field">
          <label>Integrate with Plex Meta Manager</label>
          <input name="integrate_with_pmm" type="checkbox">
          <p class="help">Whether to reset Plex Meta Manager overlays when uploading Title Cards.</p>
        </div>

        <div class="ui eight wide field">
          <label>Filesize Limit</label>
          <input name="filesize_limit" type="text" value="5 Megabytes">
          <p class="help">
            Compress Title Cards larger than this when uploading.
            <br>
            Plex rejects all images larger than 10 Megabytes.
          </p>
        </div>

        <div class="ui error message"></div>
        <button class="ui primary animated button" type="submit" data-action="save">
          <div class="visible content">Save Changes</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </button>
        <button class="ui negative animated button" data-action="delete">
          <div class="visible content">Delete</div>
          <div class="hidden content">
            <i class="trash icon"></i>
          </div>
        </button>
      </form>
    </div>
  </template>

  <template id="sonarr-connection-template">
    <div class="title">
      <i class="dropdown icon"></i>
      New Connection
    </div>
    <div class="content">
      <form class="ui fluid form" form-type="sonarr">
        <div data-value="enabled" class="ui left aligned checkbox field">
          <label>Enabled</label>
          <input name="enabled" type="checkbox">
        </div>

        <div class="ui required eight wide field">
          <label>Connection Name</label>
          <input name="name" type="text" placeholder="Sonarr">
          <p class="help">Name of this Connection within TCM.</p>
        </div>

        <div class="ui required eight wide field">
          <label>URL</label>
          <input name="url" type="text" placeholder="http://localhost:8989/">
          <p class="help">Host URL or IP Address of the server (including the port number).</p>
        </div>

        <div class="ui required eight wide field">
          <label>API Key</label>
          <input name="api_key" type="text" class="private" placeholder="API Key">
          <p class="help">API key to authenticate communication.</p>
        </div>

        <div data-value="use_ssl" class="ui left aligned checkbox field">
          <label>Use SSL</label>
          <input name="use_ssl" type="checkbox">
          <p class="help">Connect with HTTPS instead of HTTP.</p>
        </div>
        <br>

        <div data-value="downloaded_only" class="ui left aligned checkbox field">
          <input name="downloaded_only" type="checkbox">
          <label>Query Downloaded Episodes Only</label>
          <p class="help">Only get data for Episodes which are downloaded.</p>
        </div>

        <div class="ui eight wide field" data-value="libraries">
          <label>Library Paths</label>
          <p class="help">
            How to interpret Sonarr's paths when auto-assigning Libraries.
            <br>
            Only required if Syncing from Sonarr.
          </p>
          <div class="ui compact floating visible warning message">
            <i class="exclamation icon"></i>
            Libraries can be added <i>after</i> the Connection is created
          </div>
          <div class="ui segment">

            <div class="three equal width fields">
              <div class="ui required library field" data-value="media_server">
                <label>Media Server</label>
                <p class="help">Which Server this library is associated with.</p>
                <!-- Added asychronously -->
              </div>
  
              <div class="library field" data-value="library_name">
                <label>Library Name</label>
                <p class="help">Name of the library to assign.</p>
                <!-- Added asynchronously -->
              </div>
              
              <div class="library field" data-value="library_path">
                <label>Path</label>
                <p class="help">Root directory of this library.</p>
                <!-- Added asynchronously -->
              </div>
            </div>
            <div class="circular ui icon mini button" data-action="add-library">
              <i class="plus square outline icon"></i>
              Add Library
            </div>
            <div class="circular ui icon mini button" data-action="query-libraries" data-tooltip="Attempt to auto-detect Sonarr libraries">
              <i class="search icon"></i>
              Auto-fill Libraries
            </div>
          </div>
        </div>

        <div class="ui error message"></div>
        <button class="ui primary animated button" type="submit" data-action="save">
          <div class="visible content">Save Changes</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </button>
        <button class="ui negative animated button" data-action="delete">
          <div class="visible content">Delete</div>
          <div class="hidden content">
            <i class="trash icon"></i>
          </div>
        </button>
      </form>
    </div>
  </template>
  
  <template id="tmdb-connection-template">
    <div class="title">
      <i class="dropdown icon"></i>
      New Connection
    </div>
    <div class="content">
      <form class="ui fluid form" form-type="plex">
        <div data-value="enabled" class="ui left aligned checkbox field">
          <label>Enabled</label>
          <input name="enabled" type="checkbox">
        </div>

        <div data-value="name" class="ui required eight wide field">
          <label>Connection Name</label>
          <input name="name" type="text" placeholder="TMDb" value="TMDb">
          <p class="help">Name of this Connection within TCM.</p>
        </div>

        <div data-value="api_key" class="ui required eight wide field">
          <label>API Key <a href="https://developers.themoviedb.org/3/getting-started/introduction" target="_blank"><i class="external alternate small icon"></i></a></label>
          <input name="api_key" type="text" class="private">
          <p class="help">Key to submit API requests to TMDb.</p>
        </div>

        <div data-value="minimum_dimensions" class="ui required four wide field">
          <label>Minimum Image Dimensions</label>
          <input name="minimum_dimensions" type="text" placeholder="0x0" value="0x0">
          <p class="help">
            Minimum image resolution for source images from TMDb (in pixels) - enter as <b>width</b>x<b>height</b>.
          </p>
        </div>

        <div data-value="ignore_localized" class="ui left aligned checkbox field">
          <label>Ignore Localized Images</label>
          <input name="ignore_localized" type="checkbox">
          <p class="help">
            Whether to ignore images with assigned Languages (i.e. images with text).
            <br>
            Can be overwritten per-Series.
          </p>
        </div>

        <div data-value="logo_language_priority" class="ui required field">
          <label>Logo Language Priority</label>
          <div data-value="logo_language_priority" class="ui compact selection dropdown">
            <input type="hidden" name="logo_language_priority">
            <i class="dropdown icon"></i>
            <div class="default text"></div>
            <div class="menu"></div>
          </div>
          <p class="help">Order of languages to search for logos in.</p>
        </div>

        <div class="ui error message"></div>
        <button class="ui primary animated button" type="submit" data-action="save">
          <div class="visible content">Save Changes</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </button>
        <button class="ui negative animated button" data-action="delete">
          <div class="visible content">Delete</div>
          <div class="hidden content">
            <i class="trash icon"></i>
          </div>
        </button>
      </form>
    </div>
  </template>
</head>

<body onload="initAll();">
  <div class="pusher">
    <!-- Static header and sidebar -->
    <div id="page-header">
      {% include "./header.html" %}
    </div>
    <div id="nav-menu">
      {% include "./settings_sidebar.html" %}
    </div>

    <!-- Actual page content -->
    <div id="main-content" class="article">
      <!-- Page title -->
      <h1 class="ui header">Connections</h1>

      <!-- Authentication -->
      <h2 id="authentication" class="ui dividing header">Authentication</h2>
      <div class="connection-form">
        <!-- Enable button -->
        <div data-value="require_auth" class="ui left aligned checkbox field">
          <label>Require Authentication</label>
          <input type="checkbox">
          <p class="help">Whether to require a username and password to access TCM.</p>
        </div>

        <form id="auth-settings" class="ui fluid form">
          <div class="ui two fields">
            <div class="ui four wide field">
              <label>Username</label>
              <input name="username" type="text">
            </div>

            <div class="ui four wide field">
              <label>Password</label>
              <input name="password" type="password" placeholder="hunter2">
            </div>
          </div>

          <div class=field>
            <button class="ui primary animated button">
              <div class="visible content">Save Changes</div>
              <div class="hidden content">
                <i class="right arrow icon"></i>
              </div>
            </button>
          </div>
        </form>
      </div>

      <!-- Emby Connections -->
      <h2 class="ui dividing header">Emby</h2>
      <button class="ui primary tertiary button" onclick="addConnection('emby');">
        Add Connection
      </button>
      <div id="emby-connections" class="ui styled fluid accordion">
        <!-- Added later -->
      </div>

      <!-- Jellyfin Connections -->
      <h2 class="ui dividing header">Jellyfin</h2>
      <button class="ui primary tertiary button" onclick="addConnection('jellyfin');">
        Add Connection
      </button>
      <div id="jellyfin-connections" class="ui styled fluid accordion">
        <!-- Added later -->
      </div>

      <!-- Plex Connections -->
      <h2 class="ui dividing header">Plex</h2>
      <button class="ui primary tertiary button" onclick="addConnection('plex');">
        Add Connection
      </button>
      <div id="plex-connections" class="ui styled fluid accordion">
        <!-- Added later -->
      </div>

      <!-- Sonarr Connections -->
      <h2 class="ui dividing header">Sonarr</h2>
      <button class="ui primary tertiary button" onclick="addConnection('sonarr');">
        Add Connection
      </button>
      <div id="sonarr-connections" class="ui styled fluid accordion">
        <!-- Added later -->
      </div>

      <!-- Tautulli Integration -->
      <h2 id="tautulli" class="ui dividing header">Tautulli</h2>
      <button id="tautulli-agent-button" class="ui labeled icon blue button">
        <i class="bell icon"></i>
        Create Notification Agent
      </button>

      <!-- TMDb Connections -->
      <h2 class="ui dividing header">TheMovieDatabase</h2>
      <button class="ui primary tertiary button" onclick="addConnection('tmdb');">
        Add Connection
      </button>
      <div id="tmdb-connections" class="ui styled fluid accordion">
        <!-- Added later -->
      </div>
    </div>

    <div id="tautulli-agent-modal" class="ui small modal">
      <i class="close icon"></i>
      <div class="header">Tautulli Notification Agent</div>
      <div class="content">
        <div class="ui compact floating visible info message">
          <!-- <i class="info circle icon"></i>
          <b>Info</b> -->
          <ul class="list">
            <li>A Tautulli Notification Agent can be used to immediately update Title Cards for newly added or recently watched Episodes.</li>
            <li>This bypasses the Scheduler, and is <i>highly</i> recommended for Plex users.</li>
          </ul>
        </div>
        <form id="tautulli-agent-form" class="ui form">
          <div class="ui field">
            <label>Tautulli URL</label>
            <input name="tautulli_url" placeholder="http://localhost:8181/">
          </div>
          
          <div class="ui field">
            <label>Tautulli API Key</label>
            <input name="tautulli_api_key" type="password" placeholder="abcdef">
          </div>

          <div class="ui left aligned checkbox field">
            <input name="tautulli_use_ssl" type="checkbox" checked="">
            <label>Use SSL</label>
          </div>

          <div class="ui field">
            <label>Notification Agent Name</label>
            <input name="tautulli_agent_name" value="Update TitleCardMaker" placeholder="Update TitleCardMaker">
          </div>
          <div class="ui info message"></div>
        </form>
      </div>
      <div class="actions">
        <button form="tautulli-agent-form" class="ui right labeled icon blue button">
          Create Agent
          <i class="checkmark icon"></i>
        </button>
      </div>
    </div>
  </div>
</body>

</html>