<!DOCTYPE html>
<html lang="en">

<head>
  <title>Fonts - TitleCardMaker</title>
  {% include "./html_boilerplate.html" %}

  <script type="text/javascript">
    {% include "./js/fonts.js" %}
  </script>

  <link rel="stylesheet" type="text/css" href="/templates/css/fonts.css"/>

  <template id="font-template">
    <div class="ui styled fluid accordion">
      <div class="title">
        <i class="dropdown icon"></i>
        {name}
      </div>
      <div class="ui content">
        <div class="ui two column very relaxed stackable grid">
          <div class="eight wide column">
            <form data-value="font-form" class="ui form">
              <div class="field">
                <label>Name</label>
                <input name="name" type="text" placeholder="Font #{id}" minlength="1">
              </div>

              <div class="field">
                <label data-value="file">File</label>
                <div class="ui file input">
                  <input name="font_file" type="file" accept=".otf,.ttf,.font/*">
                </div>
              </div>

              <div class="two fields">
                <div class="field">
                  <label>Color <a href="https://imagemagick.org/script/color.php#color_names" target="_blank"><i class="external alternate small icon"></i></a></label>
                  <input name="color" type="text" placeholder="Default">
                </div>

                <div class="field">
                  <label>Text Case</label>
                  <div class="ui clearable selection dropdown">
                    <input name="title_case" type="hidden">
                    <div class="default text">Default</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <div class="item" data-value="blank">Blank</div>
                      <div class="item" data-value="lower">Lowercase</div>
                      <div class="item" data-value="source">Source</div>
                      <div class="item" data-value="title">Title</div>
                      <div class="item" data-value="upper">Uppercase</div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="three fields">
                <div class="field">
                  <label>Size</label>
                  <div class="ui right labeled input">
                    <input name="size" type="number" placeholder="100">
                    <div class="ui basic label">%</div>
                  </div>
                </div>
                <div class="field">
                  <label>Kerning</label>
                  <div class="ui right labeled input">
                    <input name="kerning" type="number" placeholder="100">
                    <div class="ui basic label">%</div>
                  </div>
                </div>
                <div class="field">
                  <label>Stroke Width</label>
                  <div class="ui right labeled input">
                    <input name="stroke_width" type="number" placeholder="100">
                    <div class="ui basic label">%</div>
                  </div>
                </div>
              </div>

              <div class="three fields">
                <div class="field">
                  <label>Interline Spacing</label>
                  <input name="interline_spacing" type="number" placeholder="0">
                </div>

                <div class="field">
                  <label>Interword Spacing</label>
                  <input name="interword_spacing" type="number" placeholder="0">
                </div>

                <div class="field">
                  <label>Vertical Shift</label>
                  <input name="vertical_shift" type="number" placeholder="0">
                </div>
              </div>

              <div class="ui checkbox field">
                <input name="delete_missing" type="checkbox">
                <label>Delete Missing Characters</label>
              </div>

              <div class="field">
                <label>Character Replacements</label>
                <div class="unstackable fields">
                  <div data-value="in-replacements" class="four wide right aligned field">
                    <label>Text to Replace</label>
                    <!-- <input name="replacements_in" type="text"> -->
                  </div>
                  <div data-value="out-replacements" class="four wide field">
                    <label>Replacement Text</label>
                    <!-- <input name="replacements_out" type="text"> -->
                  </div>
                </div>
              </div>
              <!-- Add replacement button -->
              <div class="field">
                <div data-action="populateReplacements" class="circular ui icon mini green button" data-tooltip="Analyze the Font for suggested character replacements">
                  <i class="magic icon"></i>
                  Analyze Font Replacements
                </div>
                <div data-action="addReplacement" class="circular ui icon mini button">
                  <i class="plus square outline icon"></i>
                  Add Replacement
                </div>
              </div>

              <!-- Buttons -->
              <button class="ui primary animated button" type="submit">
                <div class="visible content">Save Changes</div>
                <div class="hidden content">
                  <i class="right arrow icon"></i>
                </div>
              </button>
              <button class="ui negative animated button">
                <div class="visible content">Delete</div>
                <div class="hidden content">
                  <i class="trash icon"></i>
                </div>
              </button>
              <div class="ui error message"></div>
            </form>
          </div>

          <div class="eight wide column">
            <button data-action="refresh" class="ui blue tertiary compact button">
              <i class="redo icon"></i>
              Refresh Preview
            </button>
            <form data-value="preview-form" class="ui form">
              <div class="two fields">
                <div class="eight wide field">
                  <label>Preview Card Type</label>
                  <div class="ui clearable selection card-type dropdown">
                    <input name="card_type" type="hidden">
                    <div class="default text">None</div>
                    <i class="dropdown icon"></i>
                    <div class="menu"><!-- Added asynchronously --></div>
                  </div>
                </div>
                <div class="field">
                  <label>Preview Title<a><i class="sort alphabet down icon"></i></a></label>
                  <input name="title_text" placeholder="Example Title" value="Example Title">
                </div>
              </div>
            </form>
            <div class="ui fluid raised card">
              <div class="content">
                <img alt="Preview Title Card" src="/internal_assets/blank.png">
              </div>
            </div>
            <div class="ui bottom attached floating info message">
              <i class="exclamation icon"></i>
              A custom Font file must be <b>uploaded</b> and <b>submitted</b> in order to appear in the live preview.
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
</head>

<body onload="getAllFonts();">
  <div class="pusher">
    <!-- Static header and sidebar -->
    <div id="page-header">
      {% include "./header.html" %}
    </div>
    <div id="nav-menu">
      {% include "./sidebar.html" %}
    </div>

    <!-- Actual page content -->
    <div id="main-content" class="article">
      <h1 class="ui header">Fonts</h1>

      <!-- Add font button -->
      <button class="ui primary tertiary button" onclick="addFont()">Create New Font</button>

      <div id="fonts"><!-- Elements added asynchronously --></div>

      <div class="ui compact floating info message">
        <div class="header">What are Fonts?</div>
        <ul class="list">
          <li>A custom Font can override the default Font characteristics - such as color, size, etc. - of a Title Card.</li>
          <li>Custom Fonts can be assigned as part of a Template.</li>
          <li>Custom Font definitions can be overwritten per-Series or Episode.</li>
          <li>Creating a <i>Named Font</i> (on this Page) allows the custom Font to be reused by multiple Series or Templates.</li>
          <li>Only custom <i>Named Fonts</i> can have custom Font files, Series and Episode Fonts cannot.</li>
        </ul>
      </div>
    </div>

  </div>
</body>

</html>