<div id="header-search" class="ui transparent input">
  <div id="search-bar" class="ui search">
    <div class="ui icon input">
    <input class="prompt" type="text" placeholder="Search...">
    <i class="search icon"></i>
    </div>
    <div class="results"></div>
  </div>
</div>

<div id="support-button">
  <a href="https://github.com/sponsors/CollinHeist" target="_blank">
    <div class="ui red button">
      <i class="heart icon"></i> Support?
    </div>
  </a>
</div>

<style>
  :root {
    --support-button-color: #db2828;
  }

  #support-button {
    /* font-size: 4rem; */

    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--support-button-color);
    /* border: var(--clr-neon) 0.125em solid; */
    /* padding: 0.5em; */
    border-radius: 0.25em;

    /* text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor; */

    /* box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon); */
    box-shadow: 0 0 1.1em 0 var(--support-button-color);

    /* position: relative; */
  }
  #supprt-button .button {
    /* Don't leave any additional margin, set by right-positioning */
    margin: 0;
  }
</style>