<div id="tcm-logo" class="ui inverted basic button" onclick="$('#nav-menu .sidebar').css('width', '100px !important');">
  <img alt="Title Card Maker Logo" src="/assets/logo128.png" style="margin: auto; max-width: 43px; max-height: 43px;">
</div>

<div id="header-search" class="ui transparent input">
  <div id="search-bar" class="ui search">
    <div class="ui icon input">
    <input class="prompt" type="text" placeholder="Search...">
    <i class="search icon"></i>
    </div>
    <div class="results"></div>
  </div>
</div>

<div id="theme-toggle">
  <div class="ui inverted primary blue animated button" onclick="toggleTheme()">
    <div class="visible content"><i class="sun outline icon"></i></div>
    <div class="hidden content"><i class="moon outline icon"></i></div>
  </div>
</div>

<div id="support-button">
  <a href="https://github.com/sponsors/CollinHeist" target="_blank">
    <div class="ui red button">
      <i class="heart icon"></i> Support
    </div>
  </a>
</div>

<script>
  function refreshTheme() {
    const inverted = (window.localStorage.getItem('site-theme') === 'dark');
    $('#main-content .ui').toggleClass('inverted', inverted);
    $('.modal, .modal .ui, .accordion, .accordion .ui').toggleClass('inverted', inverted);
  }

  function toggleTheme() {
    const currentIcons = $('#theme-toggle i');
    // Toggle inverted class modifier, update button sun <-> moon, and set background color
    // Light -> Dark
    if (currentIcons[0].classList.contains('sun')) {
      currentIcons[0].className = 'moon outline icon';
      currentIcons[1].className = 'sun outline icon';
      $('body')[0].style.setProperty('background-color', 'var(--background-color-dark)');
      window.localStorage.setItem('site-theme', 'dark');
    // Dark -> light
    } else {
      currentIcons[1].className = 'moon outline icon';
      currentIcons[0].className = 'sun outline icon';
      $('body')[0].style.setProperty('background-color', 'var(--background-color-light)');
      window.localStorage.setItem('site-theme', 'light');
    }
    refreshTheme();
  }

  // Default theme is LIGHT, so if dark is indicated, toggle
  let theme = window.localStorage.getItem('site-theme');
  if (theme === 'dark') { toggleTheme(); }
</script>