<!DOCTYPE html>
<html lang="en">

<head>
  <title>TitleCardMaker</title>
  {% include "./html_boilerplate.html" %}

  <script type="text/javascript">
    {% include "./js/home.js" %}
  </script>

  <link rel="stylesheet" type="text/css" href="/templates/css/home.css"/>

  <!-- Templates -->
  <template id="series-template">
    <div class="ui raised card transition hidden"> <!-- Start hidden so they can be transitioned in -->
      <div class="blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <a>
                <div class="ui inverted button">View</div>
              </a>
            </div>
          </div>
        </div>
        <img loading="lazy" onerror="this.onerror=null; this.src='/internal_assets/placeholder.jpg'">
      </div>
      <div>
        <div class="ui attached progress">
          <div class="green bar"></div> <!-- Monitored, created -->
          <div class="red bar"></div> <!-- Monitored, missing -->
          <div class="blue bar"></div> <!-- Unmonitored, created -->
          <div class="orange bar"></div> <!-- Unonitored, missing -->
        </div>
      </div>
      <div class="text content" tabindex="0">
        <a>
          <div class="ui tiny header series-name"></div>
        </a>
      </div>
    </div>
  </template>

  <template id="series-row-template">
    {% if preferences.reduced_animations %}
    <tr>
    {% else %}
    <tr class="transition hidden">
    {% endif %}
      <td class="selectable" data-row="select">
        <a data-action="select">
          <div data-value="select" class="ui right aligned fitted checkbox">
            <input type="checkbox">
            <label></label>
          </div>
        </a>
      </td>
      <td data-row="name" class="collapsing selectable">
        <a>
          <h4 class="ui image header">
            <img class="ui tiny rounded image">
            <div class="content" data-value="name">Attack on Titan</div>
          </h4>
        </a>
      </td>
      <td data-row="year" class="center aligned">{YEAR}</td>
      <td data-row="libraries" class="center aligned">
        <div data-value="libraries" class="ui compact multiple selection dropdown">
          <input name="libraries" type="hidden">
          <i class="dropdown icon"></i>
          <div class="default text">None</div>
          <div class="menu"></div>
        </div>
      </td>
      <td data-row="card_count" class="center aligned selectable">
        <a>
          <span data-value="card_count">{N} / {Y} Cards</span>
          <div class="ui bottom attached multiple progress" data-total="134" data-value="112,22">
            <div class="green bar"></div>
            <div class="red bar"></div>
          </div>
        </a>
      </td>
      <td data-row="monitored" class="center aligned selectable"><a></a></td>
      <td class="center aligned selectable" data-row="process"><a><i class="images outline icon"></i></a></td>
    </tr>
  </template>
</head>

<body onload="initAll();">
  <div>
    <!-- Static header and sidebar -->
    <div id="page-header">
      {% include "./header.html" %}
    </div>
    <div id="nav-menu">
      {% include "./home_sidebar.html" %}
    </div>

    <!-- Actual page content -->
    <div id="main-content" class="article">
      <!-- Toolbar -->
      <div id="toolbar" class="ui menu">
        <div class="ui dropdown item">
          <i class="ui sort icon"></i>
          Sort
          <div class="menu">
            <a class="item" onclick="sortSeries('name');">
              <i class="ui sort alphabet down icon"></i>
              Name
            </a>
            <a class="item" onclick="sortSeries('id');">
              <i class="ui sort icon"></i>
              Recently Added
            </a>
            <a class="item" onclick="sortSeries('sync');">
              <i class="sync icon"></i>
              Sync
            </a>
            <a class="item" onclick="sortSeries('cards');">
              <i class="ui sort amount down icon"></i>
              Title Cards
            </a>
            <a class="item" onclick="sortSeries('year')">
              <i class="ui sort numeric down icon"></i>
              Year
            </a>
          </div>
        </div>
        <a class="item" onclick="$('#filter-modal').modal('show');">
          <i class="ui solid filter icon"></i>
          Filter
        </a>
        {% if preferences.home_page_table_view %}
        <a class="item" data-action="select" onclick="toggleAllSelection();">
          <i class="exchange alternate icon"></i>
          Toggle Selection
        </a>
        <a class="disabled item" data-action="unselect" onclick="clearSelection();">
          <i class="times icon"></i>
          Clear Selection
        </a>
        <div class="ui dropdown disabled item" data-action="edit">
          <i class="caret down icon"></i>
          More
          <div class="menu">
            <div class="divider"></div>
            <a class="item" onclick="batchMonitor();">
              <i class="ui eye outline green icon"></i>
              Monitor
            </a>
            <a class="item" onclick="batchUnmonitor();">
              <i class="ui eye slash outline red icon"></i>
              Unmonitor
            </a>
            <a class="item" onclick="batchProcess();">
              <i class="ui images outline blue icon"></i>
              Create Title Cards
            </a>
            <a class="item" onclick="batchLoad(false);">
              <i class="hdd outline icon"></i>
              Load Title Cards
            </a>
            <a class="item" onclick="batchLoad(true);">
              <i class="hdd outline orange icon"></i>
              Force-Reload Title Cards
            </a>
            <div class="divider"></div>
            <a class="item" onclick="batchDeleteEpisodes();">
              <i class="red play circle outline icon"></i>
              Delete Episodes
            </a>
            <a class="item" onclick="batchDeleteCards();">
              <i class="red images outline icon"></i>
              Delete Title Cards
            </a>
            <a class="item" onclick="batchDeleteSeries();">
              <i class="red trash alternate outline icon"></i>
              Delete Series
            </a>
          </div>
        </div>
        {% endif %}
      </div>

      <!-- Loader -->
      <div class="loading container">
        <i class="layer"></i>
        <i class="layer"></i>
        <i class="layer"></i>
      </div>
      
      <!-- Actual series content, added asynchronously -->
      {% if preferences.home_page_table_view %}
      <table class="ui basic sortable striped celled unstackable table">
        <thead>
          <tr>
            <th class="center aligned collapsing no-sort">Select</th>
            <th class="six wide collapsing">Series</th>
            <th class="center aligned collapsing">Year</th>
            <th class="center aligned">Libraries</th>
            <th class="center aligned">Title Cards</th>
            <th class="center aligned collapsing">Monitored</th>
            <th class="center aligned collapsing no-sort">Create<br>Cards</th>
          </tr>
        </thead>
        <tbody id="series-table"></tbody>
      </table>
      {% else %}
      <div id="series-list" class="ui cards"></div>
      {% endif %}
      <div id="pagination" class="ui centered pagination menu"><!-- Pagination added later --></div>
      
      <!-- Statistics -->
      <div class="ui equal width grid">
        <div class="column">
          <div class="ui mini horizontal statistics">
            <div class="ui statistic" data-value="series">
              <div class="value">x</div>
              <div class="label">Series</div>
            </div>
            <div class="ui statistic" data-value="monitored">
              <div class="value">x</div>
              <div class="label">Monitored</div>
            </div>
            <div class="ui statistic" data-value="unmonitored">
              <div class="value">x</div>
              <div class="label">Unmonitored</div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui mini horizontal statistics">
            <a href="/card-templates">
              <div class="ui statistic" data-value="templates">
                <div class="value">x</div>
                <div class="label">Templates</div>
              </div>
            </a>
            <a href="/fonts">
              <div class="ui statistic" data-value="fonts">
                <div class="value">x</div>
                <div class="label">Fonts</div>
              </div>
            </a>
            <a href="/sync">
              <div class="ui statistic" data-value="syncs">
                <div class="value">x</div>
                <div class="label">Syncs</div>
              </div>
            </a>
          </div>
        </div>
        <div class="column">
          <div class="ui mini horizontal statistics">
            <div class="ui statistic" data-value="episodes">
              <div class="value">x</div>
              <div class="label">Episodes</div>
            </div>
            <div class="ui statistic" data-value="title-cards">
              <div class="value">x</div>
              <div class="label">Cards</div>
            </div>
            <div class="ui statistic" data-value="loaded-title-cards">
              <div class="value">x</div>
              <div class="label">Loaded Cards</div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui mini horizontal statistics">
            <div class="ui statistic" data-value="filesize">
              <div class="value">x</div>
              <div class="label">Mega-tera-giga-bytes</div>
            </div>
            <a href="/graphs">
              <div class="ui statistic">
                <div class="value"><i class="chart bar yellow icon"></i></div>
                <div class="label"><span class="ui yellow text">View Graphs</span></div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- Modals -->
      <div id="filter-modal" class="ui small scrolling modal">
        <i class="close icon"></i>
        <div class="header">Filter Series</div>
        <div class="scrolling content">
          <form class="ui form">
            <div class="ui checkbox field">
              <label>Included Monitored</label>
              <input name="monitored" type="checkbox">
            </div>
            <br>

            <div class="ui checkbox field">
              <label>Included Unmonitored</label>
              <input name="unmonitored" type="checkbox">
            </div>
            <br>

            <div class="ui checkbox field">
              <label>Missing Title Cards</label>
              <input name="missing_title_cards" type="checkbox">
            </div>
          </form>
        </div>
        <div class="actions">
          <button class="ui cancel button">Cancel</button>
          <button class="ui blue right labeled icon button">
            <i class="ui solid filter icon"></i>
            Filter
          </button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
