/* Style series cards */
.series-name {
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ui.cards > .card {
  min-width: 100px;
  width: 10%;
  max-width: 150px
}
.card img {
  aspect-ratio: 1 / 1.5;
}

/* On mobile, show 3 cards/row */
@media (max-width: 768px) {
  .ui.cards .card {
    min-width: unset;
    width: calc(33% - 1em);
  }
}

/* Pulse cards on hover - alternate */
.ui.cards > .card:hover {
  animation: pulse 0.75s 1; 
}
@keyframes pulse {
  0%, 
  100% {
    animation-timing-function: ease-in;
  }
  50% {
    transform: scale(1.03);
  }
}

/* Pulse the add series button on hover */
#add-series:hover {
  animation: pulse 2s infinite;
}

#toolbar {
  position: fixed;
  z-index: 11; /* Z index of the blur shadow overlay on posters is 10 */
  line-height: 50px; /* Center text vertically inside the div */
  /* Start the toolbar on the right side of the screen, move left */
  display: inline-block;
  right: 30px;
}

#toolbar > .menu {
  margin-left: 10px;
}

/* Add drop shadow to all children of the toolbar */
#toolbar > * {
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.3),0 2px 10px 0 rgba(34,36,38,.40);
}

/* Rotate toolbar icons when pressed */
#toolbar >* i.icon {
  transform: rotate(0deg);
        transition: transform 0.5s ease-in-out;
}
#toolbar >* i.icon.rotate {
  transform: rotate(180deg);
}

/* Ensure sidebar starts on the right of the statistics */
#statistics {
  display: inline-block; 
  margin-bottom: 10px;
}

/* Add spacing between pagination menu and series cards */
#pagination {
  margin-top: 25px;
}