<div class="ui left visible compact vertical inverted sidebar labeled icon menu">
  <a class="glow-effect surround top item" href="/" data-glow-animation="true">
    <i class="tv icon"></i>
    Series
    <svg class="glow-container">
      <rect pathLength="30" stroke-linecap="round" class="glow-blur"></rect>
      <rect pathLength="30" stroke-linecap="round" class="glow-line"></rect>
    </svg>
  </a>
  <a class="glow-effect surround item" href="/add" data-glow-animation="true">
    <i class="search plus icon"></i>
    Add
    <svg class="glow-container">
      <rect pathLength="30" stroke-linecap="round" class="glow-blur"></rect>
      <rect pathLength="30" stroke-linecap="round" class="glow-line"></rect>
    </svg>
  </a>
  <a class="glow-effect surround bottom item" href="/missing" data-glow-animation="true">
    <i class="unlink icon"></i>
    Missing
    <svg class="glow-container">
      <rect pathLength="30" stroke-linecap="round" class="glow-blur"></rect>
      <rect pathLength="30" stroke-linecap="round" class="glow-line"></rect>
    </svg>
  </a>
  <a class="glow-effect item" href="/card-templates" data-glow-animation="true">
    <i class="clone outline icon"></i>
    Templates
    <svg class="glow-container">
      <rect pathLength="30" stroke-linecap="round" class="glow-blur"></rect>
      <rect pathLength="30" stroke-linecap="round" class="glow-line"></rect>
    </svg>
  </a>
  <a class="glow-effect item" href="/fonts" data-glow-animation="true">
    <i class="font icon"></i>
    Fonts
    <svg class="glow-container">
      <rect pathLength="30" stroke-linecap="round" class="glow-blur"></rect>
      <rect pathLength="30" stroke-linecap="round" class="glow-line"></rect>
    </svg>
  </a>
  <a class="glow-effect item" href="/sync" data-glow-animation="true">
    <i class="sync icon"></i>
    Sync
    <svg class="glow-container">
      <rect pathLength="30" stroke-linecap="round" class="glow-blur"></rect>
      <rect pathLength="30" stroke-linecap="round" class="glow-line"></rect>
    </svg>
  </a>
  <a class="glow-effect item" href="/settings" data-glow-animation="true">
    <i class="sliders horizontal icon"></i>
    Settings
    <svg class="glow-container">
      <rect pathLength="30" stroke-linecap="round" class="glow-blur"></rect>
      <rect pathLength="30" stroke-linecap="round" class="glow-line"></rect>
    </svg>
  </a>
  <a class="glow-effect item" href="/system" data-glow-animation="true">
    <i class="cogs icon"></i>
    System
    <svg class="glow-container">
      <rect pathLength="30" stroke-linecap="round" class="glow-blur"></rect>
      <rect pathLength="30" stroke-linecap="round" class="glow-line"></rect>
    </svg>
  </a>
</div>
