<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/internal_assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/internal_assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/internal_assets/favicon/favicon-16x16.png">
<link rel="manifest" href="/internal_assets/favicon/site.webmanifest">

<!-- Formantic UI -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.js"></script>

<!-- JS Files -->
<script type="text/javascript" src="/templates/js/loadStaticContent.js?v={{preferences.current_version}}"></script>
<script type="text/javascript" src="/templates/js/loadCardTypes.js?v={{preferences.current_version}}"></script>
<script type="text/javascript" src="/templates/js/theme.js?v={{preferences.current_version}}"></script>
<script type="text/javascript" src="/templates/js/messages.js?v={{preferences.current_version}}"></script>
<script type="text/javascript" src="/templates/js/helper.js?v={{preferences.current_version}}"></script>
<script type="text/javascript" src="/templates/js/tablesort.js?v={{preferences.current_version}}"></script>
<script type="text/javascript" src="/templates/js/changelog.js?v={{preferences.current_version}}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    // Show changelog if necessary
    notifyChanges('{{preferences.current_version}}');
    {% if preferences.colorblind_mode %}
    console.log('boop');
    $('body').toggleClass('accessible', true);
    {% endif %}
  });
</script>

<!-- Styles -->
<link rel="stylesheet" type="text/css" href="/templates/css/style.css"/>
<link rel="stylesheet" type="text/css" href="/templates/css/sidebar.css"/>
