<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Import - TitleCardMaker</title>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/internal_assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/internal_assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/internal_assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/internal_assets/favicon/site.webmanifest">

  <!-- Formantic UI -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.js"></script>
  
  <!-- JS Files -->
  <script type="text/javascript" src="/templates/loadStaticContent.js"></script>
  <script type="text/javascript" src="/templates/loadCardTypes.js"></script>
  <script type="text/javascript" src="/templates/theme.js"></script>
  <script type="text/javascript" src="/templates/helper.js"></script>

  <!-- Global styles -->
  <link rel="stylesheet" type="text/css" href="/templates/style.css"/>
  <style>
    /* Limit the width of the YAML textarea inputs, set font to monospace */
    textarea {
      width: 50% !important;
      font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
    }

    /* Override width on mobile */
    @media (max-width: 768px) {
      textarea {
        width: 100% !important;
      }
    }

    .ui.compact.visible.message {
      display: inline-block !important;
    }

    /* Add green checkbox before the name of active items in dropdowns */
    #import-cards-form .dropdown .active.item .text::before {
      content: "\f00c";
      color: #21ba45;
      margin-right: 0.2em;
      font-family: icons;
    }
  </style>
</head>

<body onload="initAll();">
  <script>
    async function initSeriesImport() {
      // Extension selector
      $('.dropdown[data-value="image_extension"]').dropdown({
        values: [
          {name: '.jpg',  value: '.jpg',  selected: '{{preferences.card_extension}}' === '.jpg'},
          {name: '.jpeg', value: '.jpeg', selected: '{{preferences.card_extension}}' === '.jpeg'},
          {name: '.png',  value: '.png',  selected: '{{preferences.card_extension}}' === '.png'},
          {name: '.tiff', value: '.tiff', selected: '{{preferences.card_extension}}' === '.tiff'},
          {name: '.gif',  value: '.gif',  selected: '{{preferences.card_extension}}' === '.gif'},
          {name: '.webp', value: '.webp', selected: '{{preferences.card_extension}}' === '.webp'},
        ],
      });
      // Series selector
      const allSeries = await fetch('/api/series/all').then(resp => resp.json());
      let seriesMap = {};
      for (series of allSeries) { seriesMap[series.id] = series; }
      $('.dropdown[data-value="series_id"]').dropdown({
        ignoreDiacritics: true,
        sortSelect: true,
        placeholder: 'Select 1+ Series',
        useLabels: false,
        values: [
          // All series toggle
          {name: 'Select All Series', actionable: true},
          {name: 'Series', type: 'header'},
          // All series
          ...allSeries.sort((a, b) => a.name.localeCompare(b.name)).map(series => {
            return {
              name: series.name,
              value: series.id,
              // image: series.poster_url,
              text: series.name,
              description: series.year,
              sortSelect: true,
              descriptionVertical: true,
            };
          }),
        ], onChange: (value, text, $selectedItem) => {
          // Disable directory field if multiple series are selected
          if (value.includes(',')) {
            $('.field[data-value="directory"]').toggleClass('disabled', true);
          // Single series selected, enable field and update with series directory
          } else {
            $('.field[data-value="directory"]').toggleClass('disabled', false);
            if (seriesMap[value] === undefined || seriesMap[value].directory === null) {
              $('input[name="directory"]')[0].value = '';
            } else {
              $('input[name="directory"]')[0].value = seriesMap[value].directory;
            }
          }
        }, onActionable: (value, text, $selected) => {
          $('.dropdown[data-value="series_id"]').dropdown({
            ignoreDiacritics: true,
            sortSelect: true,
            placeholder: 'Select 1+ Series',
            useLabels: false,
            values: allSeries.sort((a, b) => a.name.localeCompare(b.name)).map(series => {
              return {
                name: series.name,
                value: series.id,
                selected: true,
                text: series.name,
                description: series.year,
                sortSelect: true,
                descriptionVertical: true,
              };
            }),
          });
        },
      });
      // Toggle media server dropdown with load checkbox
      $('.checkbox[data-value="load_afterwards"]').checkbox({
        onChecked: () => $('.field[data-value="media_server"]').toggleClass('disabled', false),
        onUnchecked: () => $('.field[data-value="media_server"]').toggleClass('disabled', true),
      });
      // Media server dropdown
      $('.dropdown[data-value="media_server"]').dropdown({
        placeholder: 'Plex',
        values: [
          {% if preferences.use_emby %}
          {name: 'Emby', selected: false},
          {% endif %}
          {% if preferences.use_jellyfin %}
          {name: 'Jellyfin', selected: false},
          {% endif %}
          {% if preferences.use_plex %}
          {name: 'Plex', selected: true},
          {% endif %}
        ],
      });
    }

    async function initAll() {
      initSeriesImport();
    }

    function loadCards(seriesId) {
      // Get associated Media Server to load cards into, default Plex
      let mediaServer = $('input[name="media_server"]')[0].value;
      mediaServer = mediaServer === '' ? 'Plex' : mediaServer;
      $.ajax({
        type: 'POST',
        url: `/api/series/${seriesId}/load/${mediaServer}`,
        success: response => {
          $.toast({class: 'blue info', title: `Loaded Cards`});
        }, error: response => {
          $.toast({class: 'error', title: 'Error loading Cards', message: response.responseJSON.detail});
        }, complete: () => {},
      });
    }

    function importSeries() {
      // Get associated Series
      let seriesIds = $('input[name="series_id"]')[0].value;
      if (seriesIds === '') {
        $('.dropdown[data-value="series_id"]').toggleClass('error', true);
        return;
      }
      $('.dropdown[data-value="series_id"]').toggleClass('error', false);
      seriesIds = seriesIds.split(',');
      // Data for request
      const directoryValue = $('input[name="directory"]')[0].value
      const data = {
        series_ids: seriesIds,
        directory: directoryValue === '' ? null : directoryValue,
        image_extension: $('input[name="image_extension"]')[0].value,
        force_reload: $('.checkbox[data-value="force_reload"]').checkbox('is unchecked'),
      };
      // URL for request if submitting >1 series
      const url = seriesIds.length > 1 ? '/api/import/series/cards' : `/api/import/series/${seriesIds[0]}/cards`;
      // Submit request
      $('.segment .dimmer').toggleClass('active', true);
      $.ajax({
        type: 'POST',
        url: url,
        data: JSON.stringify(data),
        contentType: 'application/json',
        success: response => {
          $.toast({
            class: 'blue info',
            title: `Imported ${response.imported} Cards`,
          });
          if ($('.checkbox[data-value="load_afterwards"]').checkbox('is checked')) {
            for (let series_id of seriesIds) { loadCards(series_id); }
          }
        }, error: response => {
          $.toast({class: 'error', title: 'Error importing Cards', message: response.responseJSON.detail});
        }, complete: () => {
          $('.segment .dimmer').toggleClass('active', false);
        },
      });
    }

    function submitYamlForm(args) {
      const {url, data, formId, name, successMessage} = args;
      $(`${formId} button`).toggleClass('loading', true);
      $.ajax({
        type: 'POST',
        url: url,
        data: JSON.stringify(data),
        contentType: 'application/json',
        success: response => { 
          if (successMessage === undefined) {
            $.toast({class: 'blue info', title: `Imported ${name} YAML`});
          } else {
            const message = successMessage(response);
            $.toast({class: 'blue info', title: `Imported ${name} YAML`, message: message});
          }
          $(`${formId} .error.message[data-value="${name}"]`)[0].innerHTML = '';
        }, error: response => {
          $(formId).toggleClass('error', true);
          $.toast({class: 'error', title: `Unable to Import ${name} YAML`, displayTime: 5000});
          const messageHtml = `<div class="header">${name} YAML Parsing Error</div><p>${response.responseJSON.detail}</p>`
          $(`${formId} .error.message[data-value="${name}"]`)[0].innerHTML = messageHtml;
        }, complete: () => {
          $(`${formId} button`).toggleClass('loading', false);
        },
      });
    }
  </script>

  <div class="pusher">
    <!-- Static header and sidebar loaded by external script -->
    <div id="page-header"></div>
    <div id="nav-menu"></div>

    <!-- Actual page content -->
    <div id="main-content" class="article">
      <div class="ui stackable grid">
        <div class="sixteen wide column">
          <h1 class="ui header">Importer</h1>

          <div data-value="import-series-segment" class="ui compact segment">
            <h2 class="ui dividing header">Existing Title Cards</h2>
            <div class="ui dimmer">
              <div class="ui text blue elastic loader">Importing Title Cards..</div>
            </div>
            <form id="import-cards-form" class="ui form">
              <div class="ui field">
                <label>Series</label>
                <div data-value="series_id" class="ui search multiple selection dropdown" data-tooltip="Series to import the Cards into">
                  <input name="series_id" type="hidden">
                  <div class="text"></div>
                  <i class="dropdown icon"></i>
                  <div class="menu"></div>
                </div>
              </div>

              <div data-value="image_extension" class="ui field">
                <label>Card Extension</label>
                <div data-value="image_extension" class="ui search selection dropdown" data-tooltip="File extension of Cards to search for">
                  <input name="image_extension" type="hidden">
                  <div class="text">.jpg</div>
                  <i class="dropdown icon"></i>
                  <div class="menu"></div>
                </div>
              </div>

              <div data-value="directory" class="ui field">
                <label>Card Directory</label>
                <div data-value="directory" class="ui right icon input" data-tooltip="Directory to search for Cards">
                  <input name="directory" type="text" placeholder="Series Default">
                  <i class="folder outline icon"></i>
                </div>
              </div>
              <div class="ui visible info message">
                <i class="info circle icon"></i>
                <b>Info</b> When importing Cards for multiple Series, only each default Card Directory is searched.
              </div>

              <div data-value="force_reload" class="ui inline field">
                <div data-value="force_reload" class="ui checked checkbox" data-tooltip="Do not import Episodes that TCM has already created Cards for" data-position="right center">
                  <input type="checkbox" class="hidden" checked="">
                  <label>Skip Episodes with existing Cards</label>
                </div>
              </div>

              <div class="ui inline field">
                <div data-value="load_afterwards" class="ui checked checkbox" data-tooltip="Whether to load the title cards after importing them" data-position="right center">
                  <input type="checkbox" class="hidden" checked="">
                  <label>Load Title Cards</label>
                </div>
              </div>

              <div data-value="media_server" class="ui field">
                <label>Media Server</label>
                <div data-value="media_server" class="ui selection dropdown" data-tooltip="Which server to load the cards into after importing (if enabled)">
                  <input name="media_server" type="hidden" placeholder="Plex">
                  <i class="dropdown icon"></i>
                  <div class="default text"></div>
                  <div class="menu"></div>
                </div>
              </div>
              <button class="ui animated primary button" type="submit">
                <div class="visible content">Submit</div>
                <div class="hidden content">
                  <i class="right arrow icon"></i>
                </div>
              </button>
            </form>
          </div>
          
          <h2 class="ui dividing header">YAML</h2>
          <h3 class="ui header">Preferences File</h3>
          <form id="preferences-form" class="ui form">
            <div data-value="yaml" class="ui field">
              <textarea name="yaml" placeholder="Paste YAML here.." rows="10"></textarea>
            </div>

            <div class="grouped fields">
              <div class="ui inline field">
                <div data-value="options" class="ui checkbox">
                  <input type="checkbox" class="hidden">
                  <label>Global Options</label>
                </div>
              </div>

              <div class="ui inline field">
                <div data-value="connections" class="ui checkbox">
                  <input type="checkbox" class="hidden">
                  <label>Connections (Emby, Jellyfin, Plex, Sonarr, and TMDb)</label>
                </div>
              </div>

              <div class="ui inline field">
                <div data-value="syncs" class="ui checkbox">
                  <input type="checkbox" class="hidden">
                  <label>Syncs (All Sections)</label>
                </div>
              </div>
            </div>

            <div data-value="Options" class="ui compact floating error message"></div>
            <div data-value="Connections" class="ui compact floating error message"></div>
            <div data-value="Syncs" class="ui compact floating error message"></div>
            <button class="ui animated primary button" type="submit">
              <div class="visible content">Submit</div>
              <div class="hidden content">
                <i class="right arrow icon"></i>
              </div>
            </button>
          </form>

          <h3 class="ui header">Series YAML (or Sync) File</h3>
          <form id="series-form" class="ui form">
            <div data-value="yaml" class="ui field">
              <textarea name="yaml" placeholder="Paste YAML here.." rows="10"></textarea>
            </div>

            <div class="ui grouped fields">
              <div class="ui inline field">
                <div data-value="fonts" class="ui checkbox">
                  <input type="checkbox" class="hidden">
                  <label>Fonts</label>
                </div>
              </div>

              <div class="ui inline field">
                <div data-value="templates" class="ui checkbox">
                  <input type="checkbox" class="hidden">
                  <label>Templates</label>
                </div>
              </div>

              <div class="ui inline field">
                <div data-value="series" class="ui checkbox">
                  <input type="checkbox" class="hidden">
                  <label>Series</label>
                </div>
              </div>
            </div>
            <div class="ui visible compact floating warning message">
              <i class="exclamation triangle icon"></i>
              <b>Warning</b>
              <ul class="list">
                <li>Template settings will be applied to imported Series. Templates will not be assigned.</li>
                <li>Custom Font files will need to be manually uploaded.</li>
              </ul>
            </div>
            <br>
            <div data-value="Fonts" class="ui compact floating error message"></div>
            <div data-value="Templates" class="ui compact floating error message"></div>
            <div data-value="Series" class="ui compact floating error message"></div>
            <br>
            <button class="ui animated primary button" type="submit">
              <div class="visible content">Submit</div>
              <div class="hidden content">
                <i class="right arrow icon"></i>
              </div>
            </button>
          </form>
        </div>
      </div>
    </div>

  </div>

  <script>
    $('.ui.checkbox').checkbox();
    $('.ui.dropdown').dropdown();

    // Import cards form submission
    $('#import-cards-form').on('submit', event => {
      // Prevent page reload
      event.preventDefault();
      importSeries();
    });

    // Preferences form submission
    $('#preferences-form').on('submit', event => {
      // Prevent page reload
      event.preventDefault();
      const form = new FormData(event.target);
      // Determine which queries to submit
      if ($('#preferences-form .checkbox[data-value="options"]').checkbox('is checked')) {
        submitYamlForm({
          url: '/api/import/preferences/options',
          data: Object.fromEntries(form),
          formId: '#preferences-form',
          name: 'Options',
        });
      }
      if ($('#preferences-form .checkbox[data-value="connections"]').checkbox('is checked')) {
        submitYamlForm({
          url: '/api/import/preferences/connection/all',
          data: Object.fromEntries(form),
          formId: '#preferences-form',
          name: 'Connections',
        });
      }
      if ($('#preferences-form .checkbox[data-value="syncs"]').checkbox('is checked')) {
        submitYamlForm({
          url: '/api/import/preferences/sync',
          data: Object.fromEntries(form),
          formId: '#preferences-form',
          name: 'Syncs',
        });
      }
    });

    // Series YAML form submission
    $('#series-form').on('submit', event => {
      // Prevent page reload
      event.preventDefault();
      const form = new FormData(event.target);
      // Turn off error status of the form
      $('#series-form').toggleClass('error', false);
      // Determine which queries to submit
      if ($('#series-form .checkbox[data-value="fonts"]').checkbox('is checked')) {
        submitYamlForm({
          url: '/api/import/fonts',
          data: Object.fromEntries(form),
          formId: '#series-form',
          name: 'Fonts',
          successMessage: newFonts => `Created ${newFonts.length} Custom Fonts`,
        });
      }
      if ($('#series-form .checkbox[data-value="templates"]').checkbox('is checked')) {
        submitYamlForm({
          url: '/api/import/templates',
          data: Object.fromEntries(form),
          formId: '#series-form',
          name: 'Templates',
          successMessage: newTemplates => `Created ${newTemplates.length} Templates`,
        });
      }
      if ($('#series-form .checkbox[data-value="series"]').checkbox('is checked')) {
        submitYamlForm({
          url: '/api/import/series',
          data: Object.fromEntries(form),
          formId: '#series-form',
          name: 'Series',
          successMessage: newSeries => `Created ${newSeries.length} Series`,
        });
      }
    })
  </script>
</body>

</html>