<!DOCTYPE html>
<html lang="en">

<head>
  <title>Import - TitleCardMaker</title>
  {% include "./html_boilerplate.html" %}

  <script type="text/javascript">
    {% include "./js/import.js" %}
  </script>
  
  <link rel="stylesheet" type="text/css" href="/templates/css/import.css"/>
</head>

<body onload="initAll();">
  <div class="pusher">
    <!-- Static header and sidebar loaded by external script -->
    <div id="page-header"></div>
    <div id="nav-menu"></div>

    <!-- Actual page content -->
    <div id="main-content" class="article">
      <div class="ui stackable grid">
        <div class="sixteen wide column">
          <h1 class="ui header">Importer</h1>

          <div data-value="import-series-segment" class="ui compact segment">
            <h2 class="ui dividing header">Existing Title Cards</h2>
            <div class="ui dimmer">
              <div class="ui text blue elastic loader">Importing Title Cards..</div>
            </div>
            <form id="import-cards-form" class="ui form">
              <div class="ui field">
                <label>Series</label>
                <div data-value="series_id" class="ui search multiple selection dropdown" data-tooltip="Series to import the Cards into">
                  <input name="series_id" type="hidden">
                  <div class="text"></div>
                  <i class="dropdown icon"></i>
                  <div class="menu"></div>
                </div>
              </div>

              <div data-value="image_extension" class="ui field">
                <label>Card Extension</label>
                <div data-value="image_extension" class="ui search selection dropdown" data-tooltip="File extension of Cards to search for">
                  <input name="image_extension" type="hidden">
                  <div class="default text">.jpg</div>
                  <i class="dropdown icon"></i>
                  <div class="menu"></div>
                </div>
              </div>

              <div data-value="directory" class="ui field">
                <label>Card Directory</label>
                <div data-value="directory" class="ui right icon input" data-tooltip="Directory to search for Cards">
                  <input name="directory" type="text" placeholder="Series Default">
                  <i class="folder outline icon"></i>
                </div>
              </div>
              <div class="ui visible info message">
                <i class="info circle icon"></i>
                When importing Cards for multiple Series, only each default Card Directory is searched.
              </div>

              <div data-value="force_reload" class="ui inline field">
                <div data-value="force_reload" class="ui checked checkbox" data-tooltip="Do not import Episodes that TCM has already created Cards for" data-position="right center">
                  <input type="checkbox" class="hidden" checked="">
                  <label>Skip Episodes with existing Cards</label>
                </div>
              </div>

              <div class="ui inline field">
                <div data-value="load_afterwards" class="ui checked checkbox" data-tooltip="Whether to load the title cards after importing them" data-position="right center">
                  <input type="checkbox" class="hidden" checked="">
                  <label>Load Title Cards</label>
                </div>
              </div>

              <div data-value="media_server" class="ui field">
                <label>Media Server</label>
                <div data-value="media_server" class="ui selection dropdown" data-tooltip="Which server to load the cards into after importing (if enabled)">
                  <input name="media_server" type="hidden">
                  <i class="dropdown icon"></i>
                  <div class="default text">Plex</div>
                  <div class="menu">
                    {% if preferences.use_emby %}
                    <div class="item">Emby</div>
                    {% endif %}
                    {% if preferences.use_jellyfin %}
                    <div class="item">Jellyfin</div>
                    {% endif %}
                    {% if preferences.use_plex %}
                    <div class="active item">Plex</div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <button class="ui animated primary button" type="submit">
                <div class="visible content">Submit</div>
                <div class="hidden content">
                  <i class="right arrow icon"></i>
                </div>
              </button>
            </form>
          </div>
          
          <h2 class="ui dividing header">YAML</h2>
          <div class="ui compact floating visible info message">
            <i class="info circle icon"></i>
            Validate your YAML <i>before</i> importing - an online validator can be found <a href="https://www.yamllint.com/" target="_blank">here</a>.
          </div>
          <h3 class="ui header">Preferences File</h3>
          <form id="preferences-form" class="ui form">
            <div data-value="yaml" class="ui field">
              <textarea name="yaml" placeholder="Paste YAML here.." rows="10"></textarea>
            </div>

            <div class="grouped fields">
              <div class="ui inline field">
                <div data-value="options" class="ui checkbox">
                  <input type="checkbox" class="hidden">
                  <label>Global Options</label>
                </div>
              </div>

              <div class="ui inline field">
                <div data-value="connections" class="ui checkbox">
                  <input type="checkbox" class="hidden">
                  <label>Connections (Emby, Jellyfin, Plex, Sonarr, and TMDb)</label>
                </div>
              </div>

              <div class="ui inline field">
                <div data-value="syncs" class="ui checkbox">
                  <input type="checkbox" class="hidden">
                  <label>Syncs (All Sections)</label>
                </div>
              </div>
            </div>

            <div data-value="Options" class="ui compact floating error message"></div>
            <div data-value="Connections" class="ui compact floating error message"></div>
            <div data-value="Syncs" class="ui compact floating error message"></div>
            <button class="ui animated primary button" type="submit">
              <div class="visible content">Submit</div>
              <div class="hidden content">
                <i class="right arrow icon"></i>
              </div>
            </button>
          </form>

          <h3 class="ui header">Series YAML (or Sync) File</h3>
          <form id="series-form" class="ui form">
            <div data-value="yaml" class="ui field">
              <textarea name="yaml" placeholder="Paste YAML here.." rows="10"></textarea>
            </div>

            <div class="ui grouped fields">
              <div class="ui inline field">
                <div data-value="fonts" class="ui checkbox">
                  <input type="checkbox" class="hidden">
                  <label>Fonts</label>
                </div>
              </div>

              <div class="ui inline field">
                <div data-value="templates" class="ui checkbox">
                  <input type="checkbox" class="hidden">
                  <label>Templates</label>
                </div>
              </div>

              <div class="ui inline field">
                <div data-value="series" class="ui checkbox">
                  <input type="checkbox" class="hidden">
                  <label>Series</label>
                </div>
              </div>
            </div>
            <div class="ui visible compact floating warning message">
              <i class="exclamation triangle icon"></i>
              <b>Warning</b>
              <ul class="list">
                <li>Template settings will be applied to the imported Series. Templates will not be assigned.</li>
                <li>Custom Font files will need to be manually uploaded.</li>
                <li>Fonts cannot be defined inside Templates. Create a separate Font entry and assign it to the Template.</li>
                <li>Custom Source file overrides (via <b>seasons</b> or <b>episode_ranges</b>) will not be imported.</li>
              </ul>
            </div>
            <br>
            <div data-value="Fonts" class="ui compact floating error message"></div>
            <div data-value="Templates" class="ui compact floating error message"></div>
            <div data-value="Series" class="ui compact floating error message"></div>
            <br>
            <button class="ui animated primary button" type="submit">
              <div class="visible content">Submit</div>
              <div class="hidden content">
                <i class="right arrow icon"></i>
              </div>
            </button>
          </form>
        </div>
      </div>
    </div>

  </div>

  <script>
    
  </script>
</body>

</html>