<!DOCTYPE html>
<html lang="en">

<head>
  <title>Logs - TitleCardMaker</title>
  {% include "./html_boilerplate.html" %}

  <script type="text/javascript" defer>
    {% include "./js/logs.js" %}
  </script>

  <link rel="stylesheet" type="text/css" href="/templates/css/logs.css">

  <!-- Templates -->
  <template id="debug-message-template">
    <tr class="left blue marked">
      <td data-value="level" class="selectable center aligned">Debug</td>
      <td data-value="time" class="selectable center aligned collapsing" data-tooltip="Add time as Filter">{time}</td>
      <td data-value="context_id" class="selectable center aligned collapsing" data-tooltip="Add ID as Filter">{context_id}</td>
      <td data-value="message">{message}</td>
    </tr>
  </template>

  <template id="info-message-template">
    <tr class="green.colored left green marked">
      <td data-value="level" class="selectable center aligned">Info</td>
      <td data-value="time" class="selectable center aligned collapsing" data-tooltip="Add time as Filter">{time}</td>
      <td data-value="context_id" class="selectable center aligned collapsing" data-tooltip="Add ID as Filter">{context_id}</td>
      <td data-value="message">{message}</td>
    </tr>
  </template>

  <template id="warning-message-template">
    <tr class="left yellow marked">
      <td data-value="level" class="selectable center aligned">Warning</td>
      <td data-value="time" class="selectable center aligned collapsing" data-tooltip="Add time as Filter">{time}</td>
      <td data-value="context_id" class="selectable center aligned collapsing" data-tooltip="Add ID as Filter">{context_id}</td>
      <td data-value="message">{message}</td>
    </tr>
  </template>

  <template id="error-message-template">
    <tr class="left red marked">
      <td data-value="level" class="selectable center aligned">Error</td>
      <td data-value="time" class="selectable center aligned collapsing" data-tooltip="Add time as Filter">{time}</td>
      <td data-value="context_id" class="selectable center aligned collapsing" data-tooltip="Add ID as Filter">{context_id}</td>
      <td data-value="message">{message}</td>
    </tr>
  </template>

  <template id="critical-message-template">
    <tr class="red colored left red marked">
      <td data-value="level" class="selectable center aligned">Critical</td>
      <td data-value="time" class="selectable center aligned collapsing" data-tooltip="Add time as Filter">{time}</td>
      <td data-value="context_id" class="selectable center aligned collapsing" data-tooltip="Add ID as Filter">{context_id}</td>
      <td data-value="message">{message}</td>
    </tr>
  </template>

  <script>
    
  </script>
</head>

<body onload="initAll();">
  <div class="pusher">
    <!-- Static header and sidebar -->
    <div id="page-header">
      {% include "./header.html" %}
    </div>
    <div id="nav-menu">
      {% include "./sidebar.html" %}
    </div>

    <!-- Actual page content -->
    <div id="main-content" class="article">
      <h1 class="ui header">Logs</h1>

      <!-- Update logs -->
      <button onclick="queryForLogs();" class="ui blue tertiary compact button">
        <i class="redo icon"></i>
        Refresh Logs
      </button>
      <!-- Copy to clipboard -->
      <div onclick="downloadPage();" class="ui green tertiary compact button" data-tooltip="Download current page as text file">
        <i class="arrow down icon"></i>
        Download Page
      </div>
      <div onclick="resetForm();" class="ui red tertiary compact button">
        <i class="eraser icon"></i>
        Clear Filters
      </div>

      <!-- Log filters -->
      <form id="log-filters" class="ui form">
        <div class="fields">
          <!-- Contains substring -->
          <div class="ui field">
            <label>Message Contains</label>
            <input name="contains" type="text" placeholder="Text..">
          </div>
          <!-- Context ID -->
          <div class="ui field">
            <label data-tooltip="Comma separated list of Context IDs to filter by">Context IDs</label>
            <input name="context_id" type="text" placeholder="ID..">
          </div>
          <!-- Start Date -->
          <div class="ui field">
            <label>Start Date</label>
            <div class="ui calendar" id="date-after">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input name="after" type="text" placeholder="Start">
              </div>
            </div>
          </div>
          <!-- End Date -->
          <div class="ui field">
            <label>End Date</label>
            <div class="ui calendar" id="date-before">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input name="before" type="text" placeholder="End">
              </div>
            </div>
          </div>
          <!-- Log level -->
          <div class="ui field">
            <label>Minimum Level</label>
            <div data-value="level" class="ui compact selection dropdown">
              <input name="level" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">Debug</div>
              <div class="menu">
                <div data-value="debug" class="item">Debug</div>
                <div data-value="info" class="item">Info</div>
                <div data-value="warning" class="item">Warning</div>
                <div data-value="error" class="item">Error</div>
                <div data-value="critical" class="item">Critical</div>
              </div>
            </div>
          </div>
          <!-- Lines per page -->
          <div class="ui field">
            <label>Page Size</label>
            <div data-value="size" class="ui compact selection dropdown">
              <input name="size" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">250</div>
              <div class="menu">
                <div class="item">10</div>
                <div class="item">25</div>
                <div class="item">50</div>
                <div class="item">100</div>
                <div class="item">200</div>
                <div class="item">250</div>
              </div>
            </div>
          </div>
        </div>
      </form>
     

      <!-- Logs -->
      <table class="ui striped celled compact table ">
        <thead>
          <tr>
            <th class="center aligned collapsing">Level</th>
            <th class="center aligned">Timestamp</th>
            <th class="center aligned">Context ID</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody id="log-data"></tbody>
      </table>
      <!-- Pagination buttons -->
      <div id="pagination" class="ui pagination menu"><!-- Added asynchrously --></div>
    </div>
  </div>
</body>
</html>