<!DOCTYPE html>
<html lang="en">

<head>
  <title>Scheduler - TitleCardMaker</title>
  {% include "./html_boilerplate.html" %}

  <script type="text/javascript">
    {% include "./js/scheduler.js" %}
  </script>

  <link rel="stylesheet" type="text/css" href="/templates/css/scheduler.css"/>

  <!-- Templates -->
  <template id="task-template">
    <tr>
      <td data-column="runTask" class="center aligned selectable" data-tooltip="Run this Task">
        <a><i class="sync icon"></i></a>
      </td>
      <td data-column="description" class="left aligned"></td>
      {% if preferences.advanced_scheduling %}
      <td data-column="schedule" class="center aligned" data-tooltip="Edit and Save to Reschedule"></td>
      {% else %}
      <td data-column="frequency" class="center aligned" data-tooltip="Edit and Save to Reschedule"></td>
      {% endif %}
      <td data-column="previous_duration" class="center aligned"></td>
      <td data-column="next_run" class="left aligned"></td>
    </tr>
  </template>
</head>

<body onload="initAll();">
  <div class="pusher">
    <!-- Static header and sidebar -->
    <div id="page-header">
      {% include "./header.html" %}
    </div>
    <div id="nav-menu">
      {% include "./settings_sidebar.html" %}
    </div>

    <!-- Actual page content -->
    <div id="main-content" class="article">
      <h1 class="ui header">Scheduler</h1>

      <table class="ui stackable collapsing table">
        <thead>
          <tr>
            <th></th>
            <th class="left aligned">Task Description</th>
            {% if preferences.advanced_scheduling %}
            <th class="center aligned" data-tooltip="Cron Schedule for this Task">Schedule</th>
            {% else %}
            <th class="center aligned" data-tooltip="How often to run this Task - enter times as seconds, minutes, hours, days, or weeks">Frequency</th>
            {% endif %}
            <th class="center aligned" data-tooltip="How long this Task's last run took">Last Duration</th>
            <th class="left aligned">Next Run</th>                
          </tr>
        </thead>
        <tbody id="task-table"><!-- Add asynchronously --></tbody>
      </table>

      <button class="ui animated blue button" onclick="updateScheduledTasks();">
        <div class="visible content">Save Changes</div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </button>
      {% if preferences.advanced_scheduling %}
      <button id="toggle-button" class="ui green button" onclick="$('#toggleScheduleTypeModal').modal('show');">
        Enable Basic Scheduler
      </button>
      {% else %}
      <button id="toggle-button" class="ui green button" onclick="$('#toggleScheduleTypeModal').modal('show');">
        Enable Advanced Scheduler
      </button>
      {% endif %}

      {% if preferences.advanced_scheduling %}
      <br>
      <div class="ui compact floating info message">
        <div class="header">Scheduling</div>
        <p>If <b>Advanced</b> Scheduling is enabled, Task schedules are entered as Cron expressions. See <a href="https://crontab.guru/">here</a> for help entering these.</p>
      </div>
      {% endif %}
    </div>

    <!-- Modals -->
    <div id="toggleScheduleTypeModal" class="ui basic modal">
      <div class="ui center aligned icon header">
        <i class="stopwatch icon"></i>
        Change Scheduler Type?
      </div>
      <div class="center aligned content">
        <p>Changing this will reset your existing Schedules.</p>
        <p>Do you want to continue?</p.>
      </div>
      <div class="center aligned actions">
        <div class="ui red basic cancel inverted button">
          <i class="remove icon"></i>
          No
        </div>
        <div class="ui green ok inverted button" onclick="toggleScheduleType();">
          <i class="checkmark icon"></i>
          Yes
        </div>
      </div>
    </div>
  </div>
</body>
</html>
