<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/assets/logo128.png">
  <link rel="shortcut icon" href="/assets/logo128.png"> 
  <link rel="apple-touch-icon" href="/assets/logo128.png">
  <title>{{series.name}} - TitleCardMaker</title>

  <!-- Formantic UI -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.js"></script>
  
  <!-- Global styles -->
  <link rel="stylesheet" type="text/css" href="/templates/style.css">
  <style>
    /* Override card width for poster */
    .ui.card {
      width: auto;
    }
    
    /* Inine fields need to flex and align content in the middle of their div */
    #new-episode-form .inline.field {
      display: flex;
      align-items: center;
      margin-bottom: 4px;
    }
    #new-episode-form .number.input {
      width: 85px;
    }
    #new-episode-form .text.input {
      width: 100%;
      overflow-wrap: break-word;
    }

    /* Add top padding above the delete button for each episode */
    .tab[data-tab="episode-data"] .negative.button {
      margin-top: 5px;
    }

    /* Fix width of new episode modal */
    #new-episode-modal {
      width: 500px !important;
    }
    /* Use right-aligned inline labels */
    #new-episode-form label {
      flex: 0 0 125px;
      display: flex;
      margin-right: 10px;
      justify-content: flex-end;
      text-align: right;
    }
  </style>

  <!-- Templates -->
  <template id="season-template">
    <div class="title">
      <i class="dropdown menu"></i>
      <!-- Season index here -->
    </div>
    <div class="content">
      <div class="accordion hidden">
        <!-- Episode template elements here -->
      </div>
    </div>
  </template>
  
  <template id="episode-template">
    <div class="title">
      <i class="dropdown menu"></i>
      <!-- Episode index here -->
    </div>
    <div class="content">
      <form class="ui episode form">
        <!-- Input fields -->
        <div class="field">
          <label>Title</label>
          <input type="text" name="title" placeholder="{TITLE}">
        </div>
        <div class="field">
          <label>Source File</label>
          <input type="text" name="source_file_path" placeholder="{SOURCE PATH}">
        </div>
        <div class="field">
          <label>Destination</label>
          <input type="text" name="card_file_path" placeholder="{CARD PATH}">
        </div>
        <!-- Save and delete button -->
        <button class="ui primary animated submit button" type="submit">
          <div class="visible content">Save</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </button>
      </form>
      
      <button class="ui animated negative button">
        <div class="visible content">Delete</div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </button>
    </div>
  </template>

  <!-- Scripts to load available options -->
  <script>
    // Get series statistics
    async function getStatistics() {
      const statistics = await fetch('/api/statistics/series/{{series.id}}').then(resp => resp.json());
      const cardStat = statistics[0],
            episodeStat = statistics[1];
      $('#card-count')[0].innerHTML = `<i class="image outline icon"></i>${cardStat.value} / ${episodeStat.value} Cards`;
    }

    // Get all available episode data sources
    async function getEpisodeDataSources() {
      const sources = await fetch('/api/available/episode-data-sources').then(resp => resp.json());
      $('#episode-data-source').dropdown({
        values: sources.map(({name, selected}) => {
          return {name: name, value: name,
                  selected: name == '{{series.episode_data_source}}'};
        })
      });
    }

    // Get all available libraries for Emby and Plex
    async function getLibraries() {
      let plexLibraries = await fetch('/api/available/libraries/plex').then(resp => resp.json());
      $('#plex-library').dropdown({
        values: plexLibraries.map(name => {
          return {name: name, value: name, selected: name === '{{series.plex_library_name}}'};
        })
      });

      let embyLibraries = await fetch('/api/available/libraries/emby').then(resp => resp.json());
      $('#emby-library').dropdown({
        values: embyLibraries.map(name => {
          return {name: name, value: name, selected: name === '{{series.emby_library_name}}'};
        })
      });
    }
  
    // Get all episodes available for this series
    async function getEpisodeData() {
      // Get episode data element
      let episodeDataDiv = document.getElementById('episode-data');
      if (episodeDataDiv == null) return;

      // Get all episodes via API
      let episodeData = await fetch('/api/episodes/{{series.id}}/all').then(resp => resp.json());
      if (episodeData === null) return;  

      // Reset existing episode data content
      episodeDataDiv.innerHTML = '';

      // Get templates to use
      const seasonTemplate = document.querySelector('#season-template');
      const episodeTemplate = document.querySelector('#episode-template');

      episodeData.forEach(episode => {
        let {id, season_number, episode_number, absolute_number, title,
             source_file_path, card_file_path} = episode;

        // Get or create the div for this season
        let seasonElement = document.getElementById(`episode-data-season${season_number}`);
        if (seasonElement === null) {
          // Clone season template, add to episode data
          seasonElement = seasonTemplate.content.cloneNode(true);
          seasonElement.querySelector('.content').id = `episode-data-season${season_number}`;
          const seasonTitle = (season_number === 0) ? 'Specials' : `Season ${season_number}`;
          // seasonDiv = seasonElement.querySelector('.accordion');
          seasonElement.querySelector('.title').innerHTML = `<i class="dropdown icon"></i>${seasonTitle}`;
          episodeDataDiv.appendChild(seasonElement);
        }
        const seasonDiv = document.getElementById(`episode-data-season${season_number}`).querySelector('.accordion');
        // console.log(seasonElement)

        // Create new element for this episode
        const episodeElement = episodeTemplate.content.cloneNode(true);
        const episodeTitle = (absolute_number === null)
          ? `Episode ${episode_number}`
          : `Episode ${episode_number} (${absolute_number})`;
        episodeElement.querySelector('.title').innerHTML = `<i class="dropdown icon"></i>${episodeTitle}`;
        episodeElement.querySelector('input[name="title"]').placeholder = title;
        episodeElement.querySelector('input[name="title"]').value = title;
        episodeElement.querySelector('input[name="source_file_path"]').placeholder = source_file_path;
        episodeElement.querySelector('input[name="source_file_path"]').value = source_file_path;
        episodeElement.querySelector('input[name="card_file_path"]').placeholder = card_file_path;
        episodeElement.querySelector('input[name="card_file_path"]').value = card_file_path;

        // Add episode element to the season div
        seasonDiv.appendChild(episodeElement);

        // Update this episode's form submission to submit an API request
        let allForms = seasonDiv.querySelectorAll('.form');
        allForms[allForms.length-1].onsubmit = (event) => {
          event.preventDefault();
          $.ajax({
            type: 'PATCH',
            url: `/api/series/{{series.id}}/episode/${id}`,
            data: JSON.stringify(Object.fromEntries(new FormData(event.target))),
            headers: {'Content-Type': 'application/json'},
            success: function(response) {
              $.toast({
                class: 'blue info',
                title: 'Updated Episode Configuration',
              });
            }, error: function(response) {
              $.toast({
                class: 'error',
                title: 'Error Updating Episode',
                message: response
              });
            },
          });
        }
        // Update this episode's delete button to submit API request
        let deleteButtons = seasonDiv.querySelectorAll('.negative.button');
        deleteButtons[deleteButtons.length-1].onclick = (event) => {
          $.ajax({
            type: 'DELETE',
            url: `/api/series/{{series.id}}/episode/${id}`,
            success: function(response) {
              $.toast({class: 'blue info', title: 'Deleted Episode'});
              getEpisodeData();
            }, error: function(response) {
              $.toast({
                class: 'error',
                title: 'Error Deleting Episode',
                message: response.responseJSON.message,
              });
            },
          });
        };
      });

      // Refresh theme for any newly added HTML
      refreshTheme();
    }

    async function initAll() {
      getStatistics();
      getEpisodeDataSources();
      getLibraries();
      getEpisodeData();
    }

    async function refreshEpisodeData() {
      $('#refresh > i').toggleClass('loading', true);
      $.ajax({
        type: 'POST',
        url: '/api/episodes/{{series.id}}/refresh',
        success: function(response) {
          $.toast({class: 'blue info', title: `Refreshed Episode Data`});
          getEpisodeData();
          getStatistics();
        }, error: function(response) {
          $.toast({
            class: 'error',
            title: 'Error Refreshing Data',
            message: response.responseJSON.detail,
            displayTime: 0,
          });
        }, complete: () => {
          $('#refresh > i').toggleClass('loading', false);
        }
      });
    }

    async function createMissingCards() {
      $.ajax({
        type: 'POST',
        url: '/api/series/{{series.id}}/create-cards',
        success: (response) => {
          $.toast({class: 'blue info', title: `Created title cards`});
          getEpisodeData();
        }, error: (response) => {
          $.toast({
            class: 'error',
            title: 'Error creating title cards',
            message: response.responseJSON.detail,
            displayTime: 0,
          });
        }
      });
    }

    async function deleteSeries(deleteCards) {
      $.ajax({
        type: 'DELETE',
        url: '/api/cards/series/{{series.id}}',
        success: () => { 
          // Series deleted successfully, delete cards if indicated
          if (deleteCards) {
            $.ajax({
              type: 'DELETE',
              url: '/api/series/{{series.id}}',
              success: () => {
                window.location.href = '/';
              }, error: (response) => {
                $.toast({
                  class: 'error',
                  title: 'Error Deleting Series',
                  message: response.responseJSON.detail,
                });
              },
            });
          }
          else { window.location.href = '/'; }
        }, error: (response) => {
          $.toast({
            class: 'error',
            title: 'Error Deleting Series',
            message: response.responseJSON.detail,
          });
        },
      });
    }
  </script>
</head>

<body onload="initAll()">
  <div class="pusher">
    <!-- Static header and sidebar loaded by external script -->
    <div id="page-header"></div>
    <div id="nav-menu"></div>

    <!-- Actual page content -->
    <div id="main-content" class="article">
      <div class="ui grid">
        <!-- Poster and label -->
        <div class="four wide column" style="min-width: 150px;">
          <div class="ui raised card">
            <!-- Series poster -->
            <div id="poster" class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <div class="ui inverted button">Edit Poster</div>
                  </div>
                </div>
              </div>
              <img id="poster-image" src="{{series.poster_url}}" alt="Poster for {{series.name}}">
            </div>
            <!-- Series info (name, year, etc.) -->
            <div class="content">
              <div class="header">{{series.name}}</div>
              <div class="meta">
                <span class="date">{{series.year}}</span>
              </div>
            </div>
            <div id="card-count" class="extra content">
              <!-- Added asynchronously -->
            </div>
          </div>
          <!-- Series action bottons -->
          <div id="action-buttons">
            <div class="ui vertical labeled icon fluid buttons">
              <button id="refresh" class="ui labeled icon button" onclick="refreshEpisodeData()">
                <i class="sync icon"></i>
                Refresh Episode Data
              </button>
              <button id="create-cards" class="ui labeled icon button" onclick="createMissingCards()">
                <i class="images outline icon"></i>
                Create Missing Cards
              </button>
              {% if preferences.use_emby and series.emby_library_name %}
              <button id="load-emby" class="ui labeled icon button">
                <i class="server icon"></i>
                Reload Emby
              </button>
              {% elif (preferences.use_emby and not series.emby_library_name) or (not preferences.use_emby and series.emby_library_name) %}
              <button id="load-emby" class="ui disabled labeled icon button">
                <i class="server icon"></i>
                Reload Emby
              </button>
              {% endif %}
                
              {% if preferences.use_jellyfin and series.jellyfin_library_name %}
              <button id="load-jellyfin" class="ui labeled icon button">
                <i class="server icon"></i>
                Reload Emby
              </button>
              {% elif (preferences.use_jellyfin and not series.jellyfin_library_name) or (not preferences.use_jellyfin and series.jellyfin_library_name) %}
              <button id="load-jellyfin" class="ui disabled labeled icon button">
                <i class="server icon"></i>
                Reload Jellyfin
              </button>
              {% endif %}

              {% if preferences.use_plex and series.plex_library_name %}
              <button id="load-plex" class="ui labeled icon button">
                <i class="server icon"></i>
                Reload Plex
              </button>
              {% elif (preferences.use_plex and not series.plex_library_name) or (not preferences.use_plex and series.plex_library_name) %}
              <button id="load-plex" class="ui disabled labeled icon button">
                <i class="server icon"></i>
                Reload Plex
              </button>
              {% endif %}
              <button id="delete-series" class="ui labeled icon negative button">
                <i class="trash alternate outline icon"></i>
                Delete Series
              </button>
            </div>
          </div>
          
        </div>

        <!-- Data Tabs -->
        <div class="twelve wide column">
          <div class="ui top attached tabular menu">
            <a class="item active" data-tab="configuration">Configuration</a>
            <a class="item" data-tab="card-config">Card Configuration</a>
            <a class="item" data-tab="episode-data">Episode Data</a>
            <a class="item" data-tab="files">Files</a>
            <a class="item" data-tab="database-ids">Database ID's</a>
          </div>
          
          <!-- Configuration tab -->
          <div id="series-tabs" class="ui bottom attached tab segment" data-tab="configuration">
            <form id="series-config" class="ui compact form">
              <!-- Episode Data Source Dropdown Menu -->
              <div class="field">
                <label class="config-label">Episode Data Source</label>
                <div id="episode-data-source" class="ui compact selection dropdown">
                  <input id="episode-data-source-input" type="hidden" name="episode_data_source" value="{{series.episode_data_source}}">
                  <i class="dropdown icon"></i>
                  <!-- Default (current) value -->
                  <div class="default text">{{series.episode_data_source}}</div>
                  <div id="episode-data-source-choices" class="menu">
                    <!-- Added asynchronously -->
                  </div>
                </div>
              </div>

              <!-- Emby Library -->
              {% if preferences.use_emby or series.emby_library_name %}
              <div class="field">
                <label class="config-label">Emby Library</label>
                <div id="emby-library" class="ui compact selection dropdown">
                  <!-- Default (current) value -->
                  <input name="emby_library_name" id="emby-library-input" type="hidden"value="{{series.emby_library_name}}">
                  <div class="default text">{{series.emby_library_name}}</div>
                  <i class="dropdown icon"></i>
                  <div id="emby-library-choices" class="menu">
                    <div class="item" data-value="None">None</div>
                    <!-- Child divs added by JS asynchronous request -->
                  </div>
                </div>
              </div>
              {% endif %}

              <!-- Jellyfin Library -->            
              {% if preferences.use_jellyfin or series.jellyfin_library_name %}
              <div class="field">
                <label class="config-label">Jellyfin Library</label>
                <div id="jellyfin-library" class="ui compact selection dropdown">
                  <!-- Default (current) value -->
                  <input name="jellyfin_library_name" id="jellyfin-library-input" type="hidden" value="{{series.jellyfin_library_name}}">
                  <div class="default text">{{series.jellyfin_library_name}}</div>
                  <i class="dropdown icon"></i>
                  <div id="jellyfin-library-choices" class="menu">
                    <div class="item" data-value="None">None</div>
                    <!-- Child divs added by JS asynchronous request -->
                  </div>
                </div>
              </div>
              {% endif %}

              <!-- Plex Library -->
              {% if preferences.use_plex or series.plex_library_name %}
              <div class="field">
                <label class="config-label">Plex Library</label>
                <div id="plex-library" class="ui compact selection dropdown">
                  <!-- Default (current) value -->
                  <input name="plex_library_name" id="plex-library-input" type="hidden" value="{{series.plex_library_name}}">
                  <div class="default text">{{series.plex_library_name}}</div>
                  <i class="dropdown icon"></i>
                  <div id="plex-library-choices" class="menu">
                    <div class="item" data-value="None">None</div>
                    <!-- Child divs added by JS asynchronous request -->
                  </div>
                </div>
              </div>
              {% endif %}

              <!-- Card Directory -->
              <div id="series-config-card-directory" class="field">
                <label id="series-config-card-directory-label" class="config-label">Card Directory</label>
                <div class="ui left icon input">
                  <input name="card_directory"id="series-config-card-directory-input" type="text" value="{{series.directory}}">
                  <i class="folder icon"></i>
                </div>
              </div>

              <!-- Filename Format -->
              <div id="series-config-filename-format" class="field">
                <label id="series-config-filename-format-label" class="config-label">Filename Format</label>
                <input name="filename_format" type="text" placeholder="{{series.filename_format}}" value="{{series.filename_format}}">
              </div>

              <!-- Submit changes button -->
              <button id="submit-changes" class="ui animated primary button" type="submit">
                <div class="visible content">Save</div>
                <div class="hidden content">
                  <i class="right arrow icon"></i>
                </div>
              </button>
            </form>
          </div>

          <!-- Card Configuration -->
          <div class="ui bottom attached tab segment active" data-tab="card-config">
            <!-- Card preview toggle -->
            <div id="card-preview-checkbox" class="ui checkbox">
              <input type="checkbox" name="example">
              <label>Live Card Preview</label>
            </div>
            <div class="ui divider"></div>

            <div class="ui grid">
              <!-- Card config  -->
              <div class="eight wide column">
                <form id="card-config" class="ui compact form">
                  
                </form>
              </div>

              <!-- Card preview -->
              <div class="eight wide column">
                <div class="ui card">
                  <div class="content">
                    <div class="ui placeholder">
                      <div class="rectangular image"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Episode Data Tab -->
          <div class="ui bottom attached tab segment" data-tab="episode-data">
            <!-- Add Episode button -->
            <button id="new-episode" class="ui primary tertiary button">
              Add New Episode
            </button>
            <!-- Delete episodes -->
            <button id="delete-episodes" class="ui red tertiary button">
              Delete All Episodes
            </button>

            <div id="episode-data" class="ui styled fluid accordion">
              <!-- Episode subdata is added by asynchronous function -->
            </div>
          </div>

          <!-- Files Tab -->
          <div class="ui bottom attached tab segment" data-tab="files">
            
          </div>

          <!-- Database ID's Tab -->
          <div class="ui bottom attached tab segment" data-tab="database-ids">
            <form id="series-ids" class="ui compact form">
              {% if preferences.use_emby %}
              <div id-type="Emby ID" class="field">
                <label>Emby</label>
                {% if series.emby_id %}
                <input name="emby_id" type="text" placeholder="{{series.emby_id}}" value="{{series.emby_id}}">
                {% else %}
                <input name="emby_id" type="text" placeholder="N/A">
                {% endif %}
              </div>
              {% endif %}

              {% if preferences.use_jellyfin %}
              <div id-type="Jellyfin" class="field">
                <label>Jellyfin</label>
                {% if series.jellyfin_id %}
                <input name="jellyfin_id" type="text" placeholder="{{series.jellyfin_id}}" value="{{series.jellyfin_id}}">
                {% else %}
                <input name="jellyfin_id" type="text" placeholder="None">
                {% endif %}
              </div>
              {% endif %}

              {% if preferences.use_sonarr %}
              <div id-type="Sonarr" class="field">
                <label>Sonarr</label>
                {% if series.sonarr_id %}
                <input name="sonarr_id" type="text" placeholder="{{series.sonarr_id}}" value="{{series.sonarr_id}}">
                {% else %}
                <input name="sonarr_id" type="text" placeholder="None">
                {% endif %}
              </div>
              {% endif %}

              <div id-type="TMDb" class="field">
                {% if series.tmdb_id %}
                <label>TMDb <a href="https://www.themoviedb.org/tv/{{series.tmdb_id}}" target="_blank"><i class="external alternate small icon"></i></a></label>
                <input name="tmdb_id" type="text" placeholder="{{series.tmdb_id}}" value="{{series.tmdb_id}}">
                {% else %}
                <label>TMDb</label>
                <input name="tmdb_id" type="text" placeholder="None">
                {% endif %}
              </div>

              <div id-type="TVDb" class="field">
                {% if series.tvdb_id %}
                <label>TVDb <a href="https://thetvdb.com/search?query={{series.tvdb_id}}" target="_blank"><i class="external alternate small icon"></i></a></label>
                <input name="tvdb_id" type="text" placeholder="{{series.tvdb_id}}" value="{{series.tvdb_id}}">
                {% else %}
                <label>TVDb</label>
                <input name="tvdb_id" type="text" placeholder="None">
                {% endif %}
              </div>

              <div id-type="TVRage" class="field">
                <label>TVRage</label>
                {% if series.tvrage_id %}
                <input name="tvrage_id" type="text" placeholder="{{series.tvrage_id}}" value="{{series.tvrage_id}}">
                {% else %}
                <input name="tvrage_id" type="text" placeholder="None">
                {% endif %}
              </div>

              <button class="ui animated primary button" type="submit" form="series-ids">
                <div class="visible content">Save</div>
                <div class="hidden content">
                  <i class="right arrow icon"></i>
                </div>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit poster modal -->
    <div id="edit-poster-modal" class="ui mini modal">
      <i class="close icon"></i>
      <div class="header">Edit Poster</div>
      <div class="content">
        <form id="edit-poster-form" class="ui form">
          <!-- URL -->
          <div class="input field">
            <label>URL</label>
            <input id="poster-url-input" type="text" name="poster_url"></input>
          </div>

          <!-- OR divider between URL/upload -->
          <div class="ui horizontal divider">Or</div>

          <!-- File upload -->
          <div class="file clearable input field">
            <label>Upload File</label>
            <input id="poster-upload-input" type="file" name="poster_file">
          </div>
        </form>
      </div>
      <div class="actions">
        <button id="submit-poster-button" class="ui positive button" type="submit" form="edit-poster-form">Update</button>
      </div>
    </div>

    <!-- Delete series Modal -->
    <div id="delete-series-modal" class="ui basic modal">
      <div class="ui icon header">
        <i class="trash icon"></i>
        Delete "{{series.name}}"?
      </div>
      <div class="center aligned content">
        <p>This action cannot be undone.</p>
      </div>
      <div class="center aligned actions">
        <div class="ui green ok basic inverted button">
          <i class="remove icon"></i>
          No
        </div>
        <div class="ui red cancel basic inverted button" onclick="deleteSeries(false)">
          <i class="trash alternate outline icon"></i>
          Yes
        </div>
        <div class="ui red ok inverted button" onclick="deleteSeries(true)">
          <i class="images outline icon"></i>
          Yes, and Delete Cards
        </div>
      </div>
    </div>

    <!-- Add episode modal -->
    <div id="new-episode-modal" class="ui modal">
      <i class="close icon"></i>
      <div class="header">Add Episode</div>
      <div class="content">
        <form id="new-episode-form" class="ui form">
          <div class="input inline field">
            <label>Season Number</label>
            <div class="ui number input">
              <input type="number" min="0" name="season_number">
            </div>
          </div>

          <div class="input inline field">
            <label>Episode Number</label>
            <div class="ui number input">
              <input type="number" min="1" name="episode_number">
            </div>
          </div>

          <div class="input inline field">
            <label>Absolute Number</label>
            <div class="ui number input">
              <input type="number" min="1" name="absolute_number">
            </div>
          </div>

          <div class="input inline field">
            <label>Title</label>
            <div class="ui text input">
              <textarea name="title" minlength="1" rows="2" wrap="soft"></textarea>
            </div>
          </div>
          <div class="ui error message"></div>
        </form>
      </div>
      <div class="actions">
        <button id="new-episode-button" class="ui positive button" type="submit" form="new-episode-form">Add</button>
      </div>
    </div>

  </div>

  <script>
    // Enable all dropdowns, menus, and accordians
    $('.dropdown').dropdown();
    $('.menu .item').tab();
    $('#series-tabs .menu .item').tab('change tab', 'configuration');
    $('.ui.accordion').accordion();

    // Enable IOS hover on the series poster
    $('#poster').dimmer({
      on: 'ontouchstart' in document.documentElement ? 'click' : 'hover'
    });

    // Make clearable dropdowns.. clearable
    $('.ui.clearable.dropdown').dropdown({
      'clearable': true,
      'placeholder': 'None',
    });

    // Enable edit poster modal, attach to the edit poster div
    $('#edit-poster-modal')
      .modal('attach events', '#poster', 'show')  // Show modal on add buton press
      .modal('setting', 'transition', 'fade up')  // Fade up modal on reveal
      .modal('setting', 'closable', false)        // Don't allow closing by clicking outside modal
      .modal({
        blurring: true,                           // Blur background when shown
        onHidden: function($element) {            // Reset input on close
          $('#poster-upload-input')[0].value = '';
          $('#poster-url-input')[0].value = '';
        }}
      );

    // Delete series modal
    $('#delete-series-modal').modal('attach events', '#delete-series');

    // Configure new episode modal
    $('#new-episode-modal')
      .modal('attach events', '#new-episode', 'show') // Show modal on add buton press
      .modal('setting', 'transition', 'fade up')      // Fade up modal on reveal
      .modal('setting', 'closable', false)            // Don't allow closing by clicking outside modal
      .modal({
        onApprove: () => {                            // Don't close if form is invalid
          return $('#new-episode-form').form('is valid');
        }, blurring: true,                            // Blur background when shown
        onHidden: function($element) {                // Reset input on close
          $('#poster-upload-input')[0].value = '';
          $('#poster-url-input')[0].value = '';
        }}
      );

    // On edit poster modal submission, submit API request
    $('#edit-poster-form').on('submit', (event) => {
      event.preventDefault();
      $('#submit-poster-button').toggleClass('loading', true);
      $.ajax({
        type: 'POST',
        url: '/api/series/{{series.id}}/poster',
        data: new FormData(event.target),
        cache: false,
        contentType: false,
        processData: false,
        success: (response) => {
          $.toast({
            class: 'blue info',
            title: `Added series`,
            message: response,
          });
          // Reload image
          $('#poster-image')[0].src = `${response}?${new Date().getTime()}`;
        }, error: (response) => {
          $.toast({
            class: 'error',
            title: 'Error Updating Poster',
            message: response.responseJSON.detail,
          });
        }, complete: () => {
          setTimeout(() => $('#submit-poster-button').toggleClass('loading', false), 750);
        },
      });
    });

    // Submit the updated series config
    $('#series-config').on('submit', (event) => {
      event.preventDefault();
      $('#submit-changes').toggleClass('loading', true);
      // Submit API request to edit series
      let form = new FormData(event.target);
      for (const [key, value] of [...form.entries()]) {
        if (value === '') { form.delete(key); }
      }

      $.ajax({
        type: 'PATCH',
        url: '/api/series/{{series.id}}',
        data: JSON.stringify(Object.fromEntries(form)),
        headers: {'Content-Type': 'application/json'},
        success: (response) => {
          $('#submit-changes').toggleClass('loading', false);
          $.toast({
            class: 'blue info',
            title: 'Updated Configuration Values',
          });
        }, error: (response) => {
          setTimeout(() => {
            $('#submit-changes').toggleClass('loading', false);
          }, 2000);
        }
      });
    });

    // Create a new episode
    $('#new-episode-form').form({
      on: 'blur',
      fields: {
        season_number: ['empty'],
        episode_number: ['empty'],
        title: ['empty', 'minLength[1]'],
      },
    });
    $('#new-episode-form').on('submit', (event) => {
      // Prevent page reload, do not submit if form is invalid
      event.preventDefault();
      if (!$('#new-episode-form').form('is valid')) { return; }
      // Prep form
      let form = new FormData(event.target);
      for (const [key, value] of [...form.entries()]) {
        if (value === '') { form.delete(key); }
      }

      $.ajax({
        type: 'POST',
        url: '/api/episodes/{{series.id}}/new',
        data: JSON.stringify(Object.fromEntries(form)),
        contentType: 'application/json',
        success: (response) => {
          const {season_number, episode_number} = response;
          $.toast({
            class: 'blue info',
            title: `Created Season ${season_number} Episode ${episode_number}`,
          });
          getEpisodeData();
        }, error: (response) => {
          $.toast({
            class: 'error',
            title: 'Error Creating New Episode',
            message: response.responseJSON.detail,
            showDuration: 0,
          });
        }
      });
    });
  
  </script>
  <script src="/templates/loadStaticContent.js"></script>
</body>

</html>