<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Settings - TitleCardMaker</title>
  
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/internal_assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/internal_assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/internal_assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/internal_assets/favicon/site.webmanifest">

  <!-- Formantic UI -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.js"></script>

  <!-- JS Files -->
  <script type="text/javascript" src="/templates/loadStaticContent.js"></script>
  <script type="text/javascript" src="/templates/loadCardTypes.js"></script>
  <script type="text/javascript" src="/templates/theme.js"></script>
  <script type="text/javascript" src="/templates/helper.js"></script>
  <script type="text/javascript" src="/templates/messages.js"></script>
  
  <!-- Global styles -->
  <link rel="stylesheet" type="text/css" href="/templates/style.css"/>
  <style>
    /* Excluded card types have reduced opacity, strikethrough and italic effects */
    #excluded-card-types .menu .active.item {
      opacity: 30%;
      text-decoration: line-through;
      font-style: italic;
    }

    /* Formatting for the title card prevew */
    #title-card-preview .card {
      width: 900px; /* 800px */
      min-width: 253px; /* 225px */
      max-height: 253px; /* 225px */
    }
    #title-card-preview .image {
      width: 450px; /* 400px */
    }
    /* Wrap long descriptions with scrollbar */
    #title-card-preview >* .content {
      overflow: auto;
      max-height: 253px;
    }

    /* Mobile formatting for the title card preview */
    @media (max-width: 768px) {
      #title-card-preview .card {
        width: 100%;
        max-height: none;
      }
      #title-card-preview >* .image {
        width: 100%;
      }
    }
  </style>

  <script>
    // Get the latest episode data sources, update dropdown
    async function getEpisodeDataSources() {
      const sources = await fetch('/api/available/episode-data-sources').then(resp => resp.json());
      $('#episode-data-source').dropdown({
        values: sources.map(({name, selected}) => {
          return {name: name, value: name, selected: selected};
        })
      });
    }

    // Get the latest image source priority, update dropdown
    async function getImageSourcePriority() {
      const sources = await fetch('/api/settings/image-source-priority').then(resp => resp.json());
      $('#image-source-priority').dropdown({
        values: sources.map(({name, selected}) => {
          return {name: name, value: name, selected: selected};
        })
      });
    }
  </script>
</head>

<body onload="getEpisodeDataSources(); getImageSourcePriority();">
  <script>
    async function initCardTypeDropdowns() {
      // Load filtered types into default card type dropdown
      const allCards = await loadCardTypes({
        element: '#excluded-card-types',
        isSelected: (identifier) => {{preferences.excluded_card_types|safe}}.includes(identifier),
        showExcluded: true,
        dropdownArgs: {
          useLabels: false,
        }
      });
      // Load default card type dropdown
      loadCardTypes({
        element: '#default-card-type',
        isSelected: (identifier) => identifier === '{{preferences.default_card_type}}',
        showExcluded: false,
        // Dropdown args
        dropdownArgs: {
          onChange: (value, text, $selectedItem) => {
            $('#title-card-image')
              .fadeTo(250, 0, () => updatePreviewTitleCard(allCards, value))
              .fadeTo(250, 1);
          }
        }
      });
      return allCards;
    }

    // Function to update the preview title card
    function updatePreviewTitleCard(allCards, previewCardType) {
      for (let {name, identifier, example, creators, supports_custom_fonts,
                supports_custom_seasons, description} of allCards) {
        if (identifier == previewCardType) {
          // Update all attributes of the title card element for the given card
          $('#title-card-image')[0].src = example; 
          $('#title-card-name')[0].innerText = name;//`${name} Title Card`;
          $('#title-card-creators')[0].innerText = creators.join(', ');
          $('#title-card-font-support')[0].firstChild.className = supports_custom_fonts ? 'green check icon' : 'red times icon';
          $('#title-card-season-support')[0].firstChild.className = supports_custom_seasons ? 'green check icon' : 'red times icon';
          $('#title-card-description')[0].innerHTML = '<p>' + description.join('</p><p>') + '</p>';
          break;
        }
      }
    }
  </script>

  <div class="pusher">
    <!-- Static header and sidebar loaded by external script -->
    <div id="page-header"></div>
    <div id="nav-menu"></div>

    <!-- Actual page content -->
    <div id="main-content" class="article">
      <div class="ui stackable grid">
        <div id="settings" class="sixteen wide column">
          <h1 class="ui header">Settings</h1>
          {% if preferences.available_version is not none and preferences.available_version != preferences.current_version %}
          <div class="ui floating compact info message">
            <i class="info circle icon"></i>
            A new version of TitleCardMaker (<a href="https://github.com/CollinHeist/TitleCardMaker/releases/tag/{{preferences.available_version}}" target="_blank">{{preferences.available_version}}</a>) is available (currently on {{preferences.current_version}}).
          </div>
          {% endif %}

          <form id="settings-form" class="ui fluid form">
            <!-- Folder Settings -->
            <h3 class="ui horizontal divider header">
              <i class="folder open outline icon"></i>
              Root Folders
            </h3>
            <div class="field">
              <div class="field" data-tooltip="Directory to store all title cards">
                <label>Card Directory</label>
                <input type="text" name="card_directory" placeholder="{{preferences.card_directory}}" value="{{preferences.card_directory}}">
              </div>
              <div class="field" data-tooltip="Directory to store all textless source images">
                <label>Source Directory</label>
                <input type="text" name="source_directory" placeholder="{{preferences.source_directory}}" value="{{preferences.source_directory}}">
              </div>
            </div>

            <!-- Episode Data Settings -->
            <h3 class="ui horizontal divider header">
              <i class="layer group icon"></i>
              Episode Data
            </h3>
            <div id="episode-data-settings" class="field">
              <div class="field">
                <label>Episode Data Source</label>
                <div id="episode-data-source" class="ui compact selection dropdown" data-tooltip="Where to get episode data from" data-position="right center">
                  <input id="episode-data-source-input" type="hidden" name="episode_data_source" value="{{preferences.episode_data_source}}">
                  <i class="dropdown icon"></i>
                  <div class="default text">{{preferences.episode_data_source}}</div>
                  <div id="episode-data-source-choices" class="menu">
                    <!-- Added asynchronously -->
                  </div>
                </div>
              </div>
              <div class="field">
                <label>Image Source Priority</label>
                <div id="image-source-priority" class="ui compact multiple selection dropdown">
                  <input id="image-source-priority-input" type="hidden" name="image_source_priority">
                  <i class="dropdown icon"></i>
                  <div class="default text">Image Sources</div>
                  <div class="menu"><!-- Added asynchronousely --></div>
                </div>
              </div>
              <div class="ui right aligned checkbox field" data-tooltip="Whether to sync episodes from season 0 by default">
                {% if preferences.sync_specials %}
                <input name="sync_specials" type="checkbox" checked="checked">
                {% else %}
                <input name="sync_specials" type="checkbox">
                {% endif %}
                <label>Sync Specials</label>
              </div>
            </div>

            <!-- Title Card Settings -->
            <h3 class="ui horizontal divider header">
              <i class="images outline icon"></i>
              Title Cards
            </h3>
            <div class="field">
              <div class="ui stackable grid">
                <!-- Card settings -->
                <div class="four wide column">
                  <div class="field">
                    <label>Default Card Type</label>
                    <div id="default-card-type" class="ui long compact search selection dropdown" data-tooltip="Global default card type for all series" data-position="right center">
                      <span class="text"></span>
                      <input name="default_card_type" type="hidden" value="{{preferences.default_card_type.lower()}}">
                      <i class="dropdown icon"></i>
                      <div class="down menu"><!-- Added asynchronously --></div>
                    </div>
                  </div>

                  <div class="field" data-tooltip="Card types to exclude from dropdowns" data-position="right center">
                    <label>Excluded Card Types</label>
                    <div id="excluded-card-types" class="ui long compact selection multiple dropdown">
                      <span class="text"></span>
                      <input name="excluded_card_types" type="hidden">
                      <i class="dropdown icon"></i>
                      <div class="down menu"><!-- Added asynchronously --></div>
                    </div>
                  </div>

                  <div id="watched-style" class="field">
                    <label>Watched Episode Style</label>
                    <div class="ui long compact selection dropdown">
                      <span class="default text">{{preferences.default_watched_style.title()}}</span>
                      <input name="default_watched_style" type="hidden">
                      <i class="dropdown icon"></i>
                      <div class="menu">
                        <div class="header">Art Variations</div>
                        <div class="divider"></div>
                        <div class="item" data-value="art">Art</div>
                        <div class="item" data-value="art blur">Blurred Art</div>
                        <div class="item" data-value="art grayscale">Grayscale Art</div>
                        <div class="item" data-value="art blur grayscale">Blurred Grayscale Art</div>
                        <div class="header">Unique Variations</div>
                        <div class="divider"></div>
                        <div class="item" data-value="unique">Unique</div>
                        <div class="item" data-value="blur unique">Blurred Unique</div>
                        <div class="item" data-value="grayscale unique">Grayscale Unique</div>
                        <div class="item" data-value="blur grayscale unique">Blurred Grayscale Unique</div>
                      </div>
                    </div>
                    <div data-value="style-button" class="ui primary tertiary icon button">
                      <i class="question circle outline icon"></i>
                    </div>
                  </div>
    
                  <div id="unwatched-style" class="field">
                    <label>Unwatched Episode Style</label>
                    <div class="ui long compact selection dropdown">
                      <span class="default text">{{preferences.default_unwatched_style.title()}}</span>
                      <input name="default_unwatched_style" type="hidden">
                      <i class="dropdown icon"></i>
                      <div class="menu">
                        <div class="header">Art</div>
                        <div class="divider"></div>
                        <div class="item" data-value="art">Art</div>
                        <div class="item" data-value="art blur">Blurred Art</div>
                        <div class="item" data-value="art grayscale">Grayscale Art</div>
                        <div class="item" data-value="art blur grayscale">Blurred Grayscale Art</div>
                        
                        <div class="header">Unique Variations</div>
                        <div class="divider"></div>
                        <div class="item" data-value="unique">Unique</div>
                        <div class="item" data-value="blur unique">Blurred Unique</div>
                        <div class="item" data-value="grayscale unique">Grayscale Unique</div>
                        <div class="item" data-value="blur grayscale unique">Blurred Grayscale Unique</div>
                      </div>
                    </div>
                    <div data-value="style-button" class="ui primary tertiary icon button">
                      <i class="question circle outline icon"></i>
                    </div>
                  </div>

                  <div id="card-dimensions" class="two equal width dimension fields">
                    <div class="field" data-tooltip="Width of output title cards">
                      <label>Card Width</label>
                      <input name="card_width" type="number" placeholder="{{preferences.card_width}}" value="{{preferences.card_width}}">
                    </div>
                    <div class="field" data-tooltip="Height of output title cards">
                      <label>Card Height</label>
                      <input name="card_height" type="number" placeholder="{{preferences.card_height}}" value="{{preferences.card_height}}">
                    </div>
                  </div>
                </div>

                <!-- Card preview -->
                <div id="title-card-preview" class="twelve wide column">
                  <!-- <div class="ui items"> -->
                    <div class="ui horizontal raised card">
                      <div class="image">
                        <img alt="Preview Title Card" id="title-card-image" src="">
                      </div>
                      <div class="content">
                        <div id="title-card-name" class="header">CARD TYPE</div>
                        <div class="meta">
                          <span id="title-card-creators" class="author">AUTHOR(S)</span>
                          <br><span id="title-card-font-support"><i class="times icon"></i>Custom Fonts</span>
                          <br><span id="title-card-season-support"><i class="check icon"></i>Custom Season Titles</span>
                        </div>
                        <div id="title-card-description" class="description">
                          <p>DESCRIPTION(S)</p>
                        </div>
                      </div>
                    </div>
                  <!-- </div> -->
                </div>
              </div>
            </div>

            <!-- Filename Settings -->
            <h3 class="ui horizontal divider header">
              <i class="file outline icon"></i>
              File Naming
            </h3>
            <div id="filename-settings">
              <div class="field">
                <label>Card Extension</label>
                <div id="card-extension" class="ui compact selection dropdown">
                  <input id="card-extension-input" type="hidden" name="card_extension" value="{{preferences.card_extension}}">
                  <i class="dropdown icon"></i>
                  <div class="default text">{{preferences.card_extension}}</div>
                  <div id="card-extension-choices" class="menu">
                    {% for extension in preferences.valid_image_extensions %}
                    <div class="item" data-value="{{extension}}">{{extension}}</div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <!-- Filesize warning for uncompressed images -->
              <div id="card-extension-warning" class="ui compact floating warning message">
                <i class="exclamation triangle icon"></i>
                <b>Warning</b> Uncompressed images will significantly increase the file size of title cards.
              </div>

              <div class="field">
                <label>Filename Format</label>
                <input type="text" name="card_filename_format" placeholder="{{preferences.card_filename_format}}" value="{{preferences.card_filename_format}}">
              </div>
              
              <div class="field">
                <div class="two fields">
                  <div class="field">
                    <label>Specials Folder Format</label>
                    <input type="text" name="specials_folder_format" placeholder="{{preferences.specials_folder_format}}" value="{{preferences.specials_folder_format}}">
                  </div>
                  <div class="field">
                    <label>Season Folder Format</label>
                    <input type="text" name="season_folder_format" placeholder="{{preferences.season_folder_format}}" value="{{preferences.season_folder_format}}">
                  </div>
                </div>
              </div>
            </div>

            <!-- Validation message -->
            <div class="ui floating error message"></div>
            
            <!-- Submit button -->
            <button id="save-changes" class="ui primary animated button" type="submit">
              <div class="visible content">Save Changes</div>
              <div class="hidden content">
                <i class="right arrow icon"></i>
              </div>
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- Episode style modal -->
    <div id="style-modal" class="ui large modal">
      <i class="close icon"></i>
      <div class="header">Episode Styles</div>
      <div class="image content">
        <div class="ui stackable four column grid">
          <!-- Headers -->
          <div class="eight wide column">
            <h3 class="ui header">Art Styles</h3>
            <span><span class="ui red text">Art</span> styles utilize <span class="ui red text">series artwork</span> instead of episode unique images.</span>
            <span>Cards in this style will use the source image <span class="ui teal text">backdrop.jpg</span> by default.</span>
          </div>
          <div class="eight wide column">
            <h3 class="ui header">Unique Styles</h3>
            <span><span class="ui blue text">Unique</span> styles utilize <span class="ui blue text">episode backdrops</span> unique to each episode.</span>
            <span>Cards in this style will use the source image <span class="ui teal text">s{season_number}e{episode_number}.jpg</span> (e.g. <span class="ui teal text">s1e1.jpg</span>) by default.</span>
          </div>
          
          <div class="four wide column">
            <div class="ui fluid image">
              <div class="ui teal ribbon label">Art</div>
              <img src="/internal_assets/styles/art.jpg">
            </div>
          </div>
          <div class="four wide column">
            <div class="ui fluid image">
              <div class="ui teal ribbon label">Blurred Art</div>
              <img src="/internal_assets/styles/art blur.jpg">
            </div>
          </div>
          <div class="four wide column">
            <div class="ui fluid image">
              <div class="ui blue right ribbon label">Unique</div>
              <img src="/internal_assets/styles/unique.jpg">
            </div>
          </div>
          <div class="four wide column">
            <div class="ui fluid image">
              <div class="ui blue right ribbon label">Blurred Unique</div>
              <img src="/internal_assets/styles/unique blur.jpg">
            </div>
          </div>
          <div class="four wide column">
            <div class="ui fluid image">
              <div class="ui teal ribbon label">Grayscale Art</div>
              <img src="/internal_assets/styles/art grayscale.jpg">
            </div>
          </div>
          <div class="four wide column">
            <div class="ui fluid image">
              <div class="ui teal ribbon label">Blurred Grayscale Art</div>
              <img src="/internal_assets/styles/art blur grayscale.jpg">
            </div>
          </div>
          <div class="four wide column">
            <div class="ui fluid image">
              <div class="ui blue right ribbon label">Grayscale Unique</div>
              <img src="/internal_assets/styles/unique grayscale.jpg">
            </div>
          </div>
          <div class="four wide column">
            <div class="ui fluid image">
              <div class="ui blue right ribbon label">Blurred Grayscale Unique</div>
              <img src="/internal_assets/styles/unique blur grayscale.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    // Filled in later
    let allCards = [];
    // Enable dropdowns, checkboxes, etc.
    $('.ui.dropdown').dropdown();
    $('.ui.checkbox').checkbox();
    $('.message .close').on('click', function() {$(this)
      .closest('.message')
      .transition('fade');
    });

    // Show extension warning based on starting extension
    let currentExtension = $('#card-extension-input').val();
    $('#card-extension-warning').toggleClass(
      'visible', currentExtension === '.png' || currentExtension === '.tiff'
    );

    // Launch style modal when helper buttons are clicked
    $('#style-modal')
      .modal('attach events', '.button[data-value="style-button"]', 'show')
      .modal('setting', 'transition', 'fade up')
      .modal({blurring: true});

    // Toggle card extension warning on input
    $('#card-extension')
      .dropdown()
      .dropdown(
        'setting',
        'onChange', function(value, text) {
          $('#card-extension-warning').toggleClass(
            'visible', value === '.png' || value === '.tiff'
          );
        }
      );
    
    $('#settings-form')
      // Add form validation
      .form({
        on: 'blur',
        inline : true,
        fields: {
          card_directory: {
            rules: [{type: 'minLength[1]', prompt: 'Card directory is required'}]
          }, source_directory: {
            rules: [{type: 'minLength[1]', prompt: 'Source directory is required'}]
          }, image_source_priority: {
            rules: [{type: 'minCount[1]', prompt: 'Select at least one source'}]
          }, card_width: {
            rules: [{type: 'integer[1..]', prompt: 'Dimension must be a positive number'}]
          }, card_height: {
            rules: [{type: 'integer[1..]', prompt: 'Dimension must be a positive number'}]
          }, card_filename_format: {
            rules: [{type: 'minLength[1]', prompt: 'Filename format is required'}]
          }, 
        },
      })
      // On form submission, submit API request to change settings
      .on('submit', (event) => {
        event.preventDefault();
        if (!$('#settings-form').form('is valid')) { return; }
        $('#save-changes').toggleClass('loading', true);
        // Prep form
        let form = new FormData(event.target);
        const imageSourcePriority = form.get('image_source_priority') === '' ? [] : form.get('image_source_priority').split(',');
        const excludedCardTypes = (form.get('excluded_card_types') === '') ? [] : form.get('excluded_card_types').split(',');
        form.delete('image_source_priority'); form.delete('excluded_card_types');
        for (const [key, value] of [...form.entries()]) {
          if (value === '') { form.delete(key); }
        }
        // Add checkbox status as true/false
        $.each($("#settings-form").find('input[type=checkbox]'), (key, val) => {
          form.append($(val).attr('name'), $(val).is(':checked'))
        });

        $.ajax({
          type: 'PATCH',
          url: '/api/settings/update',
          data: JSON.stringify({
            ...Object.fromEntries(form),
            image_source_priority: imageSourcePriority,
            excluded_card_types: excludedCardTypes,
          }),
          contentType: 'application/json',
          success: response => { 
            $.toast({
              class: 'blue info',
              title: 'Updated Settings',
            });
          }, error: response => {
            $.toast({
              class: 'error',
              title: 'Unable to Update Settngs',
              message: formatValidationError(response),
              displayTime: 0,
            });
          }, complete: () => {
            $('#save-changes').toggleClass('loading', false);
          },
        });
      });

    (async () => {
      allCards = await initCardTypeDropdowns();
      updatePreviewTitleCard(allCards, '{{preferences.default_card_type}}');
    })()
  </script>
</body>

</html>