<!DOCTYPE html>
<html lang="en">

<head>
  <title>Settings - TitleCardMaker</title>
  {% include "./html_boilerplate.html" %}

  <script type="text/javascript">
    {% include "./js/settings.js" %}
  </script>
  
  <link rel="stylesheet" type="text/css" href="/templates/css/settings.css"/>
</head>

<body onload="initAll();">
  <div class="pusher">
    <!-- Static header and sidebar loaded by external script -->
    <div id="page-header"></div>
    <div id="nav-menu"></div>

    <!-- Actual page content -->
    <div id="main-content" class="article">
      <div class="ui stackable grid">
        <div id="settings" class="sixteen wide column">
          <h1 class="ui header" onclick="$('#about').toggleClass('hidden')" data-tooltip="Click to view info about TCM" data-position="bottom left">
            Settings
          </h1>
          {% if preferences.available_version is not none and preferences.available_version > preferences.current_version %}
          <div class="ui floating compact info message">
            <i class="info circle icon"></i>
            A new version of TitleCardMaker ({{preferences.available_version}}) is available.
          </div>
          <br>
          {% endif %}

          <!-- About info -->
          <div id="about" class="ui compact floating hidden info message">
            <div class="header">
              About
            </div>
            <div class="ui divided list">
              <div class="item">
                <div class="ui blue horizontal label">Current Version</div>
                {{preferences.current_version}}
              </div>
              <div class="item">
                <div class="ui blue horizontal label">Available Version</div>
                {{preferences.available_version}}
              </div>
              <div class="item">
                <div class="ui blue horizontal label">Execution Mode</div>
                {% if preferences.is_docker %}
                Docker
                {% else %}
                Standalone
                {% endif %}
              </div>
              <div class="item">
                <div class="ui blue horizontal label">Changelog</div>
                <a onclick="notifyChanges('{{preferences.current_version}}', true);">View</a>
              </div>
            </div>
          </div>

          <form id="settings-form" class="ui fluid form">
            <!-- Folder Settings -->
            <h3 class="ui horizontal divider header">
              <i class="folder open outline icon"></i>
              Root Folders
            </h3>
            <div class="field">
              <div class="field" data-tooltip="Directory to store all Title Cards">
                <label>Title Card Directory</label>
                <input type="text" name="card_directory" placeholder="{{preferences.card_directory}}" value="{{preferences.card_directory}}">
              </div>
              <div class="field" data-tooltip="Directory to store all textless source images">
                <label>Source Directory</label>
                <input type="text" name="source_directory" placeholder="{{preferences.source_directory}}" value="{{preferences.source_directory}}">
              </div>
            </div>

            <!-- Episode Data Settings -->
            <h3 class="ui horizontal divider header">
              <i class="layer group icon"></i>
              Episode Data
            </h3>
            <div id="episode-data-settings" class="field">
              <div class="field">
                <label>Episode Data Source</label>
                <div id="episode-data-source" class="ui compact selection dropdown" data-tooltip="Where to get Episode data from" data-position="right center">
                  <input id="episode-data-source-input" type="hidden" name="episode_data_source" value="{{preferences.episode_data_source}}">
                  <i class="dropdown icon"></i>
                  <div class="default text">{{preferences.episode_data_source}}</div>
                  <div id="episode-data-source-choices" class="menu">
                    <!-- Added asynchronously -->
                  </div>
                </div>
              </div>
              <div class="field">
                <label>Image Source Priority</label>
                <div id="image-source-priority" class="ui compact multiple selection dropdown" data-tooltip="Order to gather source images from" data-position="right center">
                  <input id="image-source-priority-input" type="hidden" name="image_source_priority">
                  <i class="dropdown icon"></i>
                  <div class="default text">Image Sources</div>
                  <div class="menu"><!-- Added asynchronousely --></div>
                </div>
              </div>
              <div class="ui checkbox field" data-tooltip="Whether to include Episodes from season 0">
                {% if preferences.sync_specials %}
                <input name="sync_specials" type="checkbox" checked="checked">
                {% else %}
                <input name="sync_specials" type="checkbox">
                {% endif %}
                <label>Sync Specials</label>
              </div>
            </div>

            <!-- Title Card Settings -->
            <h3 class="ui horizontal divider header">
              <i class="images outline icon"></i>
              Title Cards
            </h3>
            <div class="field">
              <div class="ui stackable grid">
                <!-- Card settings -->
                <div class="four wide column">
                  <div class="field">
                    <label>Default Card Type</label>
                    <div id="default-card-type" class="ui long compact search selection dropdown">
                      <span class="text"></span>
                      <input name="default_card_type" type="hidden" value="{{preferences.default_card_type.lower()}}">
                      <i class="dropdown icon"></i>
                      <div class="down menu"><!-- Added asynchronously --></div>
                    </div>
                  </div>

                  <div class="field">
                    <label>Excluded Card Types</label>
                    <div id="excluded-card-types" class="ui long compact selection multiple dropdown">
                      <span class="text"></span>
                      <input name="excluded_card_types" type="hidden">
                      <i class="dropdown icon"></i>
                      <div class="down menu"><!-- Added asynchronously --></div>
                    </div>
                  </div>

                  <div id="watched-style" class="field">
                    <label>Watched Episode Style</label>
                    <div class="ui long compact selection dropdown">
                      <span class="default text">{{preferences.default_watched_style.title()}}</span>
                      <input name="default_watched_style" type="hidden">
                      <i class="dropdown icon"></i>
                      <div class="menu">
                        <div class="header">Art Variations</div>
                        <div class="divider"></div>
                        <div class="item" data-value="art">Art</div>
                        <div class="item" data-value="art blur">Blurred Art</div>
                        <div class="item" data-value="art grayscale">Grayscale Art</div>
                        <div class="item" data-value="art blur grayscale">Blurred Grayscale Art</div>
                        <div class="header">Unique Variations</div>
                        <div class="divider"></div>
                        <div class="item" data-value="unique">Unique</div>
                        <div class="item" data-value="blur unique">Blurred Unique</div>
                        <div class="item" data-value="grayscale unique">Grayscale Unique</div>
                        <div class="item" data-value="blur grayscale unique">Blurred Grayscale Unique</div>
                      </div>
                    </div>
                    <div data-value="style-button" class="ui primary tertiary icon button">
                      <i class="question circle outline icon"></i>
                    </div>
                  </div>
    
                  <div id="unwatched-style" class="field">
                    <label>Unwatched Episode Style</label>
                    <div class="ui long compact selection dropdown">
                      <span class="default text">{{preferences.default_unwatched_style.title()}}</span>
                      <input name="default_unwatched_style" type="hidden">
                      <i class="dropdown icon"></i>
                      <div class="menu">
                        <div class="header">Art</div>
                        <div class="divider"></div>
                        <div class="item" data-value="art">Art</div>
                        <div class="item" data-value="art blur">Blurred Art</div>
                        <div class="item" data-value="art grayscale">Grayscale Art</div>
                        <div class="item" data-value="art blur grayscale">Blurred Grayscale Art</div>
                        
                        <div class="header">Unique Variations</div>
                        <div class="divider"></div>
                        <div class="item" data-value="unique">Unique</div>
                        <div class="item" data-value="blur unique">Blurred Unique</div>
                        <div class="item" data-value="grayscale unique">Grayscale Unique</div>
                        <div class="item" data-value="blur grayscale unique">Blurred Grayscale Unique</div>
                      </div>
                    </div>
                    <div data-value="style-button" class="ui primary tertiary icon button">
                      <i class="question circle outline icon"></i>
                    </div>
                  </div>

                  <div id="card-dimensions" class="two equal width dimension fields">
                    <div class="field" data-tooltip="Width of output title cards">
                      <label>Card Width</label>
                      <input name="card_width" type="number" placeholder="{{preferences.card_width}}" value="{{preferences.card_width}}">
                    </div>
                    <div class="field" data-tooltip="Height of output title cards">
                      <label>Card Height</label>
                      <input name="card_height" type="number" placeholder="{{preferences.card_height}}" value="{{preferences.card_height}}">
                    </div>
                  </div>
                </div>

                <!-- Card preview -->
                <div id="title-card-preview" class="twelve wide column">
                  <div class="ui horizontal raised card">
                    <div class="image">
                      <img alt="Preview Title Card" id="title-card-image" src="">
                    </div>
                    <div class="content">
                      <div id="title-card-name" class="header">CARD TYPE</div>
                      <div class="meta">
                        <span id="title-card-creators" class="author">AUTHOR(S)</span>
                        <br><span id="title-card-font-support"><i class="times icon"></i>Custom Fonts</span>
                        <br><span id="title-card-season-support"><i class="check icon"></i>Custom Season Titles</span>
                      </div>
                      <div id="title-card-description" class="description">
                        <p>DESCRIPTION(S)</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Filename Settings -->
            <h3 class="ui horizontal divider header">
              <i class="file outline icon"></i>
              File Naming
            </h3>
            <div id="filename-settings">
              <div class="field">
                <label>Card Extension</label>
                <div id="card-extension" class="ui compact selection dropdown">
                  <input id="card-extension-input" type="hidden" name="card_extension" value="{{preferences.card_extension}}">
                  <i class="dropdown icon"></i>
                  <div class="default text">{{preferences.card_extension}}</div>
                  <div id="card-extension-choices" class="menu">
                    {% for extension in preferences.valid_image_extensions %}
                    <div class="item" data-value="{{extension}}">{{extension}}</div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <!-- Filesize warning for uncompressed images -->
              <div id="card-extension-warning" class="ui compact floating warning message">
                <i class="exclamation triangle icon"></i>
                <b>Warning</b> Uncompressed images will significantly increase the file size of title cards.
              </div>

              <div class="field">
                <label>Filename Format</label>
                <input type="text" name="card_filename_format" placeholder="{{preferences.card_filename_format}}" value="{{preferences.card_filename_format}}">
              </div>
              
              <div class="field">
                <div class="two fields">
                  <div class="field">
                    <label>Specials Folder Format</label>
                    <input type="text" name="specials_folder_format" placeholder="{{preferences.specials_folder_format}}" value="{{preferences.specials_folder_format}}">
                  </div>
                  <div class="field">
                    <label>Season Folder Format</label>
                    <input type="text" name="season_folder_format" placeholder="{{preferences.season_folder_format}}" value="{{preferences.season_folder_format}}">
                  </div>
                </div>
              </div>
            </div>

            <h3 class="ui horizontal divider header">
              <i class="wrench icon"></i>
              Web Interface
            </h3>
            <div class="eight wide field" data-tooltip="How many Series per page to display on the Home Page">
              <label>Home Page Size</label>
              <input type="number" name="home_page_size" placeholder="{{preferences.home_page_size}}" value="{{preferences.home_page_size}}">
            </div>

            <div class="eight wide field" data-tooltip="How many Episodes per page to display in Episode data tables">
              <label>Episode Data Table Page Size</label>
              <input type="number" name="episode_data_page_size" placeholder="{{preferences.episode_data_page_size}}" value="{{preferences.episode_data_page_size}}">
            </div>
            <div class="ui checkbox field" data-value="simplified_data_table" data-tooltip="Whether to hide advanced columns in Episode Data tables">
              {% if preferences.simplified_data_table %}
              <input name="simplified_data_table" type="checkbox" checked="">
              {% else %}
              <input name="simplified_data_table" type="checkbox">
              {% endif %}
              <label>Simplified Episode Data Tables</label>
            </div>
            <br>

            <div class="ui checkbox field" data-tooltip="Whether to stylize the posters of Unmonitored Series on the Home Page">
              {% if preferences.stylize_unmonitored_posters %}
              <input name="stylize_unmonitored_posters" type="checkbox" checked="checked">
              {% else %}
              <input name="stylize_unmonitored_posters" type="checkbox">
              {% endif %}
              <label>Stylize Unmonitored Series Posters</label>
            </div>
            <br>

            <div class="ui checkbox field">
              {% if preferences.sources_as_table %}
              <input name="sources_as_table" type="checkbox" checked="checked">
              {% else %}
              <input name="sources_as_table" type="checkbox">
              {% endif %}
              <label>Display Source Image Data as a Table</label>
            </div>

            <!-- Validation message -->
            <div class="ui floating error message"></div>
            
            <!-- Submit button -->
            <br>
            <button id="save-changes" class="ui primary animated button" type="submit">
              <div class="visible content">Save Changes</div>
              <div class="hidden content">
                <i class="right arrow icon"></i>
              </div>
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- Episode style modal -->
    <div id="style-modal" class="ui large modal">
      <i class="close icon"></i>
      <div class="header">Episode Styles</div>
      <div class="image content">
        <div class="ui stackable four column grid">
          <!-- Headers -->
          <div class="eight wide column">
            <h3 class="ui header">Art Styles</h3>
            <span><span class="ui red text">Art</span> styles utilize <span class="ui red text">series artwork</span> instead of episode unique images.</span>
            <span>Cards in this style will use the source image <span class="ui teal text">backdrop.jpg</span> by default.</span>
          </div>
          <div class="eight wide column">
            <h3 class="ui header">Unique Styles</h3>
            <span><span class="ui blue text">Unique</span> styles utilize <span class="ui blue text">episode backdrops</span> unique to each episode.</span>
            <span>Cards in this style will use the source image <span class="ui teal text">s{season_number}e{episode_number}.jpg</span> (e.g. <span class="ui teal text">s1e1.jpg</span>) by default.</span>
          </div>
          
          <div class="four wide column">
            <div class="ui fluid image">
              <div class="ui teal ribbon label">Art</div>
              <img src="/internal_assets/styles/art.jpg">
            </div>
          </div>
          <div class="four wide column">
            <div class="ui fluid image">
              <div class="ui teal ribbon label">Blurred Art</div>
              <img src="/internal_assets/styles/art blur.jpg">
            </div>
          </div>
          <div class="four wide column">
            <div class="ui fluid image">
              <div class="ui blue right ribbon label">Unique</div>
              <img src="/internal_assets/styles/unique.jpg">
            </div>
          </div>
          <div class="four wide column">
            <div class="ui fluid image">
              <div class="ui blue right ribbon label">Blurred Unique</div>
              <img src="/internal_assets/styles/unique blur.jpg">
            </div>
          </div>
          <div class="four wide column">
            <div class="ui fluid image">
              <div class="ui teal ribbon label">Grayscale Art</div>
              <img src="/internal_assets/styles/art grayscale.jpg">
            </div>
          </div>
          <div class="four wide column">
            <div class="ui fluid image">
              <div class="ui teal ribbon label">Blurred Grayscale Art</div>
              <img src="/internal_assets/styles/art blur grayscale.jpg">
            </div>
          </div>
          <div class="four wide column">
            <div class="ui fluid image">
              <div class="ui blue right ribbon label">Grayscale Unique</div>
              <img src="/internal_assets/styles/unique grayscale.jpg">
            </div>
          </div>
          <div class="four wide column">
            <div class="ui fluid image">
              <div class="ui blue right ribbon label">Blurred Grayscale Unique</div>
              <img src="/internal_assets/styles/unique blur grayscale.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    
  </script>
</body>

</html>