<div class="ui left visible compact vertical inverted sidebar labeled icon menu">
  <a id="sidebar-series" class="item" href="/">
    <img alt="Title Card Maker Logo" src="/assets/logo128.png" style="margin: auto; max-width: 43px; max-height: 43px;">
  </a>
  <a id="sidebar-series" class="item" href="/">
    <i class="tv icon"></i>
    Series
  </a>
  <a id="sidebar-templates" class="item" href="/card-templates">
    <i class="clone outline icon"></i>
    Templates
  </a>
  <a id="sidebar-templates" class="item" href="/fonts">
    <i class="font icon"></i>
    Fonts
  </a>
  <a id="sidebar-sync" class="item" href="/sync">
    <i class="sync icon"></i>
    Sync
  </a>
  <a id="sidebar-connections" class="item" href="/connections">
    <i class="broadcast tower icon"></i>
    Connections
  </a>
  <a id="sidebar-settings" class="item" href="/settings">
    <i class="cogs icon"></i>
    Settings
  </a>
  <a id="sidebar-import" class="item" href="/import">
    <i class="file code icon"></i>
    Import YAML
  </a>
</div>