<div class="ui left visible compact vertical inverted sidebar labeled icon menu">
  <a class="glow-effect item" href="/" data-glow-animation="true">
    <i class="tv icon"></i>
    Series
    <svg class="glow-container">
      <rect pathLength="30" stroke-linecap="round" class="glow-blur"></rect>
      <rect pathLength="30" stroke-linecap="round" class="glow-line"></rect>
    </svg>
  </a>
  <a class="glow-effect item" href="/card-templates" data-glow-animation="true">
    <i class="clone outline icon"></i>
    Templates
    <svg class="glow-container">
      <rect pathLength="30" stroke-linecap="round" class="glow-blur"></rect>
      <rect pathLength="30" stroke-linecap="round" class="glow-line"></rect>
    </svg>
  </a>
  <a class="glow-effect item" href="/fonts" data-glow-animation="true">
    <i class="font icon"></i>
    Fonts
    <svg class="glow-container">
      <rect pathLength="30" stroke-linecap="round" class="glow-blur"></rect>
      <rect pathLength="30" stroke-linecap="round" class="glow-line"></rect>
    </svg>
  </a>
  <a class="glow-effect item" href="/sync" data-glow-animation="true">
    <i class="sync icon"></i>
    Sync
    <svg class="glow-container">
      <rect pathLength="30" stroke-linecap="round" class="glow-blur"></rect>
      <rect pathLength="30" stroke-linecap="round" class="glow-line"></rect>
    </svg>
  </a>
  <a class="glow-effect item" href="/settings" data-glow-animation="true">
    <i class="cogs icon"></i>
    Settings
    <svg class="glow-container">
      <rect pathLength="30" stroke-linecap="round" class="glow-blur"></rect>
      <rect pathLength="30" stroke-linecap="round" class="glow-line"></rect>
    </svg>
  </a>
  <!-- <a class="glow-effect item" href="/connections" data-glow-animation="true">
    <i class="broadcast tower icon"></i>
    Connections
    <svg class="glow-container">
      <rect pathLength="30" stroke-linecap="round" class="glow-blur"></rect>
      <rect pathLength="30" stroke-linecap="round" class="glow-line"></rect>
    </svg>
  </a> -->
  <!-- <a class="glow-effect item" href="/scheduler" data-glow-animation="true">
    <i class="stopwatch icon"></i>
    Scheduler
    <svg class="glow-container">
      <rect pathLength="30" stroke-linecap="round" class="glow-blur"></rect>
      <rect pathLength="30" stroke-linecap="round" class="glow-line"></rect>
    </svg>
  </a>
  <a class="glow-effect item" href="/import" data-glow-animation="true">
    <i class="file code icon"></i>
    Importer
    <svg class="glow-container">
      <rect pathLength="30" stroke-linecap="round" class="glow-blur"></rect>
      <rect pathLength="30" stroke-linecap="round" class="glow-line"></rect>
    </svg>
  </a> -->
</div>
