:root {
  --background-color-light: #f5f7fa;
  --background-color-dark: #2a2a2a;
  --sidebar-color-light: #1b1c1d;

  --theme-light-color: rgba(152, 152, 152, 0.3);
  --tcm-blue-color: rgb(99,145,210);

  /* Same as fomantic ui red */
  --support-button-color: #db2828;
}

body {
  background-color: var(--background-color-light);
}

/* Keep header as fixed (non-scrollable) content */
body > .pusher {
  display: flex;
  height: 100%;
  flex-direction: column;
}
#main-content {
  flex: 1;
  overflow: auto;
  overflow-x: hidden;
}

/* Center logo horizontally */
#tcm-logo {
  width: 115px;
}

/* Remove outline from logo */
#tcm-logo img {
  max-height: 50px;
}
#tcm-logo, #tcm-logo:hover {
  box-shadow: none;
}

/* Don't put any scrollbars in the sidebar */
#nav-menu > .sidebar {
  overflow: hidden;
}

/* Style for the header on all pages */
#page-header {
  height: 70px;
  background-color: var(--sidebar-color-light);
  position: sticky;
  top: 0px; /* Align to top of the page */
  z-index: 99; /* Position above all elements */
  display: flex;
  align-items: center;
}
#header-search {
  position: absolute;
  left: 125px;
}

/* Position sidebar below header */
#nav-menu .sidebar {
  top: 70px;
}

/* Format for the search results */
.search.content {
  display: inline-block;
  vertical-align: middle;
  /* Cut off any long series name */
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}
.search.content > img {
  height: 50px;
  width: 35px;
  vertical-align: middle;
  margin-right: 8px;
}
.search.result {
  padding: 7px !important;
}

/* Support button */
#support-button {
  /* 25px from right of screen */
  position: absolute;
  right: 25px;
  /* Add glow effect */
  /* color: var(--support-button-color); */
  border-radius: 0.25em;
  box-shadow: 0 0 1.1em 0 var(--support-button-color);
}
/* Don't leave any additional margin */
#support-button .button {
  margin: 0;
}

/* Theme toggle button */
#theme-toggle {
  position: absolute;
  right: 150px;
}

/* Style for the main content on all pages */
#main-content {
  /* Appropriate margin around sides and sidebar */
  /* margin: 15px 25px 15px 135px; */
  padding: 15px 15px 15px 135px;
}

html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}

/* Scrollbar customization */
::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  background: rgba(12, 12, 12, 0.2);
  border-radius: 100vw;
  margin-block: 0.5em;
}
::-webkit-scrollbar-thumb {
  background: var(--tcm-blue-color);
  border-radius: 100vw;
  border: 0.25em solid var(--tcm-blue-color);
}

/* Firefox support */
@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--tcm-blue-color) rgba(12,12,12, 0.2);
    /* scrollbar-width: thin; */ /* Use auto */
  }
}

/* Mobile formatting */
@media (max-width: 768px) {
  /* Use small nav bar */
  #nav-menu > .menu {
    /* width: 50px !important; */
  }

  /* Hide icons */
  #nav-menu i {
    display: none;
  }

  /* Use reduced  */
  #main-content {
    padding-left: 15px;
  }

  #nav-menu .item {
    padding: 0.5em 0.1em;
  }

  #nav-menu .sidebar {
    top: 70px;
     /* Hide sidebar by default */
    /* width: 0px !important; */
  }
  #page-header:hover + #nav-menu {
    width: 100px;
  }
}