:root {
  --background-color-light: #f5f7fa;
  --background-color-dark: #2a2a2a;
  --sidebar-color-light: #1b1c1d;

  --theme-light-color: rgba(152, 152, 152, 0.3);
  --tcm-blue-color: rgb(99,145,210);

  /* Same as fomantic ui red */
  --support-button-color: #db2828;
}

#main-content {
  /* background-color: var(--background-color-light); */
  background-image: linear-gradient(to bottom right, var(--background-color-light), #d9d9d9);
}

/* Keep header as fixed (non-scrollable) content */
body > .pusher {
  display: flex;
  height: 100%;
  flex-direction: column;
}
#main-content {
  flex: 1;
  overflow: auto;
  overflow-x: hidden;
}

/* Center logo horizontally */
#tcm-logo {
  width: 115px;
}
/* Remove outline from logo */
#tcm-logo img {
  max-height: 50px;
}
#tcm-logo, #tcm-logo:hover {
  box-shadow: none;
}

/* Don't put any scrollbars in the sidebar */
#nav-menu > .sidebar {
  overflow: hidden;
}

/* Style for the header on all pages */
#page-header {
  height: 70px;
  background-color: var(--sidebar-color-light);
  position: sticky;
  top: 0px; /* Align to top of the page */
  z-index: 99; /* Position above all elements */
  display: flex;
  align-items: center;
}
#header-search {
  position: absolute;
  left: 125px;
}

/* Position sidebar below header */
#nav-menu .sidebar {
  top: 70px;
}

/* Format for the search results */
.search.content {
  display: inline-block;
  vertical-align: middle;
  /* Cut off any long series name */
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}
.search.content > img {
  height: 50px;
  width: 35px;
  vertical-align: middle;
  margin-right: 8px;
}
.search.result {
  padding: 7px !important;
}

/* Format right aligned fields and inputs */
.right.aligned.field,
.right.aligned.field input {
  text-align: right;
}
/* Adjacent input fields need additional top margin */
input ~ input {
  margin-top: 4px !important;
}

/* Dropdown headers are red */
.ui.dropdown >* .header {
  color: crimson !important;
}

/* Add shadow around search input when selected */
#search-bar input:focus {
  box-shadow: 0 0 1.1em 0 var(--tcm-blue-color) !important;
}

/* Support button */
#support-button {
  /* 25px from right of screen */
  position: absolute;
  right: 25px;
  /* Add glow effect */
  /* color: var(--support-button-color); */
  border-radius: 0.25em;
  box-shadow: 0 0 1.1em 0 var(--support-button-color); /* 1.1 */
  animation: glowPulse 6s infinite;
}
/* Don't leave any additional margin */
#support-button .button {
  margin: 0;
}
@keyframes glowPulse {
  0%, 100% { box-shadow: 0 0 0.3em 1px var(--support-button-color); }
  50% { box-shadow: 0 0 1.5em 3px var(--support-button-color); }
  /* 0% { box-shadow: 0 0 1.1em 0 var(--support-button-color); } */
  /* 50% { box-shadow: 0 0 1.3em var(--support-button-color); } */
  /* 70% { box-shadow: 0 0 1.1em 5px var(--support-button-color); } */
  /* 100% { box-shadow: 0 0 1.1em 0 var(--support-button-color); } */
}

/* Theme toggle button */
#theme-toggle {
  position: absolute;
  right: 150px;
}

/* Style for the main content on all pages */
#main-content {
  /* Appropriate margin around sides and sidebar */
  /* margin: 15px 25px 15px 135px; */
  padding: 15px 15px 15px 135px;
}

html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}

/* Scrollbar customization */
::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  background: rgba(12, 12, 12, 0.2);
  border-radius: 100vw;
  margin-block: 0.5em;
}
::-webkit-scrollbar-thumb {
  background: var(--tcm-blue-color);
  border-radius: 100vw;
  border: 0.25em solid var(--tcm-blue-color);
}

/* Firefox support */
@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--tcm-blue-color) rgba(12,12,12, 0.2);
    /* scrollbar-width: thin; */ /* Use auto */
  }
}

/* Mobile formatting */
@media (max-width: 768px) {
  /* Remove fixed width on logo */
  #tcm-logo {
    width: unset;
  }

  /* Do not use absolute positioning, let items stack themselves */
  #page-header > div {
    position: unset;
    padding-left: 0.3em;
  }

  /* Shrink search input */
  #header-search input {
    width: 100px;
  }

  /* Hide icons */
  #nav-menu i {
    display: none;
  }

  /* Use reduced padding */
  #main-content {
    padding-left: 95px;
  }
  #nav-menu .item {
    padding: 0.5em 0.1em;
  }
  #nav-menu .sidebar {
    top: 70px;
     /* Hide sidebar by default */
    /* width: 0px !important; */
  }
}