<!DOCTYPE html>
<html lang="en">

<head>
  <title>Syncs - TitleCardMaker</title>
  {% include "./html_boilerplate.html" %}

  <script type="text/javascript">
    {% include "./js/sync.js" %}
  </script>

  <link rel="stylesheet" type="text/css" href="/templates/css/sync.css"/>

  <template id="sync-card-template">
    <div class="ui card">
      <div class="content">
        <i class="ui right floated trash alternate outline like icon" title="Delete this sync"></i>
        <i class="ui right floated sync icon" title="Sync Immediately"></i>
        <i class="ui right floated edit icon" title="Edit Sync"></i>
        <div class="header">{TEMPLATE NAME}</div>
        <div class="meta">
          <div class="sync-meta">Sync ID {TEMPLATE ID}</div>
        </div>
      </div>
    </div>
  </template>
</head>

<body onload="initAll();">
  <div class="pusher">
    <!-- Static header and sidebar loaded by external script -->
    <div id="page-header"></div>
    <div id="nav-menu"></div>

    <!-- Actual page content -->
    <div id="main-content" class="article">
      <div class="ui grid">
        <div id="sync" class="sixteen wide column">
          <h1 class="ui header">Syncs</h1>
          <div id="next-sync" class="ui compact raised segment"></div>

          <!-- Emby -->
          <section data-connection="emby">
            <h3 class="ui horizontal divider left aligned header">Emby</h3>
            <div id="emby-syncs" class="ui raised cards">
              <div class="ui add card">
                <div class="center aligned content">
                  <div id="add-emby-sync" class="ui blue button">
                    <i class="plus icon"></i>
                    Add Sync
                  </div>
                </div>
              </div>
              <!-- Other sync cards added asynchronously -->
            </div>
          </section>

          <!-- Jellyfin -->
          <section data-connection="jellyfin">
            <h3 class="ui horizontal divider left aligned header">Jellyfin</h3>
            <div id="jellyfin-syncs" class="ui raised cards">
              <div class="ui add card">
                <div class="center aligned content">
                  <div id="add-jellyfin-sync" class="ui blue button">
                    <i class="plus icon"></i>
                    Add Sync
                  </div>
                </div>
              </div>
              <!-- Other sync cards added asynchronously -->
            </div>
          </section>

          <!-- Plex -->
          <section data-connection="plex">
            <h3 class="ui horizontal divider left aligned header">Plex</h3>
            <div id="plex-syncs" class="ui raised cards">
              <div class="ui add card">
                <div class="center aligned content">
                  <div id="add-plex-sync" class="ui blue button">
                    <i class="plus icon"></i>
                    Add Sync
                  </div>
                </div>
              </div>
              <!-- Other sync cards added asynchronously -->
            </div>
          </section>

          <!-- Sonarr -->
          <section data-connection="sonarr">
            <h3 class="ui horizontal divider left aligned header">Sonarr</h3>
            <div id="sonarr-syncs" class="ui raised cards">
              <div class="ui add card">
                <div class="center aligned content">
                  <div id="add-sonarr-sync" class="ui blue button">
                    <i class="plus icon"></i>
                    Add Sync
                  </div>
                </div>
              </div>
              <!-- Other sync cards added asynchronously -->
            </div>
          </section>
        </div>
      </div>
    </div>

    <!-- New Sync Modals -->

    <!-- Emby -->
    <div id="add-emby-sync-modal" class="ui small sync modal">
      <i class="close icon"></i>
      <div class="header">New Emby Sync</div>
      <div class="content">
        <form id="emby-sync-form" class="ui form">
          <div class="required field">
            <label>Connection</label>
            <div data-type="emby_connections" data-value="interface_id" class="ui compact selection dropdown">
              <input type="hidden" name="interface_id">
              <i class="dropdown icon"></i>
              <div class="default text">Connection</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
          </div>

          <div class="required field">
            <label>Sync Name</label>
            <input name="name" type="text" minlength="1">
          </div>

          <div class="field">
            <label>Template to Apply</label>
            <div data-value="template_ids" class="ui multiple selection clearable dropdown">
              <input name="template_ids" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">None</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
          </div>

          <h4 class="ui horizontal divider header" title="Filter which series are synced">
            <i class="filter icon"></i>
            Filters
          </h4>

          <div class="field" title="Tags required for the series to be synced">
            <label>Tags</label>
            <div data-value="required_tags" dropdown-type="server-tags" class="ui multiple search selection dropdown additions">
              <input name="required_tags" type="hidden">
              <div class="default text">None</div>
            </div>
          </div>

          <div class="field">
            <label>Libraries</label>
            <div data-value="required_libraries" class="ui clearable multiple selection dropdown">
              <input name="required_libraries" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">Libraries</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
          </div>

          <h4 class="ui horizontal divider header" title="Elements to Exclude from this sync">
            <i class="times circle outline icon"></i>
            Exclusions
          </h4>

          <div class="field" title="Tags to exclude from this sync">
            <label>Tags</label>
            <div data-value="excluded_tags" dropdown-type="server-tags" class="ui multiple search selection dropdown additions">
              <input name="excluded_tags" type="hidden">
              <div class="default text">None</div>
            </div>
          </div>

          <div class="field">
            <label>Libraries</label>
            <div data-value="excluded_libraries" class="ui clearable multiple selection dropdown">
              <input type="hidden" name="excluded_libraries">
              <i class="dropdown icon"></i>
              <div class="default text">Libraries</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
          </div>
        </form>
      </div>
      <div class="center aligned actions">
        <button class="ui animated green button" form="emby-sync-form">
          <div class="visible content" data-value="primary-button">Create</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </button>
      </div>
    </div>

    <!-- Jellyfin -->
    <div id="add-jellyfin-sync-modal" class="ui small sync modal">
      <i class="close icon"></i>
      <div class="header">New Jellyfin Sync</div>
      <div class="content">
        <form id="jellyfin-sync-form" class="ui form">
          <div class="required field">
            <label>Connection</label>
            <div data-type="jellyfin_connections" data-value="interface_id" class="ui compact selection dropdown">
              <input type="hidden" name="interface_id">
              <i class="dropdown icon"></i>
              <div class="default text">Connection</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
          </div>

          <div class="required field">
            <label>Sync Name</label>
            <input name="name" type="text" minlength="1">
          </div>

          <div class="field">
            <label>Template to Apply</label>
            <div data-value="template_ids" class="ui multiple selection clearable dropdown">
              <input name="template_ids" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">None</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
          </div>

          <h4 class="ui horizontal divider header" title="Filter which series are synced">
            <i class="filter icon"></i>
            Filters
          </h4>

          <div class="field" title="Tags required for the series to be synced">
            <label>Tags</label>
            <div data-value="required_tags" dropdown-type="server-tags" class="ui multiple search selection dropdown additions">
              <input name="required_tags" type="hidden">
              <div class="default text">None</div>
            </div>
          </div>

          <div class="field">
            <label>Libraries</label>
            <div data-value="required_libraries" class="ui clearable multiple selection dropdown">
              <input type="hidden" name="required_libraries">
              <i class="dropdown icon"></i>
              <div class="default text">Libraries</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
          </div>

          <h4 class="ui horizontal divider header" title="Elements to Exclude from this sync">
            <i class="times circle outline icon"></i>
            Exclusions
          </h4>

          <div class="field" title="Tags to exclude from this sync">
            <label>Tags</label>
            <div data-value="excluded_tags" dropdown-type="server-tags" class="ui multiple search selection dropdown additions">
              <input name="excluded_tags" type="hidden">
              <div class="default text">None</div>
            </div>
          </div>

          <div class="field">
            <label>Libraries</label>
            <div data-value="excluded_libraries" class="ui clearable multiple selection dropdown">
              <input type="hidden" name="excluded_libraries">
              <i class="dropdown icon"></i>
              <div class="default text">Libraries</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
          </div>
        </form>
      </div>
      <div class="center aligned actions">
        <button class="ui animated green button" form="jellyfin-sync-form">
          <div class="visible content" data-value="primary-button">Create</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </button>
      </div>
    </div>

    <!-- Plex -->
    <div id="add-plex-sync-modal" class="ui small sync modal">
      <i class="close icon"></i>
      <div class="header">New Plex Sync</div>
      <div class="content">
        <form id="plex-sync-form" class="ui form">
          <div class="required field">
            <label>Connection</label>
            <div data-type="plex_connections" data-value="interface_id" class="ui compact selection dropdown">
              <input type="hidden" name="interface_id">
              <i class="dropdown icon"></i>
              <div class="default text">Connection</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
          </div>

          <div class="required field">
            <label>Sync Name</label>
            <input name="name" type="text" minlength="1">
          </div>

          <div class="field">
            <label>Templates to Apply</label>
            <div data-value="template_ids" class="ui multiple selection clearable dropdown">
              <input name="template_ids" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">None</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
          </div>

          <h4 class="ui horizontal divider header" title="Filter which series are synced">
            <i class="filter icon"></i>
            Filters
          </h4>

          <div class="field" title="Tags required for the series to be synced">
            <label>Tags</label>
            <div data-value="required_tags" dropdown-type="server-tags" class="ui multiple search selection dropdown additions">
              <input name="required_tags" type="hidden">
              <div class="default text">None</div>
            </div>
          </div>

          <div class="field">
            <label>Libraries</label>
            <div data-value="required_libraries" class="ui clearable multiple selection dropdown">
              <input type="hidden" name="required_libraries">
              <i class="dropdown icon"></i>
              <div class="default text">Libraries</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
          </div>

          <h4 class="ui horizontal divider header" title="Elements to Exclude from this sync">
            <i class="times circle outline icon"></i>
            Exclusions
          </h4>

          <div class="field" title="Tags to exclude from this sync">
            <label>Tags</label>
            <div data-value="excluded_tags" dropdown-type="server-tags" class="ui multiple search selection dropdown additions">
              <input name="excluded_tags" type="hidden">
              <div class="default text">None</div>
            </div>
          </div>

          <div class="field">
            <label>Libraries</label>
            <div data-value="excluded_libraries" class="ui clearable multiple selection dropdown">
              <input type="hidden" name="excluded_libraries" tabindex="5">
              <i class="dropdown icon"></i>
              <div class="default text">Libraries</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
          </div>
        </form>
      </div>
      <div class="center aligned actions">
        <button class="ui animated green button" form="plex-sync-form">
          <div class="visible content" data-value="primary-button">Create</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </button>
      </div>
    </div>

    <!-- Sonarr -->
    <div id="add-sonarr-sync-modal" class="ui small sync modal">
      <i class="close icon"></i>
      <div class="header">New Sonarr Sync</div>
      <div class="content">
        <form id="sonarr-sync-form" class="ui form">
          <div class="required field">
            <label>Connection</label>
            <div data-type="sonarr_connections" data-value="interface_id" class="ui compact selection dropdown">
              <input type="hidden" name="interface_id">
              <i class="dropdown icon"></i>
              <div class="default text">Connection</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
          </div>

          <div class="required field">
            <label>Sync Name</label>
            <input name="name" type="text" minlength="1">
          </div>

          <div class="field">
            <label>Template to Apply</label>
            <div data-value="template_ids" class="ui multiple selection clearable dropdown">
              <input name="template_ids" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">None</div>
              <div class="menu">
                <!-- Added asynchronously -->
              </div>
            </div>
          </div>

          <h4 class="ui horizontal divider header" title="Filter which Series are synced">
            <i class="filter icon"></i>
            Filters
          </h4>

          <div class="field" data-tooltip="Tags required for the Series to be synced">
            <label>Tags</label>
            <div data-value="required_tags" dropdown-type="sonarr-tags" class="ui fluid multiple search selection dropdown additions">
              <input name="required_tags" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">None</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
          </div>

          <div class="field" data-tooltip="Only include Series of the specified type">
            <label>Series Type</label>
            <div data-value="required_series_type" dropdown-type="series-type" class="ui selection clearable dropdown">
              <input name="required_series_type" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">None</div>
              <div class="menu">
                <div class="item" data-value="anime">Anime</div>
                <div class="item" data-value="daily">Daily</div>
                <div class="item" data-value="standard">Standard</div>
              </div>
            </div>
          </div>

          <div class="two fields">
            <div class="ui checkbox field" data-tooltip="Whether to only include Series that have at least one downloaded episode">
              <input name="downloaded_only" type="checkbox">
              <label>Downloaded Only</label>
            </div>
  
            <div class="ui checkbox field" data-tooltip="Whether to exclude Unmonitored Series">
              <input name="monitored_only" type="checkbox">
              <label>Monitored Only</label>
            </div>
          </div>

          <h4 class="ui horizontal divider header" title="Elements to Exclude from this Sync">
            <i class="times circle outline icon"></i>
            Exclusions
          </h4>

          <div class="field" data-tooltip="Tags to exclude from this Sync">
            <label>Tags</label>
            <div data-value="excluded_tags" dropdown-type="sonarr-tags" class="ui fluid multiple search selection dropdown">
              <input name="excluded_tags" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">None</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
          </div>

          <div class="field" data-tooltip="Exclude Series of the specified type">
            <label>Series Type</label>
            <div data-value="excluded_series_type" dropdown-type="series-type" class="ui selection clearable dropdown">
              <input name="excluded_series_type" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">None</div>
              <div class="menu">
                <div class="item" data-value="anime">Anime</div>
                <div class="item" data-value="daily">Daily</div>
                <div class="item" data-value="standard">Standard</div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="center aligned actions">
        <button class="ui animated green button" form="sonarr-sync-form">
          <div class="visible content" data-value="primary-button">Create</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </button>
      </div>
    </div>

    <!-- Delete Sync Modal -->
    <div id="delete-sync-modal" class="ui basic modal">
      <div class="ui icon header">
        <i class="trash icon"></i>
        Delete Sync?
      </div>
      <div class="center aligned scrolling content">
        <span class="ui blue text">This action cannot be undone.</span>
        <br>
        <span class="ui blue text">This Sync is linked to the following Series:</span>
        <ul class="ui list" data-value="series-list"></ul>
      <div class="center aligned actions">
        <div class="ui green ok basic inverted button">
          <i class="remove icon"></i>
          No
        </div>
        <div data-action="delete-sync-only" class="ui red cancel basic inverted button">
          <i class="trash alternate outline icon"></i>
          Yes
        </div>
        <div data-action="delete-sync-and-series" class="ui red ok inverted button">
          <i class="trash alternate outline icon"></i>
          Yes, and Delete Associated Series
        </div>
      </div>
    </div>

  </div>
</body>

</html>