<!DOCTYPE html>
<html lang="en">

<head>
  <title>Syncs - TitleCardMaker</title>
  {% include "./html_boilerplate.html" %}

  <script type="text/javascript">
    {% include "./js/sync.js" %}
  </script>

  <link rel="stylesheet" type="text/css" href="/templates/css/sync.css"/>

  <template id="sync-card-template">
    <div class="ui card">
      <div class="content">
        <i class="ui right floated trash alternate outline like icon" title="Delete this sync"></i>
        <i class="ui right floated sync icon" title="Sync Immediately"></i>
        <i class="ui right floated edit icon" title="Edit Sync"></i>
        <div class="header">{TEMPLATE NAME}</div>
        <div class="meta">
          <div class="sync-meta">Sync ID {TEMPLATE ID}</div>
        </div>
      </div>
    </div>
  </template>
</head>

<body onload="initAll();">
  <div class="pusher">
    <!-- Static header and sidebar -->
    <div id="page-header">
      {% include "./header.html" %}
    </div>
    <div id="nav-menu">
      {% include "./sidebar.html" %}
    </div>

    <!-- Actual page content -->
    <div id="main-content" class="article">
      <div class="ui grid">
        <div id="sync" class="sixteen wide column">
          <h1 class="ui header">Syncs</h1>
          
          {% if not preferences.use_emby and not preferences.use_jellyfin and not preferences.use_plex and not preferences.use_sonarr %}
          <div class="ui compact floating visible info message">
            <i class="info circle icon"></i>
            Syncs can be created <i>after</i> <a href="/connections">Connections</a> are defined.
          </div>
          {% else %}
          <div id="next-sync" class="ui compact raised segment"></div>
          {% endif %}

          <!-- Emby -->
          {% if preferences.use_emby %}
          <h3 class="ui horizontal divider left aligned header">Emby</h3>
          <div id="emby-syncs" class="ui raised cards">
            <div class="ui add card">
              <div class="center aligned content">
                {% if preferences.use_emby %}
                <div id="add-emby-sync" class="ui blue button">
                {% else %}
                <div id="add-emby-sync" class="ui blue disabled button">
                {% endif %}
                  <i class="plus icon"></i>
                  Add Sync
                </div>
              </div>
            </div>
            <!-- Other sync cards added asynchronously -->
          </div>
          {% endif %}

          <!-- Jellyfin -->
          {% if preferences.use_jellyfin %}
          <h3 class="ui horizontal divider left aligned header">Jellyfin</h3>
          <div id="jellyfin-syncs" class="ui raised cards">
            <div class="ui add card">
              <div class="center aligned content">
                {% if preferences.use_jellyfin %}
                <div id="add-jellyfin-sync" class="ui blue button">
                {% else %}
                <div id="add-jellyfin-sync" class="ui blue disabled button">
                {% endif %}
                  <i class="plus icon"></i>
                  Add Sync
                </div>
              </div>
            </div>
            <!-- Other sync cards added asynchronously -->
          </div>
          {% endif %}

          <!-- Plex -->
          {% if preferences.use_plex %}
          <h3 class="ui horizontal divider left aligned header">Plex</h3>
          <div id="plex-syncs" class="ui raised cards">
            <div class="ui add card">
              <div class="center aligned content">
                {% if preferences.use_plex %}
                <div id="add-plex-sync" class="ui blue button">
                {% else %}
                <div id="add-plex-sync" class="ui blue disabled button">
                {% endif %}
                  <i class="plus icon"></i>
                  Add Sync
                </div>
              </div>
            </div>
            <!-- Other sync cards added asynchronously -->
          </div>
          {% endif %}

          <!-- Sonarr -->
          {% if preferences.use_sonarr %}
          <h3 class="ui horizontal divider left aligned header">Sonarr</h3>
          <div id="sonarr-syncs" class="ui raised cards">
            <div class="ui add card">
              <div class="center aligned content">
                {% if preferences.use_sonarr %}
                <div id="add-sonarr-sync" class="ui blue button">
                {% else %}
                <div id="add-sonarr-sync" class="ui blue disabled button">
                {% endif %}
                  <i class="plus icon"></i>
                  Add Sync
                </div>
              </div>
            </div>
            <!-- Other sync cards added asynchronously -->
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- New Sync Modals -->

    <!-- Emby -->
    {% if preferences.use_emby %}
    <div id="add-emby-sync-modal" class="ui small sync modal">
      <i class="close icon"></i>
      <div class="header">New Emby Sync</div>
      <div class="content">
        <form id="emby-sync-form" class="ui form">
          <div class="required field">
            <label>Sync Name</label>
            <input name="name" type="text" minlength="1">
          </div>

          <div class="field">
            <label>Template to Apply</label>
            <div data-value="template_ids" class="ui multiple selection clearable dropdown">
              <input name="template_ids" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">None</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
            <p class="help">Add the specified Template(s) to any Synced Series. Templates can be freely edited after they're Synced.</p>
          </div>

          <h4 class="ui horizontal divider header" title="Filter which Series are Synced">
            <i class="filter icon"></i>
            Filters
          </h4>

          <div class="field">
            <label>Tags</label>
            <div data-value="required_tags" dropdown-type="server-tags" class="ui multiple search selection dropdown additions">
              <input name="required_tags" type="hidden">
              <div class="default text">None</div>
            </div>
            <p class="help">Tags required for a Series to be Synced. Hit <kbd class="ui tiny basic label">ENTER</kbd> after each Tag.</p>
          </div>

          <div class="field">
            <label>Libraries</label>
            <div data-value="required_libraries" class="ui clearable multiple selection dropdown">
              <input name="required_libraries" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">Libraries</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
            <p class="help">Only Sync Series from the specified Libraries.</p>
          </div>

          <h4 class="ui horizontal divider header" title="Elements to exclude from this Sync">
            <i class="times circle outline icon"></i>
            Exclusions
          </h4>

          <div class="field">
            <label>Tags</label>
            <div data-value="excluded_tags" dropdown-type="server-tags" class="ui multiple search selection dropdown additions">
              <input name="excluded_tags" type="hidden">
              <div class="default text">None</div>
            </div>
            <p class="help">Exclude Series with any of these Tags. Hit <kbd class="ui tiny basic label">ENTER</kbd> after each Tag.</p>
          </div>

          <div class="field">
            <label>Libraries</label>
            <div data-value="excluded_libraries" class="ui clearable multiple selection dropdown">
              <input type="hidden" name="excluded_libraries">
              <i class="dropdown icon"></i>
              <div class="default text">Libraries</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
            <p class="help">Exclude Series from any of these Libraries.</p>
          </div>
        </form>
      </div>
      <div class="center aligned actions">
        <button class="ui animated green button" form="emby-sync-form">
          <div class="visible content" data-value="primary-button">Create</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </button>
      </div>
    </div>
    {% endif %}

    <!-- Jellyfin -->
    {% if preferences.use_jellyfin %}
    <div id="add-jellyfin-sync-modal" class="ui small sync modal">
      <i class="close icon"></i>
      <div class="header">New Jellyfin Sync</div>
      <div class="content">
        <form id="jellyfin-sync-form" class="ui form">
          <div class="required field">
            <label>Sync Name</label>
            <input name="name" type="text" minlength="1">
          </div>

          <div class="field">
            <label>Template to Apply</label>
            <div data-value="template_ids" class="ui multiple selection clearable dropdown">
              <input name="template_ids" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">None</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
            <p class="help">Add the specified Template(s) to any Synced Series. Templates can be freely edited after they're Synced.</p>
          </div>

          <h4 class="ui horizontal divider header" title="Filter which Series are Synced">
            <i class="filter icon"></i>
            Filters
          </h4>

          <div class="field">
            <label>Tags</label>
            <div data-value="required_tags" dropdown-type="server-tags" class="ui multiple search selection dropdown additions">
              <input name="required_tags" type="hidden">
              <div class="default text">None</div>
            </div>
            <p class="help">Tags required for a Series to be Synced. Hit <kbd class="ui tiny basic label">ENTER</kbd> after each Tag.</p>
          </div>

          <div class="field">
            <label>Libraries</label>
            <div data-value="required_libraries" class="ui clearable multiple selection dropdown">
              <input type="hidden" name="required_libraries">
              <i class="dropdown icon"></i>
              <div class="default text">Libraries</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
            <p class="help">Only Sync Series from the specified Libraries.</p>
          </div>

          <h4 class="ui horizontal divider header" title="Elements to exclude from this Sync">
            <i class="times circle outline icon"></i>
            Exclusions
          </h4>

          <div class="field">
            <label>Tags</label>
            <div data-value="excluded_tags" dropdown-type="server-tags" class="ui multiple search selection dropdown additions">
              <input name="excluded_tags" type="hidden">
              <div class="default text">None</div>
            </div>
            <p class="help">Exclude Series with any of these Tags. Hit <kbd class="ui tiny basic label">ENTER</kbd> after each Tag.</p>
          </div>

          <div class="field">
            <label>Libraries</label>
            <div data-value="excluded_libraries" class="ui clearable multiple selection dropdown">
              <input type="hidden" name="excluded_libraries">
              <i class="dropdown icon"></i>
              <div class="default text">Libraries</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
            <p class="help">Exclude Series from any of these Libraries.</p>
          </div>
        </form>
      </div>
      <div class="center aligned actions">
        <button class="ui animated green button" form="jellyfin-sync-form">
          <div class="visible content" data-value="primary-button">Create</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </button>
      </div>
    </div>
    {% endif %}

    <!-- Plex -->
    {% if preferences.use_plex %}
    <div id="add-plex-sync-modal" class="ui small sync modal">
      <i class="close icon"></i>
      <div class="header">New Plex Sync</div>
      <div class="content">
        <form id="plex-sync-form" class="ui form">
          <div class="required field">
            <label>Sync Name</label>
            <input name="name" type="text" minlength="1">
          </div>

          <div class="field">
            <label>Templates to Apply</label>
            <div data-value="template_ids" class="ui multiple selection clearable dropdown">
              <input name="template_ids" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">None</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
            <p class="help">Add the specified Template(s) to any Synced Series. Templates can be freely edited after they're Synced.</p>
          </div>

          <h4 class="ui horizontal divider header" title="Filter which Series are Synced">
            <i class="filter icon"></i>
            Filters
          </h4>

          <div class="field">
            <label>Tags</label>
            <div data-value="required_tags" dropdown-type="server-tags" class="ui multiple search selection dropdown additions">
              <input name="required_tags" type="hidden">
              <div class="default text">None</div>
            </div>
            <p class="help">Tags required for a Series to be Synced. Hit <kbd class="ui tiny basic label">ENTER</kbd> after each Tag.</p>
          </div>

          <div class="field">
            <label>Libraries</label>
            <div data-value="required_libraries" class="ui clearable multiple selection dropdown">
              <input type="hidden" name="required_libraries">
              <i class="dropdown icon"></i>
              <div class="default text">Libraries</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
            <p class="help">Only Sync Series from the specified Libraries.</p>
          </div>

          <h4 class="ui horizontal divider header" title="Elements to exclude from this Sync">
            <i class="times circle outline icon"></i>
            Exclusions
          </h4>

          <div class="field">
            <label>Tags</label>
            <div data-value="excluded_tags" dropdown-type="server-tags" class="ui multiple search selection dropdown additions">
              <input name="excluded_tags" type="hidden">
              <div class="default text">None</div>
            </div>
            <p class="help">Exclude Series with any of these Tags. Hit <kbd class="ui tiny basic label">ENTER</kbd> after each Tag.</p>
          </div>

          <div class="field">
            <label>Libraries</label>
            <div data-value="excluded_libraries" class="ui clearable multiple selection dropdown">
              <input type="hidden" name="excluded_libraries" tabindex="5">
              <i class="dropdown icon"></i>
              <div class="default text">Libraries</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
            <p class="help">Exclude Series from any of these Libraries.</p>
          </div>
        </form>
      </div>
      <div class="center aligned actions">
        <button class="ui animated green button" form="plex-sync-form">
          <div class="visible content" data-value="primary-button">Create</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </button>
      </div>
    </div>
    {% endif %}

    <!-- Sonarr -->
    {% if preferences.use_sonarr %}
    <div id="add-sonarr-sync-modal" class="ui small sync modal">
      <i class="close icon"></i>
      <div class="header">New Sonarr Sync</div>
      <div class="content">
        <form id="sonarr-sync-form" class="ui form">
          <div class="required field">
            <label>Sync Name</label>
            <input name="name" type="text" minlength="1">
          </div>

          <div class="field">
            <label>Template(s) to Apply</label>
            <div data-value="template_ids" class="ui multiple selection clearable dropdown">
              <input name="template_ids" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">None</div>
              <div class="menu">
                <!-- Added asynchronously -->
              </div>
            </div>
            <p class="help">Add the specified Template(s) to any Synced Series. Templates can be freely edited after they're Synced.</p>
          </div>

          <h4 class="ui horizontal divider header" title="Filter which Series are Synced">
            <i class="filter icon"></i>
            Filters
          </h4>

          <div class="field">
            <label>Tags</label>
            <div data-value="required_tags" dropdown-type="sonarr-tags" class="ui fluid multiple search selection dropdown additions">
              <input name="required_tags" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">None</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
            <p class="help">
              Tags required for a Series to be Synced. Add custom Tags by typing them and hitting <kbd class="ui tiny basic label">ENTER</kbd>.
            </p>
          </div>

          <div class="field">
            <label>Series Type</label>
            <div data-value="required_series_type" dropdown-type="series-type" class="ui selection clearable dropdown">
              <input name="required_series_type" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">None</div>
              <div class="menu">
                <div class="item" data-value="anime">Anime</div>
                <div class="item" data-value="daily">Daily</div>
                <div class="item" data-value="standard">Standard</div>
              </div>
            </div>
            <p class="help">Only include Series of the specified type.</p>
          </div>

          <div class="two fields">
            <div class="ui checkbox field">
              <label>Downloaded Only</label>
              <input name="downloaded_only" type="checkbox">
              <p class="help">Require Series to have at least one Episode downloaded.</p>
            </div>
  
            <div class="ui checkbox field">
              <label>Monitored Only</label>
              <input name="monitored_only" type="checkbox">
              <p class="help">Exclude unmonitored Series.</p>
            </div>
          </div>

          <h4 class="ui horizontal divider header" title="Elements to exclude from this Sync">
            <i class="times circle outline icon"></i>
            Exclusions
          </h4>

          <div class="field">
            <label>Tags</label>
            <div data-value="excluded_tags" dropdown-type="sonarr-tags" class="ui fluid multiple search selection dropdown">
              <input name="excluded_tags" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">None</div>
              <div class="menu"><!-- Added asynchronously --></div>
            </div>
            <p class="help">
              Exclude Series with any of these Tags. Add custom Tags by typing them and hitting <kbd class="ui tiny basic label">ENTER</kbd>.
            </p>
          </div>

          <div class="field">
            <label>Series Type</label>
            <div data-value="excluded_series_type" dropdown-type="series-type" class="ui selection clearable dropdown">
              <input name="excluded_series_type" type="hidden">
              <i class="dropdown icon"></i>
              <div class="default text">None</div>
              <div class="menu">
                <div class="item" data-value="anime">Anime</div>
                <div class="item" data-value="daily">Daily</div>
                <div class="item" data-value="standard">Standard</div>
              </div>
            </div>
            <p class="help">Exclude all Series of the specified type.</p>
          </div>
        </form>
      </div>

      <div class="center aligned actions">
        <button class="ui animated green button" form="sonarr-sync-form">
          <div class="visible content" data-value="primary-button">Create</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </button>
      </div>
    </div>
    {% endif %}

    <!-- Delete Sync Modal -->
    <div id="delete-sync-modal" class="ui basic modal">
      <div class="ui icon header">
        <i class="trash icon"></i>
        Delete Sync?
      </div>
      <div class="center aligned scrolling content">
        <span class="ui blue text">This action cannot be undone.</span>
        <br>
        <span class="ui blue text">This Sync is linked to the following Series:</span>
        <ul class="ui list" data-value="series-list"></ul>
      <div class="center aligned actions">
        <div class="ui green ok basic inverted button">
          <i class="remove icon"></i>
          No
        </div>
        <div data-action="delete-sync-only" class="ui red cancel basic inverted button">
          <i class="trash alternate outline icon"></i>
          Yes
        </div>
        <div data-action="delete-sync-and-series" class="ui red ok inverted button">
          <i class="trash alternate outline icon"></i>
          Yes, and Delete Associated Series
        </div>
      </div>
    </div>

  </div>
</body>

</html>