<!DOCTYPE html>
<html lang="en">

<head>
  <title>System - TitleCardMaker</title>
  {% include "./html_boilerplate.html" %}
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>

  <script type="text/javascript">
    {% include "./js/system.js" %}
  </script>
  
  <link rel="stylesheet" type="text/css" href="/templates/css/system.css?v={{preferences.current_version}}"/>

  <template id="extra-input-template">
    <div class="field">
      <label>{label}</label>
      <input type="text">
      <p class="help">{tooltip}</p>
    </div>
  </template>

  <template id="backup-row-template">
    <tr class="center aligned">
      <td data-action="restore"><i class="ui undo icon"></i></td>
      <td data-value="timestamp">July 21, 2024 at 01:15:25</td>
      <td data-value="version">v10.1.0-webui156</td>
      <td data-value="schema">84971838f3fc</td>
      <td data-value="database-filesize">28.4 MB</td>
      <td data-value="settings-filesize">3.2 KB</td>
      <td data-action="delete"><i class="trash alternate icon"></i></td>
    </tr>
  </template>
</head>

<body onload="initAll();">
  <div class="pusher">
    <!-- Static header and sidebar -->
    <div id="page-header">
      {% include "./header.html" %}
    </div>
    <div id="nav-menu">
      {% include "./system_sidebar.html" %}
    </div>

    <!-- Actual page content -->
    <div id="main-content" class="article">
      <h2 class="ui header">System Details</h2>

      <div class="ui relaxed divided list">
        <div class="item">
          <div class="content">
            <a class="header" href="/changelog#{{ preferences.current_version }}">Current Version</a>
            <div class="description">{{ preferences.current_version }}</div>
          </div>
        </div>

        <!-- <div class="item">
          <div class="content">
            <a class="header" href="https://github.com/TitleCardMaker/TitleCardMaker-WebUI/releases">Available Version</a>
            <div class="description">{{ preferences.available_version }}</div>
          </div>
        </div> -->

        <div class="item">
          <div class="content">
            <div class="header">Execution Mode</div>
            <div class="description">
              {% if preferences.is_docker %}
              Docker
              {% else %}
              Non-Docker
              {% endif %}
            </div>
          </div>
        </div>

        <div class="item">
          <div class="content">
            <div class="header">Database Schema</div>
            <div class="description">{{ preferences.current_db_schema }}</div>
          </div>
        </div>

        <div class="item">
          <div class="content">
            <div class="header">Uptime</div>
            <div class="description" data-value="uptime">{{ preferences.server_boot_time }}</div>
          </div>
        </div>
      </div>

      <!-- Links -->
      <h2 class="ui header">Links</h2>

      <div class="ui relaxed divided list">
        <div class="item">
          <div class="content">
            <a class="header" href="https://titlecardmaker.com/">Website</a>
            <div class="description">https://titlecardmaker.com/</div>
          </div>
        </div>

        <div class="item">
          <div class="content">
            <a class="header" href="https://discord.gg/bJ3bHtw8wH">Discord</a>
            <div class="description">https://discord.gg/bJ3bHtw8wH</div>
          </div>
        </div>

        <div class="item">
          <div class="content">
            <a class="header" href="https://github.com/TitleCardMaker/TitleCardMaker-WebUI">Source Code</a>
            <div class="description">https://github.com/TitleCardMaker/TitleCardMaker-WebUI</div>
          </div>
        </div>
      </div>

      <!-- Backups -->
      <h2 class="ui header">System Backups</h2>

      <table class="ui collapsing sortable table" id="system-backups">
        <thead>
          <tr class="center aligned">
            <th data-sort-method="none">Restore</th>
            <th data-row-label="timestamp">Timestamp</th>
            <th data-row-label="version">Version</th>
            <th data-row-label="schema">Database Schema</th>
            <th data-row-label="database-filesize"><span>Database Filesize</span></th>
            <th data-row-label="settings-filesize"><span>Settings Filesize</span></th>
            <th data-row-label="delete" data-sort-method="none">Delete</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>

    </div>
  </div>
</body>

</html>
